<div class="apartment-form estate">
    <form class="form-horizontal" role="form">

        <input class="hidden" type="text"  name="type" value="206">
        <input class="hidden" type="text"  name="state" value="87">
        <input class="hidden" type="text"  name="city" value="87">
        <input class="hidden" type="text" name="latitude"  id='latitude-input'/>
        <input class="hidden" type="text" name="longitude" id='longitude-input'/>
        <input class="hidden" type="text" name="advId" id='advId'/>

        <div class="mk-docs-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="file-info">
                        <div class="col-md-8">
                            <div class="file-form-apartment">
                                <div class="agahi-form">
                                    <div>
                                        <span>آگهی مستغلات</span>
                                    </div>
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <div class="cnt-table-content cnt-select cnt-select-big">
                                                    <div class="rf-content-select">آگهی</div>
                                                    <select class="request" name="request" tabindex="1" title="انتخاب کنید">
                                                        <option value="301">فروش</option>
                                                        <option value="302">پیش فروش</option>
                                                        <option value="303">اجاره</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">قیمت</div>
                                                    <div class="lf-content">تومان</div>
                                                    <div class="cf-content"><input name="price" maxlength="15" tabindex="2" type="text" class="number-inp comma" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">متری</div>
                                                    <div class="lf-content">تومان</div>
                                                    <div class="cf-content"><input name="exPrice" maxlength="15" tabindex="3" type="text" class="number-inp comma" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">وام </div>
                                                    <div class="lf-content">تومان</div>
                                                    <div class="cf-content"><input name="loan" maxlength="15" tabindex="4" type="text" class="number-inp comma" /></div>
                                                </div>
                                            </td>
                                        </tr>    

                                        <tr>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">آگهی دهنده</div>
                                                    <select class="advertisedBy" tabindex="5" name="advertisedBy" title="انتخاب کنید">
                                                        <option value="102">مشاور</option>
                                                        <option value="101">مالک</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td colspan="3" class="agency-td">
                                                <table class="table table-two">
                                                    <tr>
                                                        <td>
                                                            <div class="cnt-table-content">
                                                                <div class="rf-content">آژانس </div>
                                                                <div class="lf-content inp-two">
                                                                    <input placeholder="تلفن" name="agencyPhones" tabindex="7" type="text" class="number-inp digi-" />
                                                                </div>
                                                                <div class="cf-content"><input placeholder="نام" name="agencyName" tabindex="6" type="text" class="text-inp" /></div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="cnt-table-content">
                                                                <div class="rf-content">مشاور</div>
                                                                <div class="lf-content inp-two">
                                                                    <input placeholder="همراه" name="agentCellphone" tabindex="9" type="text" class="number-inp digi" />
                                                                </div>
                                                                <div class="cf-content"><input placeholder="نام" name="agentLastname" tabindex="8" type="text" class="text-inp" /></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="2" class="owner-td">
                                                <table class="table table-two">
                                                    <tr>
                                                        <td>
                                                            <div class="cnt-table-content">
                                                                <div class="rf-content">مالک </div>
                                                                <div class="lf-content inp-two">
                                                                    <input placeholder="ثابت" name="ownerPhones[]" tabindex="11" type="text" class="number-inp digi"/>
                                                                </div>
                                                                <div class="lf-content inp-two">
                                                                    <input placeholder="همراه" name="ownerCellphone" tabindex="11" type="text" class="number-inp digi"/>
                                                                </div>
                                                                <div class="cf-content"><input placeholder="نام" name="ownerLastname" tabindex="10" type="text" class="text-in" /></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="4">
                                                <div class="cnt-table-content address">
                                                    <div class="rf-content">آدرس </div>
                                                    <div class="lf-content"></div>
                                                    <div class="cf-content">
                                                        <input name="stateText" value="تهران" disabled type="text" placeholder="استان" class="text-inp" />
                                                        <input name="cityTextText" value="تهران" disabled type="text" placeholder="شهر" class="text-inp" />
                                                        <input name="street" tabindex="13" type="text" placeholder="خ اصلی" class="text-inp" />
                                                        <input name="bystreet" tabindex="14" type="text" placeholder="خ فرعی" class="text-inp" />
                                                        <input name="postalCode" tabindex="17" type="text" placeholder="کد پستی" class="number-inp digi" maxlength="10" style="float: left"/>
                                                        <input name="number" tabindex="16" type="text" placeholder="پلاک" class="text-inp" style="float: left" />
                                                        <div style="overflow: hidden;float:     none;width: auto;">
                                                            <input name="lane" tabindex="15" type="text" placeholder="کوچه" class="text-inp" style="width: 100% !important;"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            <select tabindex="18" name="neighborId" class="neighborId">
                                                    <option value="">انتخاب کنید</option>
                                                    <option value="6006001">منطقه یک</option>
                                                    <option value="6006002">منطقه دو</option>
                                                    <option value="6006003">منطقه سه</option>
                                                    <option value="6006004">منطقه چهار</option>
                                                    <option value="6006005">منطقه پنج</option>
                                                    <option value="6006006">منطقه شش</option>
                                                    <option value="6006007">منطقه هفت</option>
                                                    <option value="6006008">منطقه هشت</option>
                                                    <option value="6006009">منطقه نه</option>
                                                    <option value="6006010">منطقه ده</option>
                                                    <option value="6006011">منطقه یازده</option>
                                                    <option value="6006012">منطقه دوازده</option>
                                                    <option value="6006013">منطقه سیزده</option>
                                                    <option value="6006014">منطقه چهارده</option>
                                                    <option value="6006015">منطقه پانزده</option>
                                                    <option value="6006016">منطقه شانزده</option>
                                                    <option value="6006017">منطقه هفده</option>
                                                    <option value="6006018">منطقه هجده</option>
                                                    <option value="6006019">منطقه نوزده</option>
                                                    <option value="6006020">منطقه بیست</option>
                                                    <option value="6006021">منطقه بیست و یک</option>
                                                    <option value="6006022">منطقه بیست و دو</option>
                                                    <option value="6007001">حومه تهران</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <!-- Tab index till here: 17; start from 18 -->

                                <div class="information-section">
                                    <div>
                                        <span>ساختمان</span>
                                    </div>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">وضعیت سند</div>
                                                    <select tabindex="18" name="document" title="انتخاب کنید">
                                                        <option value="2201">شخصی</option>
                                                        <option value="2202">قولنامه ای</option>
                                                        <option value="2203">وکالتی</option>
                                                        <option value="2204">مبایعه نامه ای</option>
                                                        <option value="2205">قراردادی</option>
                                                        <option value="2206">بنچاق</option>
                                                        <option value="2207">صلح نامه</option>
                                                        <option value="2208">زمین شهری</option>
                                                        <option value="2209"> برگه حاکم شرع</option>
                                                        <option value="2210">اوقاف</option>
                                                        <option value="2211">سازمانی</option>
                                                        <option value="2212">تعاونی</option>
                                                        <option value="2213">بنیاد شهید</option>
                                                        <option value="2214">شهرداری</option>
                                                        <option value="2215">صنایع دفاع</option>
                                                        <option value="2216">نامشخص</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">کل طبقات</div>
                                                    <div class="lf-content">طبقه</div>
                                                    <div class="cf-content"><input name="stories" maxlength="3" tabindex="19" type="text" class="number-inp digi" /></div>
                                                </div>
                                            </td>
                                            
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">تعداد واحدها</div>
                                                    <div class="lf-content">واحد</div>
                                                    <div class="cf-content"><input name="units" maxlength="5" tabindex="20" type="text" class="number-inp digi" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">سال ساخت</div>
                                                    <div class="lf-content">۱۳</div>
                                                    <div class="cf-content"><input name="yearBuilt" maxlength="2" tabindex="21" type="text" class="number-inp digi" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">بازسازی شده</div>
                                                    <select tabindex="22" name="quality" title="انتخاب کنید">
                                                        <option value="702">خیر</option>
                                                        <option value="701">بلی</option>
                                                    </select>
                                                </div>
                                            </td> 
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">نما</div>
                                                    <select tabindex="23" multiple name="frontage" title="انتخاب کنید">
                                                        <option value="1301">سنگ</option>
                                                        <option value="1302">آجر</option>
                                                        <option value="1303">سیمان</option>
                                                        <option value="1304">شیشه</option>
                                                        <option value="1305">چوب</option>
                                                        <option value="1306">آلومینیم</option>
                                                        <option value="1307">رومی</option>
                                                        <option value="1308">تراورتن</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">تهویه</div>
                                                    <select tabindex="24" name="airconditioner[]" multiple title="انتخاب کنید">
                                                        <option value="1401">کولر آبی</option>
                                                        <option value="1402">کولر گازی/اسپلیت</option>
                                                        <option value="1403">بخاری</option>
                                                        <option value="1404">پکیج و رادیاتور</option>
                                                        <option value="1405">دیگ و رادیاتور</option>
                                                        <option value="1406">چیلر و فن کوئل</option>
                                                        <option value="1407">هواساز</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">جهت</div>
                                                    <select name="direction[]" tabindex="25" multiple title="انتخاب کنید">
                                                        <option value="801">شمالی</option>
                                                        <option value="802">جنوبی</option>
                                                        <option value="803">غربی</option>
                                                        <option value="804">شرقی</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">زمین</div>
                                                    <div class="lf-content">متر</div>
                                                    <div class="cf-content"><input class="comma number-inp" maxlength="6" type="text" name="area" tabindex="26"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">عرض گذر</div>
                                                    <div class="lf-content">متر</div>
                                                    <div class="cf-content"><input class="comma number-inp digi" maxlength="3" type="text" name="width" tabindex="27"></div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>

                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">طول بَر</div>
                                                    <div class="lf-content">متر</div>
                                                    <div class="cf-content"><input class="comma number-inp digi" maxlength="3"  type="text" name="length" tabindex="28"></div>
                                                </div>
                                            </td>
                                             <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">بَر</div>
                                                    <select name="sides" tabindex="29" title="انتخاب کنید">
                                                        <option value="1901">یک نبش</option>
                                                        <option value="1902">دو نبش</option>
                                                        <option value="1903">سه نبش</option>
                                                        <option value="1904">چهار نبش</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">زیربنا</div>
                                                    <div class="lf-content">متر</div>
                                                    <div class="cf-content"><input name="metrage" maxlength="6" tabindex="30" type="text" class="comma number-inp" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">ساختمان</div>
                                                    <select name="building" tabindex="31" title="انتخاب کنید">
                                                        <option value="501">کل ساختمان مسکونی</option>
                                                        <option value="502">کل پاساژ یا مرکز خرید</option>
                                                        <option value="503">باغ-باغچه</option>
                                                        <option value="504">انبار</option>
                                                        <option value="505">پارکینگ</option>
                                                        <option value="506">سوله</option>
                                                        <option value="507">کارگاه</option>
                                                        <option value="508">کارخانه</option>
                                                        <option value="509">استخر</option>
                                                        <option value="510">سالن ورزشی</option>
                                                        <option value="511">سینما</option>
                                                        <option value="512">تئاتر</option>
                                                        <option value="513">سفره خانه</option>
                                                        <option value="514">رستوران</option>
                                                        <option value="515">پرورش دام</option>
                                                        <option value="516">مرغداری</option>
                                                        <option value="517">پرورش ماهی</option>
                                                        <option value="518">هتل</option>
                                                        <option value="519">مسافرخانه</option>
                                                        <option value="520">سایر</option>
                                                    </select>
                                                </div>
                                            </td>
                                            
                                            
                                            
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">امکانات امنیتی</div>
                                                    <select tabindex="32" name="securities" multiple title="انتخاب کنید">
                                                        <option value="1801">دزدگیر</option>
                                                        <option value="1802">دوربین مدار بسته</option>
                                                        <option value="1803">آیفون تصویری</option>
                                                        <option value="1804">درب ضد سرقت</option>
                                                        <option value="1805">سیستم اعلام آتش</option>
                                                        <option value="1806">سیستم اطفاء حریق</option>
                                                    </select>
                                                </div>
                                            </td>
                                            
                                        </tr>
                                        
                                        <tr>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">دسترسی</div>
                                                    <select tabindex="33" name="access[]" title="انتخاب کنید">
                                                        <option value="401">داخل بازار</option>
                                                        <option value="402">داخل پاساژ</option>
                                                        <option value="403">خیابان اصلی</option>
                                                        <option value="404">خیابان فرعی</option>
                                                        <option value="405">میدان</option>
                                                        <option value="406">کوچه</option>
                                                        <option value="407">بن بست</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">دستور نقشه</div>
                                                    <select name="plan" tabindex="34" title="انتخاب کنید">
                                                        <option value=""></option>
                                                        <option value="0">ندارد</option>
                                                        <option value="1">دارد</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">اصلاحی</div>
                                                    <div class="lf-content"></div>
                                                    <div class="cf-content"><input class="" type="text" name="refinment" tabindex="35"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">کلنگی</div>
                                                    <select tabindex="36" name="age" title="انتخاب کنید">
                                                        <option value=""></option>
                                                        <option value="0">خیر</option>
                                                        <option value="1">بلی</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">زمان تحویل </div>
                                                    <div class="lf-content"></div>
                                                    <div class="cf-content"><input name="dueMonths" tabindex="37" type="text" class="date-picker" /></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="tozihat">
                                    <div>
                                        <span>توضیحات</span>
                                    </div>
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">تاریخ انتشار</div>
                                                    <div class="lf-content"></div>
                                                    <div class="cf-content"><input tabindex="52" name="requestDate" type="text" class="text-inp date-picker" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content"> تاریخ اعتبار</div>
                                                    <div class="lf-content"></div>
                                                    <div class="cf-content"><input tabindex="53" name="expireDate" type="text" class="text-inp date-picker" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select"> نمایش آدرس</div>
                                                    <select name="addressVisible" tabindex="54" title="انتخاب کنید">
                                                        <option value="0">خیر</option>
                                                        <option value="1">بلی</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">نمایش روی نقشه</div>
                                                    <select name="locationVisible" tabindex="55" title="انتخاب کنید">
                                                        <option value="0">خیر</option>
                                                        <option value="1">بلی</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">وضعیت</div>
                                                    <select name="status" tabindex="56" title="انتخاب کنید">
                                                        <option value="2402">تایید</option>
                                                        <option value="2401">انتظار</option>
                                                        <option value="2404">معامله شد</option>
                                                        <option value="2403">غیر فعال</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="5">
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">توضیحات بازدید</div>
                                                    <div class="lf-content"></div>
                                                    <div class="cf-content">
                                                        <input tabindex="57" name="visitDescription" type="text" placeholder="" class="text-inp" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">توضیحات بیشتر</div>
                                                    <div class="lf-content"></div>
                                                    <div class="cf-content">
                                                        <input tabindex="58" name="description" type="text" placeholder="" class="text-inp" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="cnt-button-bottom clearfix">
                                    <a class="btn btn-primary btn-red pull-left btn-submit " tabindex="59">ثبت</a>
                                    <div class="form-message"><span class="hidden msg-container"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="file-show-map">
                                <div class="file-title">
                                    <i class="icon-zoom pull-left"></i>
                                    <span>نمایش روی نقشه</span>
                                </div>
                                <input style="width:200px;" id="pac-input" type="text"
                                placeholder="جستجو">
                                <div id="map"></div>
                            </div>
                            <div class="file-screenshot">
                                <div class="file-title">
                                    <i class="icon-zoom pull-left"></i>
                                    <span>تصاویر فایل</span>
                                </div>
                                <form class='photo-uploader-form'>
                                    <div class="photo-uploader">
                                        <p>مرورگر شما این امکان را پشتیبانی نمی کند.</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>