<div class="apartment-form estate">
    <form class="form-horizontal" role="form">

        <input class="hidden" type="text"  name="type" value="205">
        <input class="hidden" type="text"  name="state" value="87">
        <input class="hidden" type="text"  name="city" value="87">
        <input class="hidden" type="text" name="latitude"  id='latitude-input'/>
        <input class="hidden" type="text" name="longitude" id='longitude-input'/>
        <input class="hidden" type="text" name="advId" id='advId'/>

        <div class="mk-docs-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="file-info">
                        <div class="col-md-8">
                            <div class="file-form-apartment">
                                <div class="agahi-form">
                                    <div>
                                        <span>آگهی مغازه</span>
                                    </div>
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <div class="cnt-table-content cnt-select cnt-select-big">
                                                    <div class="rf-content-select">آگهی</div>
                                                    <select class="request" name="request" tabindex="1" title="انتخاب کنید">
                                                        <option value="301">فروش</option>
                                                        <option value="302">پیش فروش</option>
                                                        <option value="303">اجاره</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">قیمت</div>
                                                    <div class="lf-content">تومان</div>
                                                    <div class="cf-content"><input name="price" maxlength="15" tabindex="2" type="text" class="number-inp comma" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">متری</div>
                                                    <div class="lf-content">تومان</div>
                                                    <div class="cf-content"><input name="exPrice" maxlength="15" tabindex="3" type="text" class="number-inp comma" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">وام </div>
                                                    <div class="lf-content">تومان</div>
                                                    <div class="cf-content"><input name="loan" maxlength="15" tabindex="4" type="text" class="number-inp comma" /></div>
                                                </div>
                                            </td>
                                        </tr>    

                                        <tr>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">آگهی دهنده</div>
                                                    <select class="advertisedBy" tabindex="5" name="advertisedBy" title="انتخاب کنید">
                                                        <option value="102">مشاور</option>
                                                        <option value="101">مالک</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td colspan="3" class="agency-td">
                                                <table class="table table-two">
                                                    <tr>
                                                        <td>
                                                            <div class="cnt-table-content">
                                                                <div class="rf-content">آژانس </div>
                                                                <div class="lf-content inp-two">
                                                                    <input placeholder="تلفن" name="agencyPhones" tabindex="7" type="text" class="number-inp digi-" />
                                                                </div>
                                                                <div class="cf-content"><input placeholder="نام" name="agencyName" tabindex="6" type="text" class="text-inp" /></div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="cnt-table-content">
                                                                <div class="rf-content">مشاور</div>
                                                                <div class="lf-content inp-two">
                                                                    <input placeholder="همراه" name="agentCellphone" tabindex="9" type="text" class="number-inp digi" />
                                                                </div>
                                                                <div class="cf-content"><input placeholder="نام" name="agentLastname" tabindex="8" type="text" class="text-inp" /></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="2" class="owner-td">
                                                <table class="table table-two">
                                                    <tr>
                                                        <td>
                                                            <div class="cnt-table-content">
                                                                <div class="rf-content">مالک </div>
                                                                <div class="lf-content inp-two">
                                                                    <input placeholder="ثابت" name="ownerPhones[]" tabindex="11" type="text" class="number-inp digi"/>
                                                                </div>
                                                                <div class="lf-content inp-two">
                                                                    <input placeholder="همراه" name="ownerCellphone" tabindex="11" type="text" class="number-inp digi"/>
                                                                </div>
                                                                <div class="cf-content"><input placeholder="نام" name="ownerLastname" tabindex="10" type="text" class="text-in" /></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="4">
                                                <div class="cnt-table-content address">
                                                    <div class="rf-content">آدرس </div>
                                                    <div class="lf-content"></div>
                                                    <div class="cf-content">
                                                        <input name="stateText" value="تهران" disabled type="text" placeholder="استان" class="text-inp" />
                                                        <input name="cityText" value="تهران" disabled type="text" placeholder="شهر" class="text-inp" />
                                                        <input name="street" tabindex="13" type="text" placeholder="خ اصلی" class="text-inp" />
                                                        <input name="bystreet" tabindex="14" type="text" placeholder="خ فرعی" class="text-inp" />
                                                        <input name="postalCode" tabindex="17" type="text" placeholder="کد پستی" class="number-inp digi" maxlength="10" style="float: left"/>
                                                        <input name="number" tabindex="16" type="text" placeholder="پلاک" class="text-inp" style="float: left" />
                                                        <div style="overflow: hidden;float:     none;width: auto;">
                                                            <input name="lane" tabindex="15" type="text" placeholder="کوچه" class="text-inp" style="width: 100% !important;"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            <select tabindex="18" name="neighborId" class="neighborId">
                                                    <option value="">انتخاب کنید</option>
                                                    <option value="6006001">منطقه یک</option>
                                                    <option value="6006002">منطقه دو</option>
                                                    <option value="6006003">منطقه سه</option>
                                                    <option value="6006004">منطقه چهار</option>
                                                    <option value="6006005">منطقه پنج</option>
                                                    <option value="6006006">منطقه شش</option>
                                                    <option value="6006007">منطقه هفت</option>
                                                    <option value="6006008">منطقه هشت</option>
                                                    <option value="6006009">منطقه نه</option>
                                                    <option value="6006010">منطقه ده</option>
                                                    <option value="6006011">منطقه یازده</option>
                                                    <option value="6006012">منطقه دوازده</option>
                                                    <option value="6006013">منطقه سیزده</option>
                                                    <option value="6006014">منطقه چهارده</option>
                                                    <option value="6006015">منطقه پانزده</option>
                                                    <option value="6006016">منطقه شانزده</option>
                                                    <option value="6006017">منطقه هفده</option>
                                                    <option value="6006018">منطقه هجده</option>
                                                    <option value="6006019">منطقه نوزده</option>
                                                    <option value="6006020">منطقه بیست</option>
                                                    <option value="6006021">منطقه بیست و یک</option>
                                                    <option value="6006022">منطقه بیست و دو</option>
                                                    <option value="6007001">حومه تهران</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <!-- Tab index till here: 17; start from 18 -->
                                <div class="information-section">
                                    <div>
                                        <span>واحد</span>
                                    </div>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">زیربنا</div>
                                                    <div class="lf-content">متر</div>
                                                    <div class="cf-content"><input name="metrage" maxlength="6" tabindex="18" type="text" class="comma number-inp" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">بالکن</div>
                                                    <div class="lf-content">متر</div>
                                                    <div class="cf-content"><input name="balcony"  maxlength="4" tabindex="19" type="text" class="comma number-inp" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">انباری</div>
                                                    <div class="lf-content">متر</div>
                                                    <div class="cf-content"><input name="storage" maxlength="4" tabindex="20" type="text" class="comma number-inp" /></div>
                                                </div>
                                            </td>
                                             <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">پارکینگ</div>
                                                    <select class="select-on-press" name="parking" tabindex="21" title="انتخاب کنید">
                                                        <option value="">ندارد</option>
                                                        <option value="1">۱ عدد</option>
                                                        <option value="2">۲ عدد</option>
                                                        <option value="3">۳ عدد</option>
                                                        <option value="4">۴ عدد</option>
                                                        <option value="5">۵ عدد</option>
                                                        <option value="6">۶ عدد</option>
                                                        <option value="7">۷ عدد</option>
                                                        <option value="8">۸ عدد</option>
                                                        <option value="9">۹ عدد یا بیشتر</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">تلفن</div>
                                                    <select class="select-on-press" name="phones" tabindex="22" title="انتخاب کنید">
                                                        <option value="">ندارد</option>
                                                        <option value="1">۱ خط</option>
                                                        <option value="2">۲ خط</option>
                                                        <option value="3">۳ خط</option>
                                                        <option value="4">۴ خط</option>
                                                        <option value="5">۵ خط</option>
                                                        <option value="6">۶ خط</option>
                                                        <option value="7">۷ خط</option>
                                                        <option value="8">۸ خط</option>
                                                        <option value="9">۹ خط یا بیشتر</option>
                                                    </select>
                                                </div>
                                            </td>                                           
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">سرویس ایرانی</div>
                                                    <select class="select-on-press" tabindex="23" name="irToilets" title="انتخاب کنید">
                                                        <option value="">ندارد</option>
                                                        <option value="1">۱ عدد</option>
                                                        <option value="2">۲ عدد</option>
                                                        <option value="3">۳ عدد</option>
                                                        <option value="4">۴ عدد</option>
                                                        <option value="5">۵ عدد</option>
                                                        <option value="6">۶ عدد</option>
                                                        <option value="7">۷ عدد</option>
                                                        <option value="8">۸ عدد</option>
                                                        <option value="9">۹ عدد یا بیشتر</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">سرویس فرنگی</div>
                                                    <select class="select-on-press" tabindex="24" name="toilets" title="انتخاب کنید">
                                                        <option value="">ندارد</option>
                                                        <option value="1">۱ عدد</option>
                                                        <option value="2">۲ عدد</option>
                                                        <option value="3">۳ عدد</option>
                                                        <option value="4">۴ عدد</option>
                                                        <option value="5">۵ عدد</option>
                                                        <option value="6">۶ عدد</option>
                                                        <option value="7">۷ عدد</option>
                                                        <option value="8">۸ عدد</option>
                                                        <option value="9">۹ عدد یا بیشتر</option>
                                                    </select>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">کف</div>
                                                    <select tabindex="25" multiple name="floor" title="انتخاب کنید">
                                                        <option value="1201">سنگ</option>
                                                        <option value="1202">سرامیک</option>
                                                        <option value="1203">پارکت</option>
                                                        <option value="1204">لمینت</option>
                                                        <option value="1205">موکت</option>
                                                        <option value="1206">موزاییک</option>
                                                        <option value="1207">سیمان</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">آشپرخانه مبله</div>
                                                    <select tabindex="26" name="kitchenFurnishment" title="انتخاب کنید">
                                                        <option value=""></option>
                                                        <option value="1101">خیر</option>
                                                        <option value="1102">نیمه مبله</option>
                                                        <option value="1103">فول</option>
                                                    </select>
                                                </div>
                                            </td>
                                            
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">نوع معامله</div>
                                                    <select tabindex="27" multiple name="deal[]" title="انتخاب کنید">
                                                        <option value="2001">سرقفلی</option>
                                                        <option value="2002">مالکیت</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">دسترسی</div>
                                                    <select tabindex="28" name="access[]" title="انتخاب کنید">
                                                        <option value="401">داخل بازار</option>
                                                        <option value="402">داخل پاساژ</option>
                                                        <option value="403">خیابان اصلی</option>
                                                        <option value="404">خیابان فرعی</option>
                                                        <option value="405">میدان</option>
                                                        <option value="406">کوچه</option>
                                                        <option value="407">بن بست</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">ارتفاع سقف</div>
                                                    <div class="lf-content">متر</div>
                                                    <div class="cf-content"><input name="ceilingHeight" maxlength="6" tabindex="28" type="text" class="comma number-inp" /></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                            

                                <div class="information-section">
                                    <div>
                                        <span>ساختمان</span>
                                    </div>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">وضعیت سند</div>
                                                    <select tabindex="29" name="document" title="انتخاب کنید">
                                                        <option value="2201">شخصی</option>
                                                        <option value="2202">قولنامه ای</option>
                                                        <option value="2203">وکالتی</option>
                                                        <option value="2204">مبایعه نامه ای</option>
                                                        <option value="2205">قراردادی</option>
                                                        <option value="2206">بنچاق</option>
                                                        <option value="2207">صلح نامه</option>
                                                        <option value="2208">زمین شهری</option>
                                                        <option value="2209"> برگه حاکم شرع</option>
                                                        <option value="2210">اوقاف</option>
                                                        <option value="2211">سازمانی</option>
                                                        <option value="2212">تعاونی</option>
                                                        <option value="2213">بنیاد شهید</option>
                                                        <option value="2214">شهرداری</option>
                                                        <option value="2215">صنایع دفاع</option>
                                                        <option value="2216">نامشخص</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">کل طبقات</div>
                                                    <div class="lf-content">طبقه</div>
                                                    <div class="cf-content"><input name="stories" maxlength="3" tabindex="30" type="text" class="number-inp digi" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">تعداد واحدها</div>
                                                    <div class="lf-content">واحد</div>
                                                    <div class="cf-content"><input name="units" maxlength="5" tabindex="31" type="text" class="number-inp digi" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">طبقه</div>
                                                    <div class="lf-content"></div>
                                                    <div class="cf-content"><input name="storey" maxlength="3" tabindex="32" type="text" class="number-inp digi-" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">واحد</div>
                                                    <div class="lf-content"></div>
                                                    <div class="cf-content"><input name="unit" maxlength="5" tabindex="33" type="text" class="number-inp digi" /></div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">سال ساخت</div>
                                                    <div class="lf-content">۱۳</div>
                                                    <div class="cf-content"><input name="yearBuilt" maxlength="2" tabindex="34" type="text" class="number-inp digi" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">بازسازی شده</div>
                                                    <select tabindex="35" name="quality" title="انتخاب کنید">
                                                        <option value="702">خیر</option>
                                                        <option value="701">بلی</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">نما</div>
                                                    <select tabindex="36" multiple name="frontage" title="انتخاب کنید">
                                                        <option value="1301">سنگ</option>
                                                        <option value="1302">آجر</option>
                                                        <option value="1303">سیمان</option>
                                                        <option value="1304">شیشه</option>
                                                        <option value="1305">چوب</option>
                                                        <option value="1306">آلومینیم</option>
                                                        <option value="1307">رومی</option>
                                                        <option value="1308">تراورتن</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">تهویه</div>
                                                    <select tabindex="37" name="airconditioner[]" multiple title="انتخاب کنید">
                                                        <option value="1401">کولر آبی</option>
                                                        <option value="1402">کولر گازی/اسپلیت</option>
                                                        <option value="1403">بخاری</option>
                                                        <option value="1404">پکیج و رادیاتور</option>
                                                        <option value="1405">دیگ و رادیاتور</option>
                                                        <option value="1406">چیلر و فن کوئل</option>
                                                        <option value="1407">هواساز</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">عرض گذر</div>
                                                    <div class="lf-content">متر</div>
                                                    <div class="cf-content"><input class="comma number-inp digi" maxlength="3" type="text" name="width" tabindex="38"></div>
                                                </div>
                                            </td>                                            
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">طول بَر</div>
                                                    <div class="lf-content">متر</div>
                                                    <div class="cf-content"><input name="length" tabindex="39" type="text" class="number-inp" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">بَر</div>
                                                    <select name="sides" tabindex="40" title="انتخاب کنید">
                                                        <option value="1901">یک نبش</option>
                                                        <option value="1902">دو نبش</option>
                                                        <option value="1903">سه نبش</option>
                                                        <option value="1904">چهار نبش</option>
                                                    </select>
                                                </div>
                                            </td>
                                            
                                            
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">زمان تحویل </div>
                                                    <div class="lf-content"></div>
                                                    <div class="cf-content"><input name="dueMonths" tabindex="41" type="text" class="date-picker" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">سکونت مالک</div>
                                                    <select tabindex="42" name="ownerResidance" tabindex="1" title="انتخاب کنید">
                                                        <option value=""></option>
                                                        <option value="1">بلی</option>
                                                        <option value="0">خیر</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="information-section">
                                    <div>
                                        <span>امکانات</span>
                                    </div>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">امکانات رفاهی</div>
                                                    <select tabindex="48" name="equipments" multiple title="انتخاب کنید">
                                                        <option value="1701">آسانسور</option>
                                                        <option value="1702">درب پارکینگ ریموت دار</option>
                                                        <option value="1703">اینترنت پر سرعت</option>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">امکانات امنیتی</div>
                                                    <select tabindex="49" name="securities" multiple title="انتخاب کنید">
                                                        <option value="1801">دزدگیر</option>
                                                        <option value="1802">دوربین مدار بسته</option>
                                                        <option value="1803">آیفون تصویری</option>
                                                        <option value="1804">درب ضد سرقت</option>
                                                        <option value="1805">سیستم اعلام آتش</option>
                                                        <option value="1806">سیستم اطفاء حریق</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">امکانات عمومی</div>
                                                    <select tabindex="50" name="facilities" multiple title="انتخاب کنید">
                                                        <option value="1509">سقف بلند</option>
                                                        <option value="1510"> ویترین</option>
                                                        <option value="1511">دکوراسیون</option>
                                                        <option value="1512"> قفسه</option>
                                                        <option value="1513"> آبدارخانه</option>
                                                        <option value="1514"> آشپزخانه</option>
                                                    </select>
                                                </div>
                                            </td>
                                            
                                        </tr>
                                    </table>
                                </div>

                                <div class="tozihat">
                                    <div>
                                        <span>توضیحات</span>
                                    </div>
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">تاریخ انتشار</div>
                                                    <div class="lf-content"></div>
                                                    <div class="cf-content"><input tabindex="52" name="requestDate" type="text" class="text-inp date-picker" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content"> تاریخ اعتبار</div>
                                                    <div class="lf-content"></div>
                                                    <div class="cf-content"><input tabindex="53" name="expireDate" type="text" class="text-inp date-picker" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select"> نمایش آدرس</div>
                                                    <select name="addressVisible" tabindex="54" title="انتخاب کنید">
                                                        <option value="0">خیر</option>
                                                        <option value="1">بلی</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">نمایش روی نقشه</div>
                                                    <select name="locationVisible" tabindex="55" title="انتخاب کنید">
                                                        <option value="0">خیر</option>
                                                        <option value="1">بلی</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">وضعیت</div>
                                                    <select name="status" tabindex="56" title="انتخاب کنید">
                                                        <option value="2402">تایید</option>
                                                        <option value="2401">انتظار</option>
                                                        <option value="2404">معامله شد</option>
                                                        <option value="2403">غیر فعال</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="5">
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">توضیحات بازدید</div>
                                                    <div class="lf-content"></div>
                                                    <div class="cf-content">
                                                        <input tabindex="57" name="visitDescription" type="text" placeholder="" class="text-inp" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">توضیحات بیشتر</div>
                                                    <div class="lf-content"></div>
                                                    <div class="cf-content">
                                                        <input tabindex="58" name="description" type="text" placeholder="" class="text-inp" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="cnt-button-bottom clearfix">
                                    <a class="btn btn-primary btn-red pull-left btn-submit " tabindex="59">ثبت</a>
                                    <div class="form-message"><span class="hidden msg-container"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="file-show-map">
                                <div class="file-title">
                                    <i class="icon-zoom pull-left"></i>
                                    <span>نمایش روی نقشه</span>
                                </div>
                                <input style="width:200px;" id="pac-input" type="text"
                                placeholder="جستجو">
                                <div id="map"></div>
                            </div>
                            <div class="file-screenshot">
                                <div class="file-title">
                                    <i class="icon-zoom pull-left"></i>
                                    <span>تصاویر فایل</span>
                                </div>
                                <form class='photo-uploader-form'>
                                    <div class="photo-uploader">
                                        <p>مرورگر شما این امکان را پشتیبانی نمی کند.</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>