
<div class="plan-buy">
    <form action="/admin/plan/search" method="post">
        <fieldset>
            <legend>پلن کاربر</legend>
            <ul>
                <li>
                    <label>
                        <span> کاربر</span>
                    </label>
                    <input type="text" name="userId" value="" class="form-control" placeholder="کاربر"/>
                </li>
                
                <li>
                    <button type="submit" class="btn btn-info">ثبت</button>
                </li>
            </ul>
        </fieldset>
    </form>
</div>