<div>
    <div class="col-md-8  col-md-offset-2">
        <div class="agencies-list-title">
            <h1>آژانس‌های املاک تهران:</h1>
        </div>
        <div class="agencies-search-wrapper">
            <form action="/agencies" method="post" role="form">
                <div class="cnt-search">
                    <input type="text" placeholder="جستجوی آژانس املاک (آدرس، نام)" class="home-input-search agency-input" name="search_query">
                    <button class="btn agencies-search-btn btn-primary btn-red neighbor-search-btn" type="submit">بیابید</button>
                </div>
            </form>
        </div>
        <ul class="agencies-list">
            <?php foreach ($result['items'] as $agency) { ?>
            <li itemscope itemtype="http://schema.org/LocalBusiness">
                <div class="agencies-first-part">
                    <div class="pull-left agencies-view">
                        <a itemprop="url" target="_blank" class="btn-head" href="/agency/<?= $agency['id'] ?>/estates">
                            <span>آگهی‌ها</span>
                        </a>

                        <?php
                        if ($user && $user->getType() == 2503) {
                            echo '<a target="_blank" class="" href="/agency/edit/' . 
                             $agency['id'] 
                            . '"><span>ویرایش</span></a>';
                        }
                        ?>

                    </div>
                    <div class="pull-left agencies-tell">
                        <span>شماره تماس:</span>
                        <span itemprop="telephone"><?= $agency['phones'] ?></span>
                    </div>
                    <div class="pull-left agencies-tell">
                        <span>تعداد آگهی‌ها:</span>
                        <span> <?= $agency['countEstate'] ?></span>
                    </div>
                    <div class="agencies-name" itemprop="name">
                        <span>آژانس:</span>
                        <span><?= $agency['name'] ?></span>
                    </div>
                </div>
                
                <div class="rf-content" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span>آدرس: </span> 

                    <span class="show-field text-inp" >
                        <span class="file-view-item" itemprop="addressRegion">
                            <span> </span>
                            <span class="file-view-item-highlight">
                               تهران
                            </span>
                        </span>
                        <?php if (!empty($agency['street'])) { ?>
                        <span class="file-view-item" itemprop="addressLocality">
                            <span>،</span>
                            <span class="file-view-item-highlight">
                                <?=$agency['street']?>
                            </span>
                        </span>
                        <?php } ?>

                        <?php if (!empty($agency['bystreet'])) { ?>
                        <span class="file-view-item" itemprop="streetAddress">
                            <span>،</span>
                            <span class="file-view-item-highlight">
                                <?= $agency['bystreet'] ?> 
                            </span>
                        </span>
                        <?php } ?>

                        <?php if (!empty($agency['lane'])) { ?>
                        <span class="file-view-item">
                            <span>، </span>
                            <span class="file-view-item-highlight"> 
                                <?= $agency['lane'] ?>
                            </span>
                        </span>
                        <?php } ?>

                        <?php if (!empty($agency['number']) && $agency['number'] > 0) { ?>
                        <span class="file-view-item">
                            <span>،</span>
                            <span class="file-view-item-highlight"> 
                                <?= $agency['number'] ?>
                            </span>
                        </span>
                        <?php } ?>                                     

                        <?php if (!empty($agency['postalCode']) && $agency['postalCode'] > 0) { ?>
                        <span class="file-view-item">
                            <span>، کد پستی </span>
                            <span class="file-view-item-highlight"> 
                                <?= $agency['postalCode'] ?>
                            </span>
                        </span>
                        <?php } ?>                                      
                    </span>

                </div>
            </li>
            <?php } ?>
        </ul>

        <div class="agency-pagination">
            <?php
            if ($start != 0) {
                $beforStart = $start - $limit;
                $params = array('start' => $beforStart, 'page' => $beforStart / 10 + 1);
                ?>
                <a rel="prev" href="<?= $this->serverUrl($this->url('agency-index', array(), array('query' => $params)));?>">
                    قبلی
                </a>
                <link rel="prev" href="<?= $this->serverUrl($this->url('agency-index', array(), array('query' => $params)));?>">
                <?php } ?>

                <?php
                if (($start + $limit) < $count) {
                    $nextStart = $start + $limit;
                    $params = array('start' => $nextStart, 'page' => $nextStart / 10 + 1);
                    ?>
                    <a rel="next" href="<?= $this->serverUrl($this->url('agency-index', array(), array('query' => $params)));?>">
                        بعدی
                    </a>
                    <link rel="next" href="<?= $this->serverUrl($this->url('agency-index', array(), array('query' => $params)));?>">

                    <?php } ?>
                </div>

            </div>