<?php foreach ($result['items'] as $estate) { ?>
    <div>

        <?php
        $request = '';
        switch ($estate['request']) {
            case 301:
                $request .= 'فروش ';
                break;
            case 303:
                $request .= ' رهن و اجاره';
                break;
            case 302:
                $request .= 'پیش فروش ';
        }

        $pagTitle = '';
        switch ($estate['type']) {
            case 201:
                $pagTitle .= 'آپارتمان ';
                break;
            case 202 :
                $pagTitle .= 'ویلایی ';
                break;
            case 203:
                $pagTitle .= 'زمین ';
                break;
            case 204:
                $pagTitle .= 'اداری ';
                break;
            case 205:
                $pagTitle .= 'مغازه ';
                break;
            case 206:
                $pagTitle .= 'مستغلات ';
                break;
        }
        ?>
        <?php $neighbor = '';
        if (isset($estate['neighbor']['title'])) {
            $neighbor = $estate['neighbor']['title'];
        }
        ?>
        <?php $pageTitle = '-' . $request . '-' . $pagTitle . '-' . (int) $estate['metrage'] . ' متری  ' . ',' . $neighbor . ' ' . ' ,' . $estate['street']; ?> 

          <?php $pageTitlee = str_replace(' ', '-', $pageTitle); ?>
            <div class="estate-list-view-container" style="height: 90px; width:35%;">
                <div class="nano has-scrollbar">
                    <div class="content" tabindex="0" style="right: -8px;">
                        <ul class="estate-list">
                            <li class="single-estate">
                                <div class="gird-item-estate">
                                    <div class="gird-item-estate-type">
                                        <span itemprop="name"><?= $pagTitle . " - " . $request ?>
                                        </span>
                                    </div>
                                    <div class="gird-item-estate-right">
                                        <div itemprop="description">
                                            <div>
                                                <span class="number-inp comma"><?= (int) $estate['metrage'] ?></span>
                                                <span> متر</span>
                                            </div>

                                        </div>
                                        <div>
                                            <div  itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                <span itemprop="price" class="number-inp comma">
                                                <?= (int) $estate['price'] ?> </span>
                                                <span>تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <a itemprop="url"  href="/estates/<?= $estate['id'] ?>/view/<?= $pageTitlee ?>">
                                            <span>اطلاعات بیشتر</span>
                                        </a>
                                    </div>  
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
                        
<?php } ?>