<div class="col-md-8">
    <div class="agencies-list-title">لیست آژانس های موجود در ملکده:</div>
    <div class="agencies-search-wrapper">
        <div class="cnt-search">
            <input type="text" placeholder="جستجوی مشاور املاک ..." class="home-input-search agency-input">
            <button class="btn agencies-search-btn btn-primary btn-red neighbor-search-btn" type="submit">بیابید</button>
        </div>
    </div>
    <ul class="agencies-list"></ul>
    <div class="hold-on-loading clear" style="border:none;" >
    <span></span>
    <img src="/img/ajax-loader.gif"/ alt="در حال بارگذاری اطلاعات">
</div>
</div>
<div class="col-md-4">
</div>