
<div class="agents-first-part">
    <div class="pull-left agencies-view">
        <a class="btn-head" href="/estates/agentUserId=<%=id%>">
            <span>آگهی ها</span>
        </a>
    </div>
    <div class="pull-left agents-tell">
        <span>شماره تماس:</span>
        <span><%=cellphone%></span>
    </div>
    <div class="pull-right agents-name">
        <span>نام:</span>
        <span><%=firstname%> <%=lastname%></span>
    </div>
</div>
