
<div class="agencies-first-part">
    <div class="pull-left agencies-view">
        <a class="btn-head" href="/estates/agencyId=<%=id%>">
            <span>آگهی ها</span>
        </a>
    </div>
    <div class="pull-left agencies-tell">
        <span>شماره تماس :</span>
        <span><%=phones%></span>
    </div>
        <div class="agencies-name">
        <span>نام:</span>
        <span><%=name%></span>
    </div>

</div>

<div class="rf-content"><span>آدرس: </span> 

<span class="show-field text-inp" >
    <% if(city != undefined && city != '') {
    print('<span class="file-view-item">');
        print('<span>تهران </span>');
        print('</span>');
    } %>

    <%if(street != undefined && street != '') {
    print('<span class="file-view-item">');
        print('<span> ،  خیابان </span>');
        print('<span class="file-view-item-highlight">' + street + '</span>');
        print('</span>');
    } %>

    <%if(bystreet != undefined && bystreet != '') {
    print('<span class="file-view-item">');
        print('<span> ،   خیابان </span>');
        print('<span class="file-view-item-highlight">' + bystreet + '</span>');
        print('</span>');
    } %>

    <%if(lane != undefined && lane != '') {
    print('<span class="file-view-item">');
        print('<span> ، </span>');
        print('<span class="file-view-item-highlight">' + lane + '</span>');
        print('</span>');
    } %>

    <%if(number != undefined && number > 0) {
    print('<span class="file-view-item">');
        print('<span>، پلاک/واحد</span>');
        print('<span class="file-view-item-highlight">' + number + '</span>');
        print('</span>');
    } %>                                        

    <%if(postalCode != undefined && postalCode > 0) {
    print('<span class="file-view-item">');
        print('<span>، کد پستی </span>');
        print('<span class="file-view-item-highlight">' + postalCode + '</span>');
        print('</span>');
    } %>                                        
</span>

</div>
