<div class="user-editProfile">
    <form id="login-form" role="form">
        <div>
            <ul>

                <li >
                    <div><span> کلمه عبور قبلی</span></div>
                    <input class="number-inp" id="credential" type="password" />
                </li>

                <li>
                    <div><span>کلمه عبور جدید</span></div>
                    <input class="number-inp" id="newCredential" type="password"/>
                </li>

                <li>
                    <div><span>تکرار کلمه عبور جدید</span></div>
                    <input class="number-inp" id="newCredentialVerify" type="password"/>
                </li>
            </ul>
            <div>
                <span class="msg-container alert alert-danger"></span>
                <a class="btn change-pass-btn btn-primary btn-green pull-left">ذخیره</a>
            </div>
        </div>
    </form>
</div> 