<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default navbar-static mk-docs-nav-static" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mk-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse mk-navbar" id="mk-navbar" role="navigation">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <ul class="request-nav">

                            <input data-type="array" class="navbar-filter" type="radio" name="request" id="request_301" value="301"><label for="request_301">فروش</label>


                            <input data-type="array" class="navbar-filter" type="radio"  name="request" id="request_302" value="302"><label for="request_302">پیش فروش</label>


                            <input data-type="array" class="navbar-filter" type="radio" name="request" id="request_303" value="303"><label for="request_303">اجاره</label>
                        </ul>
                    </li>
                </ul>
<!--                <ul class="nav navbar-nav">
                     <li>
                        <div class="cnt-search form-group">
                            <input type="text" name="neighborId" id="neighborId" class="estates-input-search" placeholder="انقلاب قلهک تجریش ...">
                            <a class="btn btn-primary btn-red neighbor-search-btn">بیابید</a>
                        </div>
                    </li> 
                </ul>-->
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle btn-head" data-toggle="dropdown">
                            <span>نوع ملک</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><input class="navbar-filter" type="checkbox" name="type" value="201"><label>آپارتمان</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="type" value="202"><label>ویلایی</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="type" value="203"><label>زمین</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="type" value="204"><label>اداری</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="type" value="205"><label>مغازه</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="type" value="206"><label>مستغلات</label></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle btn-head" data-toggle="dropdown">
                            <span>قیمت کل/رهن</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu cnt-slider bottom-drp-btn">
                            <li>
                                <span>از</span><input name="priceLowerBound" class="comma menu-input-5 lowerBound" type="text"/><span> تومان</span>
                            </li>
                            <li>
                                <span>تا</span><input name="priceUpperBound" class="comma menu-input-5 upperBound" type="text"/><span> تومان</span>
                            </li>
                            <li>
                                <a class="navbar-bound">اعمال</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle btn-head" data-toggle="dropdown">
                            <span>قیمت متری/اجاره</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu cnt-slider bottom-drp-btn">
                            <li>
                                <span>از</span><input name="exPriceLowerBound" class="comma menu-input-5 lowerBound" type="text"/><span> تومان</span>
                            </li>
                            <li>
                                <span>تا</span><input name="exPriceUpperBound" class="comma menu-input-5 upperBound" type="text"/><span> تومان</span>
                            </li>
                            <li>
                                <a class="navbar-bound">اعمال</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle btn-head" data-toggle="dropdown">
                            <span>متراژ</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu cnt-slider bottom-drp-btn">
                            <li>
                                <span>از</span><input name="metrageLowerBound" class="comma menu-input-5 lowerBound" type="text"/><span>متر</span>
                            </li>
                            <li>
                                <span>تا</span><input name="metrageUpperBound" class="comma menu-input-5 upperBound" type="text"/><span>متر</span>
                            </li>
                            <li>
                                <a class="navbar-bound">اعمال</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle btn-head" data-toggle="dropdown">
                            <span>خواب</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu cnt-slider bottom-drp-btn">
                            <li>
                                <span>از</span><input name="bedsLowerBound" class="comma menu-input-5 lowerBound" type="text"/><span>خواب</span>
                            </li>
                            <li>
                                <span>تا</span><input name="bedsUpperBound" class="comma menu-input-5 upperBound" type="text"/><span>خواب</span>
                            </li>
                            <li>
                                <a class="navbar-bound">اعمال</a>
                            </li>
                        </ul>
                    </li>

                    <!-- <li class="dropdown external">
                        <a href="#" class="dropdown-toggle btn-head" data-toggle="dropdown">
                            <span>بیشتر</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-toggle="tooltip" ><input data-type="array" class="navbar-filter" type="checkbox" name="facilities" value="1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514"><label>امکانات عمومی</label></li>
                            <li data-toggle="tooltip"><input data-type = "array" class="navbar-filter" type="checkbox" name="sportFacilities" value="1601,1602,1603,1604,1605"><label>امکانات ورزشی</label></li>
                            <li data-toggle="tooltip" ><input data-type = "array" class="navbar-filter" type="checkbox" name="equipments" value="1701,1702,1703,1704,1705,1706,1707,1708,1709"><label data-type = "array">امکانات رفاهی</label></li>
                            <li data-toggle="tooltip" ><input data-type = "array" class="navbar-filter" type="checkbox" name="securities" value="1801,1802,1803,1804,1805,1806"><label>امکانات امنیتی</label></li>
                        </ul>
                    </li> -->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle btn-head" data-toggle="dropdown">
                            <span>منطقه</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu neighbor-filter-list">
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006001"><label>منطقه یک</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006002"><label>منطقه دو</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006003"><label>منطقه سه</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006004"><label>منطقه چهار</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006005"><label>منطقه پنج</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006006"><label>منطقه شش</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006007"><label>منطقه هفت</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006008"><label>منطقه هشت</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006009"><label>منطقه نه</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006010"><label>منطقه ده</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006011"><label>منطقه یازده</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006012"><label>منطقه دوازده</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006013"><label>منطقه سیزده</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006014"><label>منطقه چهارده</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006015"><label>منطقه پانزده</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006016"><label>منطقه شانزده</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006017"><label>منطقه هفده</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006018"><label>منطقه هجده</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006019"><label>منطقه نوزده</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006020"><label>منطقه بیست</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006021"><label>منطقه بیست و یک</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6006022"><label>منطقه بیست و دو</label></li>
                            <li><input class="navbar-filter" type="checkbox" name="neighborId" value="6007001"><label>حومه تهران</label></li>
                            
                        </ul>
                    </li>

                </ul>

            </div>

        </nav>
    </div>

    <div class="col-md-12">
        <div class="cnt-estatesview">
            <div class="col-md-8 map-container">
                <div class="center">
                    <input id="pac-input" type="text"
                    placeholder="جستجو">
                    <div id="map" class="map"></div>
                    <div class="top-shadow"></div>
                    <div class="right-shadow left-slider-bar">
                        <span class="right-caret"></span>
                    </div>
                    <div class="bottom-shadow"></div>
                    <div class="left-shadow"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar-left">
                </div>
            </div>
        </div>
        <ul class="advertise">
            <li><a target="_blank"  href="http://darbab.com"><div class="darbab"></div></a></li>
            <li><a target="_blank"  href="http://nividar.com"><div class="nividar"></div></a></li>
            <li><a target="_blank"  href="http://webonak.com"><div class="webonak"></div></a></li>
            <li><a target="_blank"  href="http://getbringmeup.com/"><div class="beringmeup"></div></a></li>
        </ul>
    </div>
</div>


<div id="legend">

</div>
