<div class="gird-item-estate">
    <div class="gird-item-estate-type estate-type-<%=request%>">
        <span><%= typeObj[type] %> - <%= requestObj[request] %> </span>
    </div>
    <div class="gird-item-estate-right">
        <div>
            <div><span class="number-inp comma"><% if(metrage == null || metrage == undefined){ print (area.replace('.00', '')) } else {print (metrage.replace('.00', ''))}%></span><span> متر</span></div>
            <div <% if(beds == null || beds == undefined || beds < 1) print("class='hidden'") %> ><span> <%= beds %> </span><span> خوابه</span></div>
            <div><span><% if (yearBuilt != null || yearBuilt != undefined) { var age = new persianDate().year() - yearBuilt; if(age > 0){ print(age + "<span> ساله</span>") } else { print("نوساز") } } %></span></div>
        </div>
        <div>
            <div><span class="number-inp comma"><% print(price.replace('.00', '')) %> تومان</span></div>
            <div><span class="number-inp comma"><% if (exPrice) print(exPrice.replace('.00', ''), ' تومان');  %></span></div>
            <div><% print(neighbor.title); if(street) print(' - ' , street); %></div>
        </div>

    </div>
    <div class="info-more">
        <div class='add-bookmark  <% if(CURRENT_USER == null) {print("hidden")} %> '><i class=<% if (bookmarkId > 0) print('"star-icon"'); else print('"star-e-icon"');%>></i><span>علاقه مندی</span></div>
        <div class='add-compare'><i class="plus-icon"></i><span>مقایسه </span></div>
        
        <div class='<% if(CURRENT_USER == null || (CURRENT_USER.type == 2502 || CURRENT_USER.type == 2501) ) {print("hidden")} %> '><i class=""></i><a href="/estate/edit/<%=id%>" target="_blank" ><span>ویرایش</span></a> <span style="cursor: default;
        margin-left: 5px;" class="pull-left"><% if(operatorName != '') {print(operatorName);}%></span></div>
        <div class="info-more-text"><a href="/estates/<%=id%>/view" target="_blank" ><span>اطلاعات بیشتر</span></a></div>
    </div>
</div>