<span class='label label-success bookmark-message'>اضافه شد</span>
<span class='label label-warning compare-message'>حداکثر سه ملک را می توانید مقایسه کنید</span>

<div class="estate-top-container">
    <div class="dropdown pull-right">
        <a class="dropdown-toggle btn-head" data-toggle="dropdown" href="#">
            <span>مرتب سازی</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu sort-filters" role="menu">
            <li class = "estate-list-sort-btn" data-type="price"><a href="#">قیمت</a></li>
            <li class = "estate-list-sort-btn" data-type="age"><a href="#">سن بنا</a></li>
            <li class = "estate-list-sort-btn" data-type="metrage"><a href="#">متراژ</a></li>
            <li class = "estate-list-sort-btn" data-type="beds"><a href="#">خواب</a></li>
            <li class = "estate-list-sort-btn" data-type="requestDate"><a href="#">تاریخ آگهی</a></li>
        </ul>
    </div>

    <div class="pull-left">
        <div class="compare-btn" type="button">
            <span>مقایسه</span> 
            <span class="badge compare-count">0</span>
        </div>
    </div>
</div>

<div class="estate-list-view-container">
    <div class="nano">
        <div class="content">
            <ul class='estate-list'>
            </ul>
        </div>
    </div>
</div>