 <div class="user-login">
	 <form id="login-form" action="/user/login" method="post" role="form">
	      <div>
	        <ul>
	             <li>
	                <div><span>تلفن همراه</span></div>
	                <input type="text" name="identity" placeholder="09121234567"></input>
	             </li>
	             <li>
	                <div><span>کلمه عبور</span></div>
	                <input name="credential" type="password" placeholder=""></input>
	             </li>
	             <li>
                         <span class="msg-container alert alert-danger"></span>
                         <a style="width:100%;" class="btn login-melkade btn-primary btn-green" type="submit">ورود</a>
                     </li>
	        </ul>
	      </div>
	</form>
</div>