<div class="sidebar-left">
	<div class="">
		<form class="form-horizontal" role="form" method="post">
			<fieldset>
				<legend>سپردن ملک</legend>
					<div class="">
						<div class="request-type" style="width:500px">
							<label >نوع درخواست</label>
							<select name="requestType" class="form-control">
								<option value="for sale">فروش</option>
								<option value="rental">اجاره</option>
							</select>
						</div>
						<div class="estate-type" style="width:500px"> 
							<label>نوع ملک</label>
							<select name="estateType" class="form-control">
								<option value="apartment">آپارتمان</option>
								<option value="office">اداری</option>
								<option value="shop">مغازه</option>
								<option value="vila">ویلا</option>
								<option value="old">کلنگی</option>
								<option value="land">زمین</option>
							</select>
						</div>
						<div class="neighbor" style="width:500px">
			 				<label>منطقه</label>
							<input type="text" class="form-control" name="neighbor"/>
						</div>
						<div class="address" style="width:500px">
				 			<label>آدرس</label>
							<input type="text" class="form-control" name="address"/>
							<label>خیابان اصلی</label>
							<input type="text" class="form-control" name="street"/>
							<label>خیابان فرعی</label>
							<input type="text" class="form-control" name="bystreet"/>
					</div>
					<div class="directin" style="width:500px">
		 				<label>جهت</label>
						<select name="direction" class="form-control">
							<option value="north">شمالی</option>
							<option value="south">جنوبی</option>
							<option value="west">غربی</option>
							<option value="east">شرقی</option>
						</select>
					</div>
					<div class="metrage" style="width:500px">
			 			<label>متراژ</label>
						<input type="text" class="form-control" name="metrage"/>
					</div>
					<div class="storey"  style="width:500px">
						<label>طبقه</label>
						<input type="text" class="form-control" name="storey"/>
					</div>
					<div class="unit" style="width:500px">
						<label>واحد</label>
						<input type="text" class="form-control" name="unit"/>
					</div>
					
					<div class="kitchen" style="width:500px">
						<label>نوع آشپزخانه</label>
						<select name="kitchen" class="form-control">
							<option value="open">open</option>
							<option value="close">close</option>
						</select>
					</div> 
					<div style="width:500px">
						<label>متراژ انباری</label>
						<input type="text" class="form-control" name="storage"/>
					</div>
					<div style="width:500px">
						<label>تعداد پارکینگ</label>
						<input type="text" class="form-control" name="parking"/>
					</div>
					<div style="width:500px">
						<label>آسانسور</label>
						<select name="elevator" class="form-control">
							<option value="yes">دارد</option>
							<option value="no">ندارد</option>
						</select>
					</div>
					<div style="width:500px">
						<label>سکونت فعلی</label>
						<select name="currentResidence" class="form-control">
							<option value="resident">ساکن</option>
							<option value="empty">خالی</option>
						</select>
					</div>
					<div style="width:500px">
						<label>سن بنا</label>
						<input type="text" class="form-control" name="age" min="0" max="99" data-bind="value:replyNumber"/>
					</div>
					<div style="width:500px">
						<label>میزان وام</label>
						<input type="text" class="form-control" name="loan"/>
					</div>
					<div style="width:500px">
						<label>قیمت ملک</label>
						<input type="text" class="form-control" name="price"/>
					</div>
					<div style="width:500px">
						<label>مساحت زمین</label>
						<input type="text" class="form-control" name="totalArea"/>
					</div>
					<div style="width:500px">
						<label>جواز ساخت</label>
						<input type="text" class="form-control" name="buildPermit"/>
					</div>
					<div style="width:500px">
						<label>وضعیت سند</label>
						<input type="text" class="form-control" name="documentStatus"/>
					</div>
					<div style="width:500px" class='hidden'>
						<label>طول</label>
						<input type="text" class="form-control" name="latitude" id='latitude-input'/>
					</div>
					<div style="width:500px" class='hidden'>
						<label>عرض</label>
						<input type="text" class="form-control" name="longitude" id='longitude-input'/>
					</div>

				
					<div class="form-group">
	        			<button type="submit" class="btn btn-primary" style="margin-top:30px; margin-right:250px">سپردن ملک</button>
					</div>

			</fieldset>
		</form>
	</div>
</div>

<div class="center">
	 <div id="map" class="" style='width:400px;height:400px;'></div>  
</div>


