<div class="apartment-form">
    <form class="form-horizontal" role="form">

        <input class="hidden" type="text"  name="state" value="">
        <input class="hidden" type="text"  name="city" value="">
        <input class="hidden" type="text" name="latitude"  id='latitude-input'/>
        <input class="hidden" type="text" name="longitude" id='longitude-input'/>

        <div class="mk-docs-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="file-info">
                        <div class="col-md-8">
                            <div class="file-form-apartment">
                                <div class="agahi-form">
                                    <div>
                                        <span>آگهی</span>
                                    </div>
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <div class="cnt-table-content cnt-select cnt-select-big">
                                                    <div class="rf-content-select">آگهی</div>
                                                    <select class="request" name="request" tabindex="1" title="انتخاب کنید">
                                                        <option value="301">فروش</option>
                                                        <option value="302">پیش فروش</option>
                                                        <option value="303">اجاره</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content cnt-select cnt-select-big">
                                                    <select class="type" name="type" tabindex="2" title="انتخاب کنید">
                                                        <option value="201">آپارتمان</option>
                                                        <option value="202">ویلایی</option>
                                                        <option value="203">زمین</option>
                                                        <option value="204">اداری</option>
                                                        <option value="205">مغازه</option>
                                                        <option value="206">مستغلات</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">قیمت</div>
                                                    <div class="lf-content">تومان</div>
                                                    <div class="cf-content"><input name="price" maxlength="15" tabindex="2" type="text" class="number-inp comma" /></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">متری</div>
                                                    <div class="lf-content">تومان</div>
                                                    <div class="cf-content"><input name="exPrice" maxlength="15" tabindex="3" type="text" class="number-inp comma" /></div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="4">
                                                <div class="cnt-table-content address">
                                                    <div class="rf-content">آدرس </div>
                                                    <div class="lf-content"></div>
                                                    <div class="cf-content">
                                                        <input name="stateText" value="تهران" disabled type="text" placeholder="استان" class="text-inp" />
                                                        <input name="cityText" value="تهران" disabled type="text" placeholder="شهر" class="text-inp" />
                                                        <input name="street" tabindex="13" type="text" placeholder="آدرس" class="text-inp" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <select tabindex="18" name="neighborId" class="neighborId">
                                                    <option value="">منطقه را انتخاب کنید</option>
                                                    <option value="6006001">منطقه یک</option>
                                                    <option value="6006002">منطقه دو</option>
                                                    <option value="6006003">منطقه سه</option>
                                                    <option value="6006004">منطقه چهار</option>
                                                    <option value="6006005">منطقه پنج</option>
                                                    <option value="6006006">منطقه شش</option>
                                                    <option value="6006007">منطقه هفت</option>
                                                    <option value="6006008">منطقه هشت</option>
                                                    <option value="6006009">منطقه نه</option>
                                                    <option value="6006010">منطقه ده</option>
                                                    <option value="6006011">منطقه یازده</option>
                                                    <option value="6006012">منطقه دوازده</option>
                                                    <option value="6006013">منطقه سیزده</option>
                                                    <option value="6006014">منطقه چهارده</option>
                                                    <option value="6006015">منطقه پانزده</option>
                                                    <option value="6006016">منطقه شانزده</option>
                                                    <option value="6006017">منطقه هفده</option>
                                                    <option value="6006018">منطقه هجده</option>
                                                    <option value="6006019">منطقه نوزده</option>
                                                    <option value="6006020">منطقه بیست</option>
                                                    <option value="6006021">منطقه بیست و یک</option>
                                                    <option value="6006022">منطقه بیست و دو</option>
                                                    <option value="6007001">حومه تهران</option>
                                                </select>
                                            </td>
                                        </tr>

                                    </table>
                                </div>

                                <!-- Tab index till here: 17; start from 18 -->

                                <div class="information-section">
                                    <div>
                                        <span>واحد</span>
                                    </div>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <div class="cnt-table-content cnt-select">
                                                    <div class="rf-content-select">خواب</div>
                                                    <select tabindex="18" class="select-on-press"  name="beds"  title="انتخاب کنید">
                                                        <option value="0">ندارد</option>
                                                        <option value="1">۱ عدد</option>
                                                        <option value="2">۲ عدد</option>
                                                        <option value="3">۳ عدد</option>
                                                        <option value="4">۴ عدد</option>
                                                        <option value="5">۵ عدد</option>
                                                        <option value="6">۶ عدد</option>
                                                        <option value="7">۷ عدد</option>
                                                        <option value="8">۸ عدد</option>
                                                        <option value="9">۹ عدد یا بیشتر</option>
                                                    </select>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">سال ساخت</div>
                                                    <div class="lf-content">۱۳</div>
                                                    <div class="cf-content"><input name="yearBuilt" maxlength="2" tabindex="38" type="text" class="number-inp digi" /></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="information-section">
                                    <div>
                                        <span>ساختمان</span>
                                    </div>
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">زیربنا</div>
                                                    <div class="lf-content">متر</div>
                                                    <div class="cf-content"><input name="metrage" maxlength="6" tabindex="19" type="text" class="comma number-inp" /></div>
                                                </div>
                                            </td>   

                                            <td>
                                                <div class="cnt-table-content">
                                                    <div class="rf-content">زمین</div>
                                                    <div class="lf-content">متر</div>
                                                    <div class="cf-content"><input class="comma number-inp" maxlength="6" type="text" name="area" tabindex="43"></div>
                                                </div>
                                            </td>
                                        </tr>

                                    </table>
                                </div>

                                <div class="cnt-button-bottom clearfix">
                                    <a class="btn btn-primary btn-red pull-left btn-submit " tabindex="60">ثبت</a>
                                    <div class="form-message"><span class="hidden msg-container"></span></div>
                                </div>
                            </div>

                            <div class="alert alert-info" style="font-size:12px;">
                                <span>لطفا برای بالا بردن کیفیت آگهی لطفا اطلاعات را صحیح وارد نمایید و تا حد امکان فرم را کامل پر کنید. پس از ثبت آگهی، همکاران ملکده با شما تماس خواهند گرفت.</span>
                                </br>
                                <span>در صورت بروز مشکل یا هر گونه سوال لطفا با شماره تلفن‌های ۸۸۵۲۵۸۱۱ یا ۸۸۵۲۸۴۳۹ تماس بگیرید.</span>
                                </br>
                                <span> با تشکر،</span>
                                </br>
                                <span> ملکده</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="file-show-map">
                                <div class="file-title">
                                    <i class="icon-zoom pull-left"></i>
                                    <span>موقعیت ملک روی نقشه</span>
                                </div>
                                <input style="width:200px;" id="pac-input" type="text"
                                       placeholder="جستجو">
                                <div id="map"></div>
                            </div>
                            <div class="file-screenshot">
                                <div class="file-title">
                                    <i class="icon-zoom pull-left"></i>
                                    <span>تصاویر فایل</span>
                                </div>
                                <form class='photo-uploader-form'>
                                    <div class="photo-uploader">
                                        <p>مرورگر شما این امکان را پشتیبانی نمی کند.</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>