
<div style="width:40%" class="alert alert-info">
	<span>لطفا برای ثبت ملک لطفا با شماره تلفن‌های زیر تماس بگیرید.</span>
</br>
<span>2188528439 ,2188525811</span>
</br>
<span> با تشکر</span>
</br>
<span> ملکده</span>
</div>