<div class="apartment-form">
    <div class="mk-docs-container">
        <div class="row">
            <div class="col-md-12">
                <div class="file-info">
                    <div class="col-md-8">
                        <div class="file-form-apartment">
                            <div class="agahi-form">
                                <div>
                                    <span>آگهی آپارتمان</span>
                                </div>
                                <table class="table">

                                    <tr>
                                        <td>
                                            <div class="cnt-table-content cnt-select cnt-select-big">
                                                <div class="rf-content-select">آگهی</div>
                                                <% if (request==301) {
                                                    print('<span class="show-field file-view-item-highlight">' + 'فروش' + '</span>');
                                                } else if(request == 302){ 
                                                    print('<span class="show-field file-view-item-highlight">' + 'پیش فروش' + '</span>');
                                                } else{
                                                    print ('<span class="show-field file-view-item-highlight">' + 'اجاره' + '</span>');
                                                } %>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">قیمت</div>
                                                <div class="lf-content">تومان</div>
                                                <div class="cf-content"><span id="price"  class="show-field number-inp comma" ><%=price%></span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">متری</div>
                                                <div class="lf-content">تومان</div>
                                                <div class="cf-content"><span id="exPrice" class="show-field number-inp comma" ><%=exPrice%></span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">وام </div>
                                                <div class="lf-content">تومان</div>
                                                <div class="cf-content"><span id="loan"  class="show-field number-inp comma" ><%=loan%></span></div>
                                            </div>
                                        </td>
                                    </tr>    

                                    <tr>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">آگهی دهنده</div>
                                                <% if (request==102) {
                                                    print('<span class="show-field file-view-item-highlight">' + 'مشاور' + '</span>');
                                                } else{ 
                                                    print('<span class="show-field file-view-item-highlight">' + 'مالک' + '</span>');
                                                } %>                                                
                                            </div>
                                        </td>
                                        <td colspan="3" class="agency-td">
                                            <table class="table table-two">
                                                <tr>
                                                    <td>
                                                        <div class="cnt-table-content">
                                                            <div class="rf-content">آژانس </div>
                                                            <div class="lf-content inp-two">
                                                                <span id="agencyTel" class="show-field number-inp" >
                                                                    <%if(agencyName && agencyName != ''){
                                                                        print(agencyName);                                                                        
                                                                    }%>
                                                                    <%if(agencyName && agencyName != '' && agencyTel && agencyTel != ''){
                                                                        print('،');
                                                                    }%>
                                                                    <%if(agencyTel && agencyTel != ''){
                                                                        print(agencyTel);
                                                                    }%>
                                                                    
                                                                </span>
                                                            </div>                                                           
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="cnt-table-content">
                                                            <div class="rf-content">مشاور</div>
                                                            <div class="lf-content inp-two">
                                                                <span id="agentTel" class="show-field number-inp " >
                                                                     <%if(agentName && agentName != ''){
                                                                        print(agentName);                                                                        
                                                                    }%>
                                                                    <%if(agentName && agentName != '' && agencyTel && agencyTel != ''){
                                                                        print('،');
                                                                    }%>
                                                                    <%if(agentTel && agentTel != ''){
                                                                        print(agentTel);
                                                                    }%>
                                                                </span>
                                                            </div>                                                           
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td colspan="3" class="owner-td">
                                            <table class="table table-two">
                                                <tr>
                                                    <td>
                                                        <div class="cnt-table-content">
                                                            <div class="rf-content">مالک </div>
                                                            <div class="lf-content inp-two">
                                                                <span id="ownerTel" class="show-field number-inp digi"></span>
                                                            </div>
                                                            <div class="cf-content"><span  id="ownerid" tabindex="10"  class="text-in" ></span></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="4">
                                            <div class="cnt-table-content address">
                                                <div class="rf-content">آدرس </div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content">
                                                    <span id="state" class="show-field text-inp" >
                                                        <% if(city != undefined && city != '') {
                                                            print('<span class="file-view-item">');
                                                            print('<span>تهران</span>');
                                                            print('</span>');
                                                        } %>

                                                        <%if(neighborId != undefined) {
                                                                print('<span class="file-view-item">');
                                                                print('<span>- منطقه</span>');
                                                                print('<span class="file-view-item-highlight neighborText"></span>');
                                                                print('</span>');
                                                            } %>

                                                        <%if(street != undefined && street != '') {
                                                            print('<span class="file-view-item">');
                                                            print('<span> ،  خیابان</span>');
                                                            print('<span class="file-view-item-highlight">' + street + '</span>');
                                                            print('</span>');
                                                        } %>

                                                        <%if(bystreet != undefined && bystreet != '') {
                                                            print('<span class="file-view-item">');
                                                            print('<span> ،   خیابان</span>');
                                                            print('<span class="file-view-item-highlight">' + bystreet + '</span>');
                                                            print('</span>');
                                                        } %>

                                                        <%if(lane != undefined && lane != '') {
                                                            print('<span class="file-view-item">');
                                                            print('<span> ، </span>');
                                                            print('<span class="file-view-item-highlight">' + lane + '</span>');
                                                            print('</span>');
                                                        } %>

                                                        <%if(number != undefined && number > 0) {
                                                            print('<span class="file-view-item">');
                                                            print('<span>-پلاک/واحد</span>');
                                                            print('<span class="file-view-item-highlight">' + number + '</span>');
                                                            print('</span>');
                                                        } %>                                        

                                                        <%if(postalCode != undefined && postalCode > 0) {
                                                            print('<span class="file-view-item">');
                                                            print('<span>- کد پستی</span>');
                                                            print('<span class="file-view-item-highlight">' + postalCode + '</span>');
                                                            print('</span>');
                                                        } %>                                        
                                                    </span>
                                                   
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <!--   Tab index till here: 17; start from 18 -->


                            <div class="information-section">
                                <div>
                                    <span>واحد</span>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">خواب</div>
                                                 <span class="show-field number-inp"  id="beds" >
                                                        <%_.numberVal(beds)%>
                                                 </span>                                             
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">زیربنا</div>
                                                <div class="lf-content">متر</div>
                                                <div class="cf-content">
                                                    <span id="metrage" class="show-field number-inp" ><%=metrage%></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">بالکن</div>
                                                <div class="lf-content">متر</div>
                                                <div class="cf-content">
                                                    <span id="balcony" class="show-field number-inp" ><%=balcony%></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">انباری</div>
                                                <div class="lf-content">متر</div>
                                                <div class="cf-content">
                                                    <span id="storage" class="show-field number-inp" ><%=storage%></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">پارکینگ</div>
                                               <span class="show-field number-inp"  id="parking" >
                                                        <%_.numberVal(parking)%>
                                               </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">تلفن</div>
                                               <span class="show-field number-inp"  id="phones" >
                                                        <%_.numberVal(phones)%>
                                               </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">سرویس ایرانی</div>
                                                    <span class="show-field number-inp"  id="irToilets" >
                                                        <%_.numberVal(irToilets)%>
                                                    </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                               <div class="rf-content-select">سرویس فرنگی</div>
                                               <span class="show-field number-inp"  id="toilets" >
                                                        <%_.numberVal(toilets)%>
                                               </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">حمام</div>
                                                <span class="show-field number-inp"  id="baths" >
                                                        <%_.numberVal(baths)%>
                                               </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">آشپرخانه</div>
                                                <%var kitchenObj = {
                                                                901 : 'اُپن',                                                   
                                                902 : 'نیمه باز',                                                   
                                                903 : 'بسته' ,                                                  
                                                904 : 'مشترک'                                                   
                                                };%>
                                                
                                               <span class="show-field number-inp"  id="kitchen" >
                                                        <%=kitchenObj[kitchen]%>
                                               </span>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">کف</div>
                                                <%
                                                    var floorObj = {
1201 : 'سنگ',
1202 : 'سرامیک',
1203 : 'پارکت',
1204 : 'لمینت',
1205 : 'موکت',
1206 : 'موزاییک',
1207 : 'سیمان'
};
                                                %>
                                               <span class="show-field number-inp"  id="floor" >
                                                        <%=floorObj[floor]%>
                                               </span>
                                            </div>
                                        </td>                                            
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">کابینت</div>
                                        var cabinetObj = {
                                            1001 : 'MDF',
                                            1002 : 'نئوپان',
                                            1003 : 'پلی وود',
                                            1004 : 'فلزی',
                                            1005 : 'چوبی',
                                            1006 : 'دلخواه'
                                            };
                                                %>
                                                <span class="show-field number-inp"  id="cabinet" >
                                                    <%for (var i in cabinet) {
                                                        print(cabinetObj[cabinet[i]]);
                                                        print('، ');
                                                    }%>
                                                 </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">خوابه مبله</div>
                                                <span class="show-field number-inp"  id="bedsFurnished" >
                                                        <%if(bedsFurnished == 1){
                                                            print('بلی');
                                                        }else{
                                                            print('خیر');
                                                        }
                                                        %>                                                        
                                               </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">نشیمن مبله</div>
                                                <span class="show-field number-inp"  id="livingFurnished" >
                                                        <%if(livingFurnished == 1){
                                                            print('بلی');
                                                        }else{
                                                            print('خیر');
                                                        }
                                                        %>                                                        
                                               </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">آشپرخانه مبله</div>
                                                <select tabindex="32" id="kitchenFurnishment" title="انتخاب کنید">
                                                    <option value="1101">خیر</option>
                                                    <option value="1102">نیمه مبله</option>
                                                    <option value="1103">فول</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="information-section">
                                <div>
                                    <span>ساختمان</span>
                                </div>
                                <table class="table">

                                    <tr>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">وضعیت سند</div>
                                                <select tabindex="33" id="document" title="انتخاب کنید">
                                                    <option value="2201">شخصی</option>
                                                    <option value="2202">قولنامه ای</option>
                                                    <option value="2203">وکالتی</option>
                                                    <option value="2204">مبایعه نامه ای</option>
                                                    <option value="2205">قراردادی</option>
                                                    <option value="2206">بنچاق</option>
                                                    <option value="2207">صلح نامه</option>
                                                    <option value="2208">زمین شهری</option>
                                                    <option value="2209"> برگه حاکم شرع</option>
                                                    <option value="2210">اوقاف</option>
                                                    <option value="2211">سازمانی</option>
                                                    <option value="2212">تعاونی</option>
                                                    <option value="2213">بنیاد شهید</option>
                                                    <option value="2214">شهرداری</option>
                                                    <option value="2215">صنایع دفاع</option>
                                                    <option value="2216">نامشخص</option>
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">کل طبقات</div>
                                                <div class="lf-content">طبقه</div>
                                                <div class="cf-content"><span id="stories" maxlength="3" tabindex="34"  class="number-inp digi" ></span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">تعداد واحدها</div>
                                                <div class="lf-content">واحد</div>
                                                <div class="cf-content"><span id="units" maxlength="5" tabindex="35"  class="number-inp digi" ></span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">طبقه</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content"><span id="storey" maxlength="3" tabindex="36"  class="number-inp digi-" ></span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">واحد</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content"><span id="unit" maxlength="5" tabindex="37"  class="number-inp digi" ></span></div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">سال ساخت</div>
                                                <div class="lf-content">۱۳</div>
                                                <div class="cf-content"><span id="yearBuilt" maxlength="2" tabindex="37"  class="number-inp digi" ></span></div>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">بازسازی شده</div>
                                                <select tabindex="39" id="quality" title="انتخاب کنید">
                                                    <option value="702">خیر</option>
                                                    <option value="701">بلی</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">نما</div>
                                                <select tabindex="40" multiple id="frontage" title="انتخاب کنید">
                                                    <option value="1301">سنگ</option>
                                                    <option value="1302">آجر</option>
                                                    <option value="1303">سیمان</option>
                                                    <option value="1304">شیشه</option>
                                                    <option value="1305">چوب</option>
                                                    <option value="1306">آلومینیم</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">سامانه تهویه</div>
                                                <select tabindex="41" id="airconditioner[]" title="انتخاب کنید">
                                                    <option value="0">ندارد</option>
                                                    <option value="1401">کولر آبی</option>
                                                    <option value="1402">کولر گازی/اسپلیت</option>
                                                    <option value="1403">بخاری</option>
                                                    <option value="1404">پکیج و رادیاتور</option>
                                                    <option value="1405">دیگ و رادیاتور</option>
                                                    <option value="1406">چیلر و فن کوئل</option>
                                                    <option value="1407">هواساز</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">جهت</div>
                                                <select id="direction[]" tabindex="42" multiple title="انتخاب کنید">
                                                    <option value="801">شمالی</option>
                                                    <option value="802">جنوبی</option>
                                                    <option value="803">غربی</option>
                                                    <option value="804">شرقی</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>                                            
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">زمین</div>
                                                <div class="lf-content">متر</div>
                                                <div class="cf-content"><span class="comma number-inp" maxlength="6"  id="area" tabindex="43"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">عرض گذر</div>
                                                <div class="lf-content">متر</div>
                                                <div class="cf-content"><span class="comma number-inp digi" maxlength="3"  id="width" tabindex="44"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">طول بَر</div>
                                                <div class="lf-content">متر</div>
                                                <div class="cf-content"><span class="comma number-inp digi" maxlength="3"   id="length" tabindex="45"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">زمان تحویل </div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content"><span id="dueMonths" tabindex="46"  class="date-picker" ></span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">سکونت مالک</div>
                                                <select tabindex="47" id="ownerResidance" title="انتخاب کنید">
                                                    <option value="1">بلی</option>
                                                    <option value="0">خیر</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="information-section">
                                <div>
                                    <span>امکانات</span>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">امکانات رفاهی</div>
                                                <select tabindex="48" id="equipments" multiple title="انتخاب کنید">
                                                    <option value="1701">آسانسور</option>
                                                    <option value="1702">درب پارکینگ ریموت دار</option>
                                                    <option value="1703">اینترنت پر سرعت</option>
                                                    <option value="1704">آنتن مرکزی</option>
                                                    <option value="1705">شبکه داخلی</option>
                                                    <option value="1706">شوتینگ زباله</option>
                                                    <option value="1707">جارو مرکزی</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">امکانات امنیتی</div>
                                                <select tabindex="49" id="securities" multiple title="انتخاب کنید">
                                                    <option value="1801">دزدگیر</option>
                                                    <option value="1802">دوربین مدار بسته</option>
                                                    <option value="1803">آیفون تصویری</option>
                                                    <option value="1804">درب ضد سرقت</option>
                                                    <option value="1805">سیستم اعلام آتش</option>
                                                    <option value="1806">سیستم اطفاء حریق</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">امکانات عمومی</div>
                                                <select tabindex="50" id="facilities" multiple title="انتخاب کنید">
                                                    <option value="1501">حیاط</option>
                                                    <option value="1502">حیاط خلوت</option>
                                                    <option value="1503">فضای سبز</option>
                                                    <option value="1504">سرایدار</option>
                                                    <option value="1505">نگهبانی</option>
                                                    <option value="1506">لابی</option>
                                                    <option value="1507">سالن اجتماعات</option>
                                                    <option value="1508">باربکیو</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">امکانات ورزشی</div>
                                                <select tabindex="51" id="sportFacilities" multiple title="انتخاب کنید">
                                                    <option value="1601">استخر</option>
                                                    <option value="1602">سونا</option>
                                                    <option value="1603">جکوزی</option>
                                                    <option value="1604">بدن سازی</option>
                                                    <option value="1605">زمین بازی کودکان</option>
                                                </select>
                                            </div>
                                        </td>

                                    </tr>
                                </table>
                            </div>

                            <div class="tozihat">
                                <div>
                                    <span>توضیحات</span>
                                </div>
                                <table class="table">

                                    <tr>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">تاریخ انتشار</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content"><span tabindex="52" id="requestDate"  class="text-inp date-picker" ></span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content"> تاریخ اعتبار</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content"><span tabindex="53" id="expireDate"  class="text-inp date-picker" ></span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select"> نمایش آدرس</div>
                                                <select id="addressVisible" tabindex="54" title="انتخاب کنید">
                                                    <option value="0">خیر</option>
                                                    <option value="1">بلی</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">نمایش روی نقشه</div>
                                                <select id="locationVisible" tabindex="55" title="انتخاب کنید">
                                                    <option value="0">خیر</option>
                                                    <option value="1">بلی</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">وضعیت</div>
                                                <select id="status" tabindex="56" title="انتخاب کنید">
                                                    <option value="2102">تایید</option>
                                                    <option value="2101">انتظار</option>
                                                    <option value="2104">معامله شد</option>
                                                    <option value="2103">غیر فعال</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="5">
                                            <div class="cnt-table-content">
                                                <div class="rf-content">توضیحات بازدید</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content">
                                                    <span tabindex="57" id="visitDescription"  placeholder= class="text-inp" ></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <div class="cnt-table-content">
                                                <div class="rf-content">توضیحات بیشتر</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content">
                                                    <span tabindex="58" id="description"  placeholder= class="text-inp" ></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="cnt-button-bottom clearfix">
                                <button type="submit" class="btn btn-primary btn-red pull-left " tabindex="59">سپردن!</button>
                                <div class="form-meesage"><span class="hidden msg-container"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="file-show-map">
                            <div class="file-title">
                                <i class="icon-zoom pull-left"></i>
                                <span>نمایش روی نقشه</span>
                            </div>
                            <div id="map"></div>
                        </div>
                        <div class="file-screenshot">
                            <div class="file-title">
                                <i class="icon-zoom pull-left"></i>
                                <span>تصاویر فایل</span>
                            </div>
                            <form class='photo-uploader-form'>
                                <div class="photo-uploader">
                                    <p>مرورگر شما این امکان را پشتیبانی نمی کند.</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>