<div class="select-operation">
	<div style=""><h1>سپردن ملک</h1></div>
	<div>
		<div><a href="/#addnew/apartment"><h3>سپردن آپارتمان</h3></a></div>
		<div><a href="/#addnew/villa"><h3>سپردن ویلا <h3></a></div>
		<div><a href="/#addnew/shop"><h3>سپردن مغازه</h3></a></div>
		<div><a href="/#addnew/office"><h3>سپردن اداری</h3></a></div>
		<div><a href="/#addnew/land"><h3>سپردن زمین</h3></a></div>
		<div><a href="/#addnew/property"><h3>سپردن مستغلات</h3></a></div>
	</div>	
</div>