
<div class="agencies-first-part">
    <div class="pull-left agencies-view">
        
    </div>
    <div class="pull-left agencies-tell">
        <span>املاک امروز</span>
        <span><%=estateCount%></span>
    </div>
        <div class="agencies-name">
        <span>نام:</span>
        <span><%=name%></span>
    </div>
</div>
