<div class="user-editProfile">
    <form id="login-form" role="form">
        <div>
            <ul>
                <li>
                    <div><span>نام</span></div>
                    <input class="rtl" name="firstname" type="text" placeholder="" value="<%=firstname%>"/>
                </li>

                <li>
                    <div><span>نام خانوادگی</span></div>
                    <input class="rtl" name="lastname" type="text" placeholder="" value="<%=lastname%>"/>
                </li>

                <li>
                    <div><span>تلفن همراه</span></div>
                    <input type="text" name="cellphone" placeholder="" value="<%=cellphone%>"/>
                </li>

                <li>
                    <div><span>ایمیل</span></div>
                    <input type="text" name="email" placeholder="" value="<%=email%>"/>
                </li>

                <li class="edit-profile-bottom">
                    <a class="btn edit-owner-btn btn-primary btn-green pull-left">ذخیره</a>
                    <div class="form-meesage ">
                        <span class="hidden msg-container alert alert-danger"></span>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>