
<div class="plans">
    <table class="table table-striped table-hover">
        <tr>
            <td colspan="9" class="title-plans">
                <div class="title-form">
                    <span>لیست طرح های شما</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span>شماره تراکنش و تاریخ خرید</span>
            </td>
            <td>
                <span> خریدار</span>
            </td>
            <td>
                <span>ماه ها</span>
            </td>
            <td>
                <span>مناطق</span>
            </td>
            <td>
                <span>تاریخ  شروع</span>
            </td>
            <td>
                <span>تاریخ پایان</span>
            </td>
            <td>
                <span>مقدار کل اعتبار</span>
            </td>
            <td>
                <span>اعتبار باقی مانده</span>
            </td>
        </tr>
    </table>
</div>