<td>
    <span><% if (bill && bill.transactionNo && bill.billDate) {print(bill.transactionNo + ' - (' +new Date(bill.billDate.date).toLocaleDateString() +')');}%></span>
</td>
<td>
    <span><% if (users && users != null) {print(users.firstname +' '+ users.lastname);}%></span>
</td>

<td>
    <span><% if (months && months != null) {print(months);}%></span>
</td> 
<td>
    <span><% if (regions && regions != null && regions.length > 0) {print(regions.join());}%></span>
</td>
<td>
    <span><% if (startDate && startDate != null) {print(startDate);}%></span>
</td>
<td>
    <span><% if (endDate && endDate != null) {print(endDate);}%></span>
</td>
<td>
    <span><% if (amount && amount != null) {print(amount + ' تومان');}%></span>
</td>
<td>
    <span><% if (remainingValue && remainingValue != null) {print(remainingValue  + ' تومان');}%></span>
</td>