
.compare-container{
    font-size: 8pt;
}
.compare-container .title-form{
    font-size: 8pt;
}
.compare-container table{
    margin-bottom: 50px;
}

.title-form{
    border-top: 1px solid #0fcc89;
    margin: 15px 0 0;
}
.title-form span{
    background-color: #0fcc89;
    border: 1px solid #0fcc89;
    border-radius: 3px;
    color: #FFFFFF;
    display: block;
    margin: auto;
    padding: 0 4px 3px;
    position: relative;
    text-align: center;
    top: -16px;
    width: 200px;
    z-index: 4;
    line-height:24px;
}
.compare-container td {
    border: none !important;
    border-right: 1px solid #DDD !important;
}
.compare-container td:first-child {
    width: 200px;
    background-color: #F5F5F5 !important;
    border-right-width: 5px !important;
    font-weight: bold;
}
.compare-container tr:hover td {
    border-right-width: 0px !important;
}
.compare-container tr:hover td:first-child {
    border-right-width: 5px !important;
}

.compare-container td.title-compare , .compare-container tr:hover td.title-compare{
    background-color: #FFFFFF !important;
    border-right-width: 0 !important;
}