.neighbor-filter-list {
    height: 300px;
    overflow: scroll;
}

.mk-docs-nav-static .dropdown-menu > li {
    overflow: hidden;
    padding: 5px 10px;
}
.mk-docs-nav-static .dropdown-menu > li  label{
    color: #424242;
}
.mk-docs-nav-static .cnt-slider.dropdown-menu > li {
    padding: 5px 20px;
    overflow: hidden;
}
.mk-docs-nav-static .dropdown-menu > li:first-child{
    padding-top: 15px;
}
.mk-docs-nav-static .dropdown-menu > li:last-child {
    padding-bottom: 15px;
}
.estates .sidebar-left{
    height: auto;
}
.sidebar-left > div{
    height: 100%;
}
.estates .center .map{
    height: 440px;
    width: 100%;
}
.estate-top-container .dropdown-menu{
    margin-top: 9px;
}
.dropdown-menu.cnt-slider span {
    margin:0 4px;
}
.estate-top-container{
    padding: 10px 15px 20px 10px;
    border-bottom: 1px solid #DDD;
    height: 50px;
}
.single-estate{
    padding: 10px 15px 10px 0px;
    border-bottom: 1px solid #DDD;
    overflow: hidden;
    position: relative;
}

.single-estate:hover{
    background-color: #F7F7F7;
}
.gird-item-estate-right{
    direction: rtl;
    text-align: right;
    overflow: hidden;
}
.gird-item-estate-right > div{
    width: 90px;
    float: right;
    /*height: 60px;*/
}
.gird-item-estate-right > div:last-child{
    width: calc(100% - 90px);
}
.gird-item-estate-type{
    background-color: #515D66;
    border-radius: 0 0 3px 3px;
    color: #FFFFFF;
    left: 10px;
    padding: 1px 2px 3px;
    width: 95px;
    position: absolute;
    text-align: center;
    top: 0;
    font-size: 8pt;
}
.estate-type-303{
    background-color: #8737D7;
}
.estate-type-301{
    background-color: #DA494A
}
.estate-type-302{
    background-color: #78b0f3;
}
.info-more{
    text-align: right;
    font-size: 11px;
}

.info-more > div span{
    cursor: pointer;
}
.info-more > div:first-child , .info-more > div:nth-child(2){
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.2s ease-in-out !important;
    -moz-transition: 0.2s ease-in-out !important;
    -o-transition: 0.2s ease-in-out !important;
    -ms-transition: 0.2s ease-in-out !important;
}
.single-estate:hover .info-more > div:first-child ,.single-estate:hover .info-more > div:nth-child(2){
    visibility: visible;
    opacity: 1;
}
.info-more > div:first-child{
    float: right;
    width: 80px;
    color: #17B0D9;
}
.info-more > div:nth-child(2){
    float: right;
    width: 60px;
    color: #17B0D9;
}
.info-more > div:last-child{
    float: left;
    width: auto;
    margin: 10px;
}

.info-more-img{
   width: 10px;
   margin-left: 48px
}
info-more-text a img{
        padding: 8px;
}

.estate-list-view-container{
    height: 390px;
    direction: ltr;
}
.cnt-estatesview{
    border: 1px solid #DDD;
    overflow: hidden;
    box-sizing: border-box;
}
.cnt-estatesview .col-md-4 , .cnt-estatesview .col-md-8{
    padding: 0;
}
.cnt-estatesview .col-md-8{
    float: left;
}

input[class*="input-search"].estates-input-search{
    height: 28px !important;
    width: 204px !important;
    display: inline;
    float: right;
}
.estates-input-search + .neighbor-search-btn{
    padding: 2px 16px 4px;  
}

.top-shadow ,.right-shadow ,.bottom-shadow ,.left-shadow  {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.18);
    z-index: 2000;
}
.top-shadow{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
    height: 1px;
    left: 0;
    right: 0;
    top: 0;
}
.right-shadow{
    box-shadow: -6px 0px 6px rgba(0, 0, 0, 0.14);
    width: 11px;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    z-index: 2001;
    cursor: pointer;
}
.bottom-shadow{
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.9);
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
}
.left-shadow{
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.9);
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
}
.right-caret{
    background-image: url("../img/dpDarkRight.png");
    height: 10px;
    transition: all 0.2s ease-in-out 0s !important;
    width: 6px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    margin-right: 2px;
    cursor: pointer;
}
.left-caret{
    background-image: url("../img/dpDarkLeft.png");
}
.cnt-estatesview .col-md-12{
    padding: 0;
}

/*Loading css*/


.loader {
    text-align: center;    
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: black;
    border-radius: 50px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
@-webkit-keyframes loader {
    0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -webkit-transform: translateY(0);
}
100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -webkit-transform: translateY(-21px);
}
}
@-moz-keyframes loader {
    0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    -moz-transform: translateY(0);
}
100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    -moz-transform: translateY(-21px);
}
}

/* Animation keyframes - you need to add prefixes */
@keyframes spin {
    from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}




/*Map view*/


#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 240px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  left: 50% !important;
  margin-left: -120px !important;
  position: absolute;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.advertise  {
    
}

.advertise li {
    
}

