.home-background{
    background-image: url("/img/melkadeLandingBG.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}
.home-background .mk-footer{
    margin-top: 0;
}
.mlk-search{
    clear: both;
}
.home-filter {
    clear: both;
    /*overflow: hidden;*/
}

.home-filter-bottom{
    display: inline-block;
}

.home-filter-icon{
    background-image: url("../img/MelkadeLogo.png");
    background-size: 26px 28px;
    height: 28px;
    left: 21px;
    opacity: 0.2;
    position: absolute;
    top: 20px;
    width: 26px;
}
.search-wrapper{
    display: none;
    padding:20px;
    position: fixed;
    right: 50%;
    margin-right: -211px;
    top: 30%;
    border-radius: 3px;
    border: 1px solid #969BA0;
    background: #FFFFFF; /* Old browsers */
    box-shadow: 0 0 100px 50px #FFFFFF;
}

.home-filter > div > span:first-child{
    margin-right:0 !important;
}





.map-landing{
    background-image: url("../img/mapsLanding/Com/mapShadow.png");
    background-position: 23px -12px;
    background-repeat: no-repeat;
    height: 537px;
    margin: auto;
    position: relative;
    top: 10px;
    width: 906px;
}
.map-landing > div {
    position: absolute;
}
.map-landing path ,.map-landing polygon {
    opacity: 0.85;
    cursor: pointer;
    -webkit-transition: 0.1s ease-in-out !important;
    -moz-transition: 0.1s ease-in-out !important;
    -o-transition: 0.1s ease-in-out !important;
    -ms-transition: 0.1s ease-in-out !important;
    transition: 0.1s ease-in-out !important;
}
.map-landing path:hover ,.map-landing polygon:hover {
    opacity: 1;
}
.map-landing image{
    pointer-events: none;
}

.map-landing .man-1{
    height: 96px;
    right: 166px;
    top: 20px;
    width: 236px;
}
.map-landing .man-2{
    height: 208px;
    right: 384px;
    top: 53px;
    width: 95px;
}
.map-landing .man-3{
    height: 101px;
    right: 257px;
    top: 85px;
    width: 142px;
}
.map-landing .man-4{
    height: 130px;
    right: 20px;
    top: 91px;
    width: 284px;
}
.map-landing .man-5{
    height: 204px;
    right: 461px;
    top: 58px;
    width: 124px;
}
.map-landing .man-6{
    height: 96px;
    right: 332px;
    top: 161px;
    width: 78px;
}
.map-landing .man-7{
    height: 78px;
    right: 265px;
    top: 179px;
    width: 81px;
}
.map-landing .man-8{
    height: 61px;
    right: 164px;
    top: 184px;
    width: 124px;
}
.map-landing .man-9{
    height: 65px;
    right: 440px;
    top: 258px;
    width: 119px;
}
.map-landing .man-10{
    height: 64px;
    right: 400px;
    top: 257px;
    width: 47px;
}
.map-landing .man-11{
    height: 80px;
    right: 353px;
    top: 255px;
    width: 54px;
}
.map-landing .man-12{
    height: 83px;
    right: 299px;
    top: 254px;
    width: 66px;
}
.map-landing .man-13{
    height: 70px;
    right: 72px;
    top: 208px;
    width: 231px;
}
.map-landing .man-14{
    height: 72px;
    right: 191px;
    top: 271px;
    width: 113px;
}
.map-landing .man-15{
    height: 116px;
    right: 194px;
    top: 325px;
    width: 133px;
}
.map-landing .man-16{
    height: 86px;
    right: 317px;
    top: 332px;
    width: 84px;
}
.map-landing .man-17{
    height: 65px;
    right: 398px;
    top: 311px;
    width: 62px;
}
.map-landing .man-18{
    height: 121px;
    right: 440px;
    top: 286px;
    width: 197px;
}
.map-landing .man-19{
    height: 92px;
    right: 364px;
    top: 337px;
    width: 123px;
}
.map-landing .man-20{
    height: 112px;
    right: 264px;
    top: 390px;
    width: 115px;
}
.map-landing .man-21{
    height: 128px;
    right: 539px;
    top: 175px;
    width: 306px;
}
.map-landing .man-22{
    height: 107px;
    right: 537px;
    top: 127px;
    width: 309px;
}


.map-landing .man-4 path ,.map-landing .man-22 path ,.map-landing .man-17 path  {
    fill:#cde4ea;
}
.map-landing .man-2 path ,.map-landing .man-21 path ,.map-landing .man-11 polygon ,.map-landing .man-8 path ,.map-landing .man-15 path,.map-landing .man-19 path {
    fill:#cabbd8;
}
.map-landing .man-5 path ,.map-landing .man-10 path ,.map-landing .man-12 path  {
    fill:#7abbc5;
}
.map-landing .man-1 path ,.map-landing .man-18 path ,.map-landing .man-13 path  {
    fill:#98d1ee;
}
.map-landing .man-7 path ,.map-landing .man-16 path {
    fill:#8dd1dc;
}
.map-landing .man-6 path ,.map-landing .man-9 path ,.map-landing .man-14 path ,.map-landing .man-20 path  {
    fill:#f0d4c9;
}
.map-landing .man-3 path {
    fill:#dad9e9;
}

#legend {
    /*right:10px !important;*/
}

