/*
    Document   : style
    Created on : Dec 2, 2013, 2:03:42 PM
    Author     : Hesam
*/

@import url("bootstrap.min.css");
@import url("bootstrap-theme.min.css");

@import url("home.css");
@import url("estates.css");
@import url("compare.css");
@import url("nanoscroller.css");
@import url("jquery-ui.css");
@import url("bootstrap-select.css");
@import url("bootstrap-rtl.css");

@import url("pwt-datepicker.css");
@import url("jquery.plupload.queue.css");
@import url("purple.css");


html , body{
    height: 100%;
}

@font-face {
    font-family: Roya;
    src: url('../fonts/Roya.ttf') format("truetype");
}

@font-face
{
    font-family: Melkadeh-menu;
    src: url('../fonts/B_Yekan.ttf')
}

@font-face
{
    font-family: Roya;
    src: url('../fonts/IRRoya.ttf')
}

html , body{
    height: 100%;
}

body {
    direction: rtl;
    font-family: Roya;
    font-size: 16px;
    line-height: 20px;
    color: #424242;
    padding-top: 73px;
    position: relative; /* For scrollyspy */
}

h1, h2, h3,h4, h5, h6, h7 {
    font-family: Roya;
}
h1 {
    font-size: 26px;
}
h2, h3, h4, h5, h6 {
    font-size: 16px;
}

.navbar{
    font-size: 18px;
}
i[class*="-icon"]{
    overflow: hidden;
    text-indent: -9999px;
    display: block;
    opacity: 0.8;
    outline:none !important;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    float: right;
    margin-left: 2px;
    top: 2px;
}
i[class*="-icon"]:hover{
    opacity: 1;
}
.star-icon{
    background-image: url("../img/star2 2.png");
    height: 14px;
    width: 14px;
}
.plus-icon{
    background-image: url("../img/plus.png");
    height: 14px;
    width: 14px;
}
.star-e-icon{
    background-image: url("../img/star3.png");
    height: 14px;
    width: 14px;
}
.plus-e-icon{
    background-image: url("../img/minus.png");
    height: 14px;
    width: 14px;
}
.caret {
    background-image: url("../img/dpDark.png");
    border: medium none !important;
    height: 6px;
    margin: 0 4px 0 0;
    width: 10px;

    -webkit-transition: 0.2s ease-in-out !important;
    -moz-transition: 0.2s ease-in-out !important;
    -o-transition: 0.2s ease-in-out !important;
    -ms-transition: 0.2s ease-in-out !important;
}
.btn-head:hover .caret {
    background-image: url("../img/dpGreen.png");
}

.tooltip-arrow{
    border-color:  transparent;
}
.tooltip.top .tooltip-arrow {
    border-top-color:   #DDDDDD;
}
.tooltip-inner{
    background-color: #DDDDDD;
    border-radius: 0;
    color: #424242;
}
.datepicker-plot-area{
    z-index: 6;
}


.hold-on-loading {
    margin: 0px auto 0;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #FFF;
    text-align: center;
    height: 30px;
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
    display: none;
}

.hold-on-loading span{
    margin-right: 10px;
}

.wrapper-all{
    margin-bottom:0px;
    height: auto;
}
.overwrite-container{
    position: relative;
    padding:0 15px;
}
.overwrite-container-nav{
    position: relative;
    padding:0 15px 15px;
}
.pull-left{
    float: left !important;
}
.pull-right{
    float: right !important;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11{
    float: right;
}


.mk-docs-nav-static .navbar-nav > li{
    float: right;
}
.plupload_filelist_footer{
    height: 40px !important;
}
.plupload_container{
    padding: 0 !important;
}
.navbar-nav{
    float: right;
}
.navbar-header{
    float: left;
}
.navbar-brand{
    margin:0 15px 0 -15px !important;
    font-size: 32px;
    color:#0fcc89 !important;
    padding: 0;
    float: left;
}
.navbar-toggle{
    float: right;
}
.navbar{
    margin-bottom: 10px;
}
.mk-docs-nav .navbar-toggle{
    margin: 15px 0 0;
    padding: 7px;
}
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus{
    background-color: #0fcc89;
}
.navbar .navbar-toggle .icon-bar{
    background-color: #0fcc89;
}
.navbar .navbar-toggle:hover .icon-bar, .navbar .navbar-toggle:focus .icon-bar{
    background-color: #FFF;
}
.request-nav{
    margin-right: 15px;
}

.breadcrumb{
    background-color: #F5F5F5;
}
.breadcrumb > .active {
    color: #0fcc89;
    font-weight: bold;
}
a {
    color: #17B0D9;
    -webkit-transition: 0.2s ease-in-out !important;
    -moz-transition: 0.2s ease-in-out !important;
    -o-transition: 0.2s ease-in-out !important;
    -ms-transition: 0.2s ease-in-out !important;
}
a:hover, a:focus {
    color: #11819f;
    text-decoration: none;
    outline: none;
}








ul , li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mk-docs-nav {
    background-color: #000;
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    border-color: transparent;
    background-image: none;
    margin-bottom: 10px;
    z-index: 10000;
}
.navbar .navbar-toggle:hover {
    background-color: #0fcc89 ;
    border-color: #0fcc89 ;
}
.navbar .navbar-toggle {
    border-color: #0fcc89 ;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus{
    color: #0fcc89;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover {
    color: #0fcc89;
    background-color: transparent;
    background-image: none;
}
.header-icon{
    background-image: url("../img/MelkadeLogo.png");
    background-size: auto 32px;
    height: 32px;
    margin: 15px 0 0 15px;
    width: 30px;
    float: left;
}
.bazaar-wrapper{
    float: left;
    height:32px;
    margin-left: 15px;
    margin-top: 15px;
    width: 78px;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 3px;
    padding: 2px;
}
.bazaar-wrapper span:nth-child(1){
    background-image: url("../img/android.png");
    float: left;
    height:24px;
    width: 24px;
}
.bazaar-wrapper span:nth-child(2){
    line-height: 12px;
    font-size: 13px;
    display: block;
}
.bazaar-wrapper:hover{
    color:#2361d1;
    border: 1px solid #2361d1;
}
.bazaar-wrapper:hover span:nth-child(1){
    background-image: url("../img/android_hover.png");
}

.apple-wrapper{
    float: left;
    height:32px;
    margin-left: 6px;
    margin-top: 15px;
    width: 78px;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 3px;
    padding: 2px;
}
.apple-wrapper span:nth-child(1){
    background-image: url("../img/apple.png");
    float: left;
    height:24px;
    width: 24px;
}
.apple-wrapper span:nth-child(2){
    line-height: 12px;
    font-size: 13px;
    display: block;
}
.apple-wrapper:hover{
    color:#2361d1;
    border: 1px solid #2361d1;
}
.apple-wrapper:hover span:nth-child(1){
    background-image: url("../img/apple_hover.png");
}

.mk-old-docs {
    padding: 15px 0px 0;
}
.mk-docs-nav .navbar-collapse {
    border: none;
}
.btn{
    padding: 4px 16px 6px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 20px;
}
.btn-green{
    background: #4D9E80;
}
.btn-green:hover , .btn-green:active ,.btn-green:focus {
    background: #4D9E80;
}
.btn-red{
    border:1px solid #ce4545;
    background: #ec4f4f;
    color: #FFF !important;
}
.btn-red:hover , .btn-red:active, .btn-red:focus{
    border:1px solid #ce4545;
    background: #df4a4a;
}
[class*="-input-search"] ~ .btn-red{
    border-radius: 3px 0 0 3px;
    margin: 0 !important;
    width: 62px !important;
}
.cnt-button-bottom{
    height: 40px;
    margin: 0 0px 20px 10px !important;
}



.file-same , .file-spicial , .file-info{
    /*    border: 1px solid #DDD;*/
    padding: 10px 0;
    overflow: hidden;
}
.file-same ,.file-info , .file-show-map{
    margin-bottom: 10px;
}
.file-same , .file-spicial{
    height: 262px;
}
.file-same-content{
    overflow: auto;
    max-height: 200px;
}
[class*="title"]{
    font-size: 18px;
}
.file-title {
    margin: 9px 9px 13px 0;
}
.file-code{
    font-size: 22px;
    margin: 0 0 15px;
    line-height: 24px;
}
.file-detail{
    margin: 0 0 15px 0 ;
}

.file-show-map , .file-screenshot{
    border: 1px solid #DDD;
    overflow: hidden;
}

.file-show-map #map{
    width: 100%;
    height: 350px;
}
.file-screenshot img{
    width: 100%;
    height: 250px;
}
.file-same-det{
    margin-bottom: 5px;
}

.neighbor-search-btn{
    padding: 5px 16px 7px;
    float: right;
    display: block;
    width: 62px;
}



.file-form-apartment table tr td{
    border:none !important;
    padding: 0 12px 8px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.file-form-apartment table tr td span.show-field{
    padding: 4px 6px 2px;
    background-color: #F5F5F5;
    position: relative;
    top: -4px;

}
.cnt-table-content{
    border-bottom: 1px solid #DDD;
    width: 100%;
}

.cnt-table-content .rf-content{
    float: right;
    margin-left: 4px;
}
.cnt-table-content .lf-content{
    float: left;
    margin-right: 4px;
}
.cnt-table-content .cf-content{
    overflow: hidden;
}
.inp-two{
    overflow: hidden;
}
.inp-two input{
    width: 114px !important;
}
.table-two{
    margin: 0;
}
.file-form-apartment table tr td .table-two td{
    padding: 0 !important;
}
.file-form-apartment table tr td .table-two td:first-child{
    padding-left: 12px !important;
}
.file-form-apartment table tr td .table-two td:last-child{
    padding-right: 12px !important;
}
.rf-content-select {
    float: right;
    margin-left: 4px;
}
.address input{
    float: right;
    width: 12% !important;
}


::-webkit-input-placeholder {
    color: #cbcbcb;
}
:-moz-placeholder { /* Firefox 18- */
    color: #cbcbcb;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: #cbcbcb;
}
:-ms-input-placeholder {
    color: #cbcbcb;
}
textarea{
    height: 85px;
    margin-top: 6px;
    resize: none;
    width: 240px;
}
input[type="text"]:focus , input[type="password"]:focus{
    outline:none !important;
    background-color: #E7E7E7;
}
input[type="text"] ,  input[type="password"]{
    outline:none !important;
    text-align: right;
    box-shadow: none;
    border-radius: 0px;
    font-size: 10pt;
    font-weight: bold;
    background-color: #F5F5F5;
    border-radius: 0 0 0 0;
    border: none;
    padding: 4px 6px 2px;
    margin: 0;
    width: 100% ;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    -webkit-transition: 0.3s ease-in-out !important;
    -moz-transition: 0.3s ease-in-out !important;
    -o-transition: 0.3s ease-in-out !important;
    -ms-transition: 0.3s ease-in-out !important;
    transition: 0.3s ease-in-out !important;
    outline:none !important;
}
input[class*="-input-search"] {
    width: 310px;
    height: 28px;
    margin: 0;
    border: 1px solid #DDD;
}
input[class*="-input-search"].home-input-search{
    height: 34px;
    display: block;
    float: right;
    width: 318px;
    border-radius: 0 3px 3px 0;
    margin: 0;
}
.number-inp{
    text-align: left !important;
    direction: ltr;
}

/*
input[class*="-input-1"]{
    width: 17.5px;
}
input[class*="-input-2"]{
    width: 25px;
}
input[class*="-input-3"]{
    width: 32.5px;
}
input[class*="-input-4"]{
    width: 40px;
}
input[class*="-input-5"]{
    width: 47.5px;
}
input[class*="-input-6"]{
    width: 55px;
}
input[class*="-input-7"]{
    width: 62.5px;
}
input[class*="-input-8"]{
    width: 70px;
}
input[class*="-input-9"]{
    width: 77.5px;
}
input[class*="-input-10"]{
    width: 85px;
}
input[class*="-input-11"]{
    width: 92.5px;
}
input[class*="-input-12"]{
    width: 100px;
}
input[class*="-input-13"]{
    width: 107.5px;
}
input[class*="-input-14"]{
    width: 115px;
}
input[class*="-input-15"]{
    width: 122.5px;
}
input[class*="-input-16"]{
    width: 130px;
}
input[class*="-input-17"]{
    width: 137.5px;
}
input[class*="-input-18"]{
    width: 145px;
}
input[class*="-input-19"]{
    width: 152.5px;
}
input[class*="-input-20"]{
    width: 160px;
}



input[class*="-input-4"].camma{
    width: 36px;
}
input[class*="-input-5"].camma{
    width: 43px;
}
input[class*="-input-6"].camma{
    width: 51px;
}
input[class*="-input-7"].camma{
    width: 58px;
}
input[class*="-input-8"].camma{
    width: 61px;
}
input[class*="-input-9"].camma{
    width: 69px;
}
input[class*="-input-10"].camma{
    width: 75px;
}
input[class*="-input-11"].camma{
    width: 83px;
}
input[class*="-input-12"].camma{
    width: 86px;
}
input[class*="-input-13"].camma{
    width: 93px;
}
input[class*="-input-14"].camma{
    width: 100px;
}
input[class*="-input-15"].camma{
    width: 107px;
    }*/



.login input{
    padding: 2px 6px;
    text-align: left;
}



.file-form-apartment{
    font-size: 10pt;
    line-height: 32px;
    text-align: justify;
}

.file-form-apartment table{
    table-layout: fixed;
}

.file-form-apartment span{
    line-height: 24px;
}
.file-form-apartment input{
    position: relative;
    top: -3px;
}
.cnt-checkbox{
    display: inline-block;
    margin: 0 8px 0 0 !important;
    position: relative;
    top: 6px;
    clear:both;
}
.icheckbox_minimal-purple{
    float:right;
    height:22px !important;
}

.icheckbox_minimal-purple + span{
    background-color: #F5F5F5 !important;
    /*    border-radius: 3px 0 0 3px;
        border: 1px solid #DDDDDD ;
        border-right: none ;*/
    display: block;
    float: right;
    line-height: 17px;
    padding: 1px 4px 4px;
    border-radius: 2px 0 0 2px;
}
.icheckbox_minimal-purple + label{
    display: block;
    float: right;
    line-height: 20px;
    padding: 0 4px;
    margin-bottom: 0;
}

.bootstrap-select .dropdown-menu{
    top: 19px;
    font-size: 10pt;
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu{
    top: auto !important;
    bottom:20px;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.176);
}
.bootstrap-select .btn-default{
    margin: 0 !important;
    background-color: #F5F5F5 !important;
    background-image: none !important;
    border: none !important;
    border-radius: 0px !important;
    font-size: inherit !important;
    padding: 2px 6px 4px !important;
    height: 20px !important;
}
.bootstrap-select .btn-default.btn:focus , .bootstrap-select .btn-default.btn:active{
    outline: none !important;
    background-color: #E7E7E7 !important;
    box-shadow: none !important;
}
.bootstrap-select.btn-group.open .dropdown-toggle{
    box-shadow: none !important;
    background-color: #E7E7E7 !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #E7E7E7 !important;
    background-image: none !important;
}
.bootstrap-select .btn .filter-option{
    left: 4px !important;
    right: 4px !important;
    top: -2px !important;
    text-align: right !important;
}
.bootstrap-select .btn .caret{
    left: 4px !important;
    right: auto !important;
}
.cnt-select{
    height: 21px;
}
.cnt-select .bootstrap-select{
    top: -3px;
    /*    width: 70px !important;*/
    float: left !important;
}

.cnt-select-big .bootstrap-select{
    top: -3px;
    /*    width: 125px !important;*/
    float: left !important;
}

.bootstrap-select .dropdown-menu li > a{
    padding: 0px 4px;
}


.file-form-apartment > div > div:first-child{
    border-top: 1px solid #0fcc89;
    margin: 15px 0 0px;
}
.file-form-apartment > div > div:first-child > span{
    background-color: #0fcc89;
    border: 1px solid #0fcc89;
    border-radius: 3px;
    display: table;
    margin: auto;
    padding: 0px 10px 3px;
    position: relative;
    text-align: center;
    top: -16px;
    min-width: 200px;
    z-index: 4;
    color: #FFF;
}
.msg-container{

    visibility: hidden;
}
.msg-container{
    padding: 6px 12px;
    display:block;
    height: 34px;
    margin: 0;
}
.dropdown-menu > li  {
    color: #424242;
}



.btn-head{
    padding:4px 12px 6px !important;
    border-radius: 3px;
}
.mk-navbar-nav .btn-head{
    margin-right: 10px;
    margin-top: 15px;
}
.mk-navbar-nav li:first-child .btn-head{
    margin-right: 0px;
}
.give .btn-head{
    border: 1px solid #ce4545 !important;
    color: #ce4545 !important;
}
.give .btn-head:hover{
    background-color: #ce4545 !important;
    color: #FFF !important;
}
.login .btn-head{
    border: 1px solid #0fcc89 !important;
    color: #0fcc89 !important;
}
.login .btn-head:hover{
    background-color: #0fcc89 !important;
    color: #FFF !important;
}

.login .btn-head .selected{
    background-color: #0fcc89 !important;
    color: #FFF !important;
}
.mk-docs-nav-static .btn-head{
    margin-right: 2px;
    margin-top: 15px;
    border: 1px solid transparent;
    padding: 2px 8px 4px !important;
}
.mk-docs-nav-static li.dropdown:first-child .btn-head{
    margin-right: 0px;
}
.mk-docs-nav-static li.dropdown:first-child ul{
    right: 0 !important;
}

.navbar-nav > li{
    float: right;
}
.mk-docs-nav-static .open .btn-head , .mk-docs-nav-static .btn-head:hover ,.mk-docs-nav-static .btn-head:focus{
    background-color: #f0f0f0 !important;
    border: 1px solid #ddd !important;
}

.sidebar-left .btn-head , .sidebar-left .open .btn-head , .sidebar-left .btn-head:hover ,.sidebar-left .btn-head:focus{
    background-color: #f0f0f0 !important;
    border: 1px solid #ddd !important;
}
.sidebar-left .btn-head{
    border: 1px solid transparent;
}

.navbar-collapse.in{
    overflow: visible !important;
}
.request-nav {
    padding: 15px 0px 15px 0px;
}


/**************login**********/
.mk-docs-nav .modal{
    overflow: hidden;
}
.mk-docs-nav .modal-dialog{
    width:292px;
    margin: -120px auto 0px;
    top: 50%;
}
.login li{
    overflow: hidden;
    padding: 10px 0px;
    clear: both;
}
.login li > span{
    float: right;
    display: block;
}
.login li > input{
    width: 250px;
    display: block;
    margin-top: 6px;
}

.modal{
    background-color: rgba(0,0,0,0.7);
}
.mk-docs-nav .give .modal-dialog{
    width: 530px;
    text-align: center;
    margin: -181px -265px 0 0;
    right: 50%;
    position: absolute;
    top: 50%;
}
.mk-docs-nav .give .modal-content{
    background-color: transparent;
    box-shadow: none;
    border: 1px solid transparent;
}
.give li a{
    border-radius: 50%;
    height: 130px;
    text-align: center;
    width: 130px;
    display: inline-block;
    margin: 15px;
    color: #3B4C61 !important;
}
.give li:nth-child(1) a:nth-child(1){
    background-color: #F2992E;
}
.give li:nth-child(1) a:nth-child(2){
    background-color: #D95E40;
}
.give li:nth-child(1) a:nth-child(3){
    background-color: #FFFFFF;
}
.give li:nth-child(2) a:nth-child(1){
    background-color: #748089;
}
.give li:nth-child(2) a:nth-child(2){
    background-color: #4AA8D8;
}
.give li:nth-child(2) a:nth-child(3){
    background-color: #56BC8A;
}
.give li a span{
    position: relative;
    top: 55px;
    font-size: 18px;
}

/****************************/
.cnt-search{
    position: relative;
    margin: 15px 0px 0;
    clear: both;
    min-height: 34px;
}
.mlk-search .cnt-search{
    margin: 15px 0px 15px;
}
.cnt-search .ui-autocomplete{
    background-color: #FFFFFF !important;
    border: 1px solid #DDDDDD !important;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    left: auto !important;
    padding:2px 0px !important;
    position: absolute !important;
    right: 0 !important;
    text-align: right !important;
    top: 38px !important;
    width: 202px !important;
    z-index: 7777 !important;
}


.cnt-neighbor{
    display: inline-block;
    position: relative;
    width: 83px;
}
.cnt-neighbor .ui-autocomplete{
    background-color: #FFFFFF !important;
    border: 1px solid #DDDDDD !important;
    border-radius: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    left: auto !important;
    padding: 2px 0 !important;
    position: absolute !important;
    right: 0 !important;
    text-align: right !important;
    top: 22px !important;
    width: 83px !important;
    z-index: 7777 !important;
}

.cnt-slider{
    width: 250px;
}
.cnt-slider > li > div:first-child{
    text-align: center;
    margin-bottom: 8px;

}
.ui-slider{
    height: 6px;
    border-color: #DDD;
    margin-bottom: 8px;
}
.ui-slider-range{
    background-color: #CCC;
}
.ui-slider-handle{
    height: 12px !important;
    width: 12px !important;
    border-color: #DDD !important;
    background-color: #CCC  !important;
}
.dropdown-menu{
    left: auto !important;
    right: 0px !important;
    z-index: 3000;
    border-radius: 3px !important;
    padding: 0;
}
.mk-docs-nav-static .dropdown-menu{
    margin-top: 2px !important;
    right: 2px !important;

}
.mk-docs-nav-static .l-dp{
    left: 0 !important;
    right: auto !important;
}

.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active{
    border: none;
    background-color: #F5F5F5;
    border-radius: 0;
    margin: 0;
    cursor: pointer;
}

.ui-widget{
    font-size: 10pt;
    border-color: #DDD;
    border-radius: 0;
}

label{
    font-size: 16px;
    font-weight: normal;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + label{
    display:inline-block;
    margin:0px -4px;
    padding: 2px 16px 4px;
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #535b66;
    border-radius: 0px;
}
input[type="radio"]:checked + label{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    color: #FFF;
    background: none repeat scroll 0 0 #535b66;
    border: 1px solid #535b66;
    outline: 0;
}
input[type="radio"]:first-child + label {
    margin-right: 0;
    border-radius: 0 3px 3px 0;
}
input[type="radio"] + label:last-child {
    border-radius: 3px 0px 0px 3px;
}




input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label{
    display:inline-block;
    margin:0px ;
    padding:2px 2px 4px;
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    border:1px solid #DDD;
    border-radius: 3px;
    width: 60px;
}
input[type="checkbox"]:checked + label{
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    color: #FFF;
    background: none repeat scroll 0 0 #0fcc89;
    border: 1px solid #0fcc89;
    outline: 0;
}
.cnt-estatesview{
    width: calc(100% - 130px);
    float: right;
}
.advertise{
    border: 1px solid #ddd;
    position: absolute;
    left: 15px;
    bottom: 0px;
    top: 0;
    width: 125px;
}
.advertise li{
    height: 25%;
}
.advertise div{
    height: 100%;
    background-size: 125px 100%;
}
.darbab{
    background-image: url('/img/adv/Darbab.jpg');
}
.nividar{
    background-image: url('/img/adv/Nividar.jpg');
}
.webonak{
    background-image: url('/img/adv/Webonak.png');
}   
.beringmeup{
    background-image: url('/img/adv/bringMeUp.png');
}
.cnt-estatesview .col-md-8{
    width: 70%;
}
.cnt-estatesview .col-md-4{
    width: 30%;
}


@media (min-width: 1170px) and (max-width: 1350px){
    .cnt-estatesview .col-md-8{
        width: 60%;
    }
    .cnt-estatesview .col-md-4{
        width: 40%;
    }
}

@media (min-width: 992px) and (max-width: 1170px){
    .cnt-estatesview .col-md-8{
        width: 65%;
    }
    .cnt-estatesview .col-md-4{
        width: 35%;
    }
}

@media (max-width: 992px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11{
        float: none;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .file-show-map, .file-screenshot {
        float: right;
        width: 49%;
        margin:0;
    }
    .file-show-map #map ,.file-screenshot img{
        width: 100%;
        height: 250px;
    }
    .file-screenshot{
        margin-right: 2%;
    }
    .cnt-estatesview .col-md-8{
        width: 55%;
    }
    .cnt-estatesview .col-md-4{
        width: 45%;
    }
    .mk-navbar .navbar-nav:nth-child(2){
        float: none;
    }
    .cnt-search{
        margin-bottom: 0;
    }
}
@media (max-width: 767px){
    body{
        min-width: 767px;
    }
    .file-show-map, .file-screenshot {
        float: right;
        width: 49%;
        margin:0;
    }
    .file-show-map #map ,.file-screenshot img{
        width: 100%;
        height: 250px;
    }
    .file-screenshot{
        margin-right: 2%;
    }
    .cnt-estatesview .col-md-8{
        width: 60%;
    }
    .cnt-estatesview .col-md-4{
        width: 40%;
    }
    .mk-navbar-collapse{
        padding-left: 0;
    }
    .navbar-header{
        float: none
    }
    .navbar-nav{
        margin: 0;
    }
    .mk-navbar{
        margin: 0 15px;
    }
    .navbar-left{
        float: left;
    }
    .mk-navbar-nav li:first-child .btn-head{
        margin-right: 0;
    }
    .mk-docs-nav .navbar-collapse{
        padding: 0;
    }
    .mk-navbar .navbar-nav:nth-child(2){
        float: none;
    }
    .cnt-search{
        margin-bottom: 0;
    }

}
/*@media (min-width: 512px) and (max-width: 767px){
    .file-show-map, .file-screenshot {
        float: right;
        width: 49%;
        margin:0;
    }
    .file-screenshot{
        margin-right: 2%;
    }
    .cnt-estatesview .col-md-9{
        width: 60%;
    }
    .cnt-estatesview .col-md-3{
        width: 40%;
    }
    .mk-navbar-collapse{
        padding-left: 0;
    }

    .navbar-header{
        float: none
    }


    #mk-navbar{
        margin: 0 15px;
    }
    .navbar-left{
        float: left;
    }
    .cnt-search{
        margin-bottom: 0;
    }

}
@media (max-width: 511px){
    .file-show-map, .file-screenshot {
        float: none;
        max-width: 100%;
        margin:0;
    }
    .file-show-map{
        margin-bottom: 10px;
    }
    .cnt-estatesview .col-md-9{
        float: none;
        margin-bottom: 10px;
    }

    .navbar-header{
        float: none
    }
    }*/


.scrollbox3 {
    overflow: auto;
    width: 400px;
    height: 360px;
    padding: 0 5px;
    border: 1px solid #b7b7b7;
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}


/*seyran*/

.err-field{    
    background-color: #dca7a7 !important;
}










/**************Views******************/
.views .cnt-table-content{
    border-bottom: none;
    width: 100%;
}
.views .file-form-apartment table tr td span.show-field {
    padding: 4px 2px 2px;
    background-color: transparent;
    position: relative;
    top: -4px;
}
.views .agahi-form , .views .tozihat{
    background-color: #f3f3f3;  
}
.views .table .table {
    background-color: transparent;
}
.views .file-form-apartment table tr td {
    padding: 0 12px 0px !important;
}
/********************************/

/*
AGENCIES LIST
*/

.agencies-list li {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #0fcc89;
}
.agencies-list li:first-child {
    border-top: 1px solid #0fcc89;
}
.agencies-list li:nth-child(2n-1) {
    background-color: #f7f7f7;
}

.agencies-list li .agencies-name{
    overflow: hidden;
    width: 20%;
}
.agencies-list li .agencies-tell{
    width: 20%;
}
.agencies-list li .agencies-view{
    text-align: center;
    width: 100px;
}

.agencies-list li .agencies-first-part{
    clear: both;
    height: 30px;
}
.agencies-list .btn-head{
    border: 1px solid #0fcc89;
    background-color: transparent;
    color: #0fcc89;
}
.agencies-list .btn-head:hover{
    color: #FFF;
    background-color:#0fcc89;
}
/*
AGENTS LIST
*/

.agents-list-title{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px;
}
.agents-list li {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #0fcc89;
}
.agents-list li:first-child {
    border-top: 1px solid #0fcc89;
}
.agents-list li:nth-child(2n-1) {
    background-color: #f7f7f7;
}
.agents-list li .agents-name{
    overflow: hidden;
    width: 20%;
}
.agents-list li .agents-tell{
    width: 250px;
}
.agents-list li .agents-view{
    text-align: center;
    width: 100px;
}

.agents-list li .agents-count{
    text-align: center;
    width: 100px;
}


.agents-list li .agents-first-part{
    clear: both;
    height: 30px;
}
.agents-list .btn-head{
    border: 1px solid #0fcc89;
    background-color: transparent;
    color: #0fcc89;
}
.agents-list .btn-head:hover{
    color: #FFF;
    background-color:#0fcc89;
}
.agents-list-title{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px;
}

.agencies-search-wrapper{
    height: 50px;
    margin-top: 10px;
}

.agencies-search-wrapper input{
    width: 300px;
    border: 1px solid #CCC;    
    margin-right: 10px;
    padding: 5px;
}

.agents-search-wrapper{
    height: 50px;
    margin-top: 10px;
}

.agents-search-wrapper input{
    width: 300px;
    border: 1px solid #CCC;    
    margin-right: 10px;
    padding: 5px;
}



/* Absolute Center CSS Spinner */
.loading {
    position: fixed;
    height: 2em;
    z-index: 99999;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 50%;
    left: 50%;
    margin-top: -1em;
    margin-left: -1em;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    z-index: 99999;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    z-index: 99999;
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    /* needs *magic number* to vertical center :( */
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.95) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.95) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.95) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@-moz-keyframes spinner {
    0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@-o-keyframes spinner {
    0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@keyframes spinner {
    0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
}




.user-login , .user-signup , .user-editProfile , .agency-edit{
    padding:20px;
    position: fixed;
    right: 50%;
    margin-right: -200px;
    top: 110px;
    border-radius: 3px;
    border: 1px solid #969BA0;
    background: #FFFFFF; /* Old browsers */
    box-shadow: 0 0 100px 50px #FFFFFF;
    width:400px;
}
.home-background input{
    height: 34px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #DDD;
}
.home-background .btn{
    margin-top: 15px;
    width: 100%;
}
.two-inp{
    overflow: hidden;
}
.two-inp li{
    float:right;
    width: 48%
}
.two-inp li:nth-child(2n-1){
    margin-left: 3.9%;
}
.home-background .cnt-checkbox{
    margin-right: 0 !important;
    margin-bottom: 15px !important;
}
.bottom-drp-btn input{
    width: 110px !important;
}
.bottom-drp-btn li:first-child{
    padding-top: 15px !important;
}
.bottom-drp-btn li:last-child{
    padding: 0 !important;
    margin-top: 15px;
}
.bottom-drp-btn li:last-child a{
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    border-top: 1px solid #DDD;
    cursor: pointer;
    text-align: center;
    padding: 4px 20px 6px;
}
.bottom-drp-btn li:last-child a:hover{
    background-color: #f0f0f0;
}

.drp-nav li.dropdown{
    padding: 0 ;
    border: none
}
.drp-nav .dropdown-menu{
    background-color: #000;
    border-radius: 3px !important;
    border: 1px solid #0fcc89;
    margin-top: 2px !important;
    right: 10px !important;
}
.drp-nav .dropdown-menu .btn-head{
    margin: 0 ;
    border: none !important;
    border-bottom: 1px solid #0fcc89 !important;
    border-radius: 0;
}
.drp-nav .dropdown-menu li:last-child .btn-head{
    border: none !important;
}
.drp-nav .dropdown-toggle .caret{
    background-image: url("../img/dpGreen.png");
}
.drp-nav .dropdown-toggle:hover .caret{
    background-image: url("../img/dpWhite.png");
}

.btn-submit{
    width : 100px;
}

.views .cnt-table-content.cnt-select {
    width: auto !important;
}
.compare-btn{
    cursor: pointer;
}
.olPopup{
    z-index: 9999 !important;
}


/********************************/

/*
Transaction
*/
.plans{
    font-size: 10pt;
}
.plans .title-form{
    font-size: 10pt;
}
.plans table{
}
.plans td {
    border: none !important;
    border-top: 1px solid #DDD !important;
}
.plans tr:nth-child(2) td{
    background-color: #F5F5F5 ;
    border-top-width: 5px !important;
    font-weight: bold;
}
.plans tr:nth-child(2):hover td {
    border-top-width: 5px !important;
}

.plans td.title-plans , .plans tr:hover td.title-plans{
    background-color: #FFFFFF !important;
    border-top-width: 0 !important;
}

.plan-buy {

    width:40%;
}

.plan-buy > div{
    background-color:#FFFFFF;
    width:80%;
    padding:20px 3%;
    margin:0px 3% 20px;
    float: right;
    border: 1px solid #EDEDED;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
.plan-buy > form{
    background-color:#FFFFFF;
    width:90%;
    padding:20px 3%;
    margin:0px 3% 20px;

    border: 1px solid #EDEDED;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
.plan-buy > table{
    background-color:#FFFFFF;
    width:90%;
    padding:20px 3%;
    margin:0px 3% 20px;
    border: 1px solid #EDEDED;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
legend{
    color: #0fcc89;
    font-size: 20px;
    padding-bottom: 10px;
}
.plan-buy label{
    float: right;
    font-weight: bold;
    width: 28%;
}
.plan-buy input{
    width: 72%;
    border: 1px solid #EDEDED;
}
.plan-buy input:focus{
    box-shadow: none;
    background-color: #F0F0F0;
    border-color: #EDEDED;
}
.plan-buy button{
    margin: 10px 0 ;
    width: 120px;
    float: left;
}
.plan-buy fieldset:nth-child(2){
    margin-top: 30px ;
}
.plan-buy li {
    margin: 3px 0;
}
.plan-buy .bootstrap-select{
    width: 72%;
    margin-bottom: 0;
    border: 1px solid #EDEDED;
}
.plan-buy .bootstrap-select .btn-default{
    height: 32px !important;
}
.plan-buy .bootstrap-select .btn .filter-option{
    top: auto !important;
}
.plan-buy .bootstrap-select .dropdown-menu{
    top: 100% !important;
}
/********************************/



/*override map*/
#map_pop_contentDiv {
    left: 0;
    top: 0;
    right: 10px;
    bottom: 0;
    text-align: right;
    padding: 0;
}

#map_pop_GroupDiv {

}

#map_pop {

}
/********************/



#map {
    height: 100%;
    margin: 0px;
    padding: 0px
}

.google-map-popup-content {
    font-family: Roya;
    direction: rtl;
}
.about-wrapper{
    font-size: 16px;
    line-height: 36px;
    padding: 10px 20%;
}
.about-wrapper .about{
    border-bottom: 1px solid #e0e0e0;
    padding:30px;
    font-family: Roya;
}
.about-wrapper h1{
    font-family: Roya;
}
.about-wrapper .about h3{
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 10px;
}
.about-wrapper .social-wrapper{
    padding:30px;
}
.about-wrapper .social-wrapper > div{
    float: right;
    margin-left: 10px;
    cursor: pointer;
}
.about-wrapper .social-wrapper .social-f > div > span{
    vertical-align: top !important;
}
.about-wrapper .social-wrapper .social-t{
    margin-top: -5PX;
}



/********** Agent & Agencies **********/

.agency-pagination {
    text-align: center;
    padding-top: 20px; 
    padding-bottom: 20px;
}


.apartment-form.views h1{
    font-size: inherit;
    margin: 0;
    line-height: 24px;
}


/******** Chart *************/

.chart-container .bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
    margin-bottom: 0;
}
.chart-container .btn {
    height: 20px;
    padding: 0px 30px;
}

.chart-container .circle {
    width: 20px;
    height: 20px;
    color: #2F4F4F;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 5px;
}
.chart-img{
    width: 95%;
    height: 600px;  
    background-size: 100% 600px;
}
.left-chart{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: rotate(-90deg);
}
.bottom-chart{
    position: absolute;
    left: 50%;
    top: 655px;
}



.mob-dl{
    text-align: center;
    padding:100px 200px;
    min-width: auto;
    font-size: 56px;
    line-height: 60px;
}
.mob-dl > h1{
    font-size: 66px;
    line-height: 70px;
}
.mob-dl > p{
    margin: 0;
}
.mob-give{
    background-color: #0FCC89;
    margin:10px auto;
    padding: 20px;
    border-radius: 3px;
    width: 420px;
    text-align: center;
}
.mob-give:hover{
    opacity: 0.9;
}
.mob-give a{
    color: #fff;
}