
<div style="direction: rtl;">
سلام و روز به خیر،

<br>
<br>

کلمه عبور شما با موفقیت تغییر کرد، اطلاعات جدید به شرح زیر هستند:
<br>
<br>

تلفن همراه : <?php echo $username; ?>
<br>
کلمه عبور : <?php echo $password; ?>


<br><br>
با آرزوی آنکه همراه خوبی برای شما باشیم :)

<br> <br>
با احترام،
<br>
<a href="http://melkade.com" target="_blank">Melkade.com ملکــــده</a>

</div>