
<div style="direction: rtl;">
سلام و روز به خیر،

<br>
<br>

با تشکر از حسن انتخاب شما، اطلاعات کاربری به شرح زیر است:
<br>
<br>

تلفن همراه : <?php echo $username; ?>
<br>
کلمه عبور : <?php echo $password; ?>

<br><br>
با آرزوی آنکه همراه خوبی برای شما باشیم :)
<br>

<br> <br>
با احترام،
<br>
<a href="http://melkade.com" target="_blank">Melkade.com ملکــــده</a>

</div>