<?php echo '<?xml version="1.0" encoding="UTF-8"?>' ?>
<urlset
    xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
    http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

    <url>
        <loc>http://www.melkade.com/</loc>
        <changefreq>always</changefreq>
        <priority>1.00</priority>
    </url>
    <url>
        <loc>http://www.melkade.com/user/login</loc>
        <changefreq>weekly</changefreq>
    </url>
    <url>
        <loc>http://www.melkade.com/signup</loc>
        <changefreq>weekly</changefreq>
    </url>
    <url>
        <loc>http://www.melkade.com/about</loc>
        <changefreq>monthly</changefreq>
    </url>
    <url>
        <loc>http://www.melkade.com/agents</loc>
        <changefreq>always</changefreq>
        <priority>0.8</priority>
    </url>
    <url>
        <loc>http://www.melkade.com/agencies</loc>
        <changefreq>always</changefreq>
        <priority>0.8</priority>
    </url>

    <?php foreach ($result['items'] as $estate) { ?>

        <?php
        $request = '';
        switch ($estate['request']) {
            case 301:
                $request .= 'خرید ';
                break;
            case 303:
                $request .= ' رهن و اجاره';
                break;
            case 302:
                $request .= 'پیش فروش ';
        }

        $pagTitle = '';
        switch ($estate['type']) {
            case 201:
                $pagTitle .= 'آپارتمان ';
                break;
            case 202 :
                $pagTitle .= 'ویلایی ';
                break;
            case 203:
                $pagTitle .= 'زمین ';
                break;
            case 204:
                $pagTitle .= 'اداری ';
                break;
            case 205:
                $pagTitle .= 'مغازه ';
                break;
            case 206:
                $pagTitle .= 'مستغلات ';
                break;
        }
        ?>
        <?php
        $neighbor = '';
        if (isset($estate['neighbor']['title'])) {
            $neighbor = $estate['neighbor']['title'];
        }
        ?>
    <?php $pageTitle = ' ' . $request . ' ' . $pagTitle . ' ' . (int) $estate['metrage'] . ' متری  ' . ',' . $neighbor . ' ' . ' ,' . $estate['street']; ?> 


        <url>
            <loc>http://www.melkade.com/estates/<?= $estate['id'] ?>/view</loc>
            <changefreq>always</changefreq>
            <priority>0.6</priority>
        </url>

<?php } ?>
</urlset>