

<div class="plan-buy">
    <div>
        <form action="/admin/plans/save" method="post">
            <fieldset>
                <legend>عضویت</legend>
                <ul>

                    <li>
                        <label>
                            <span> کاربر</span>
                        </label>
                        <input type="text" name="userId" value="" class="form-control" placeholder="09121111111"/>
                    </li>

                    <li>
                        <label>
                            <span>مبلغ</span>
                        </label>
                        <input type="text" name="billAmount" value="" class="form-control" placeholder="تومان"/>
                    </li>

                      <li>
                        <label>
                            <span>تاریخ شروع</span>
                        </label>
                        <input type="text"  name="startDate" value="" class="form-control" placeholder="1393-01-01"/>
                    </li>
                    
                      <li>
                        <label>
                            <span> تاریخ پرداخت</span>
                        </label>
                        <input type="text"  name="billDate" value="" class="form-control" placeholder="1393-01-01"/>
                    </li>
                    
                       <li>
                        <label>
                            <span> شماره تراکنش</span>
                        </label>
                        <input type="text"  name="transactionNo" value="" class="form-control" placeholder="شماره"/>
                    </li>

                    <li>
                        <label>
                            <span> نوع اشتراک</span>
                        </label>
                        <select name="plan"  class="">
                            <option value="">انتخاب کنید..</option>
                            <option value="3001">الماس (۲۰۰ آگهی در ماه ۲۳۰ هزار تومان)</option>
                            <option value="3002">طلایی (۱۵۰ آگهی در ماه ۱۹۰ هزار تومان)</option>
                            <option value="3003">نقره‌ای (۱۰۰ آگهی در ماه ۱۴۰ هزار تومان)</option>
                            <option value="3004">برنزی ( ۵۰ آگهی در ماه ۸۰ هزار تومان)</option>
                        </select>
                    </li>
                    <!--makhfi kardim ba class e hidden-->
                    <li class=" hidden">
                        <label >
                            <span>تعداد آگهی</span>
                        </label>
                        <input type="text" name="adsNumber" value="" class="form-control" placeholder="تعداد آگهی"/>
                    </li>
                    
                     <li>
                        <button type="submit" class="btn btn-info">ثبت</button>
                    </li>
                </ul>

            </fieldset>
        </form>
    </div>
</div>
