<div class="plan-buy">
<table>
    <tbody>
        <tr>
            <td>

        <tr>
            <td> 
                <h4 align="center" style="color: #0fcc89; font-size: 20px; padding-bottom: 10px;"> مشخصات پرداخت</h4>
            </td>
        </tr>
        <tr>
            <td>
                <div align="right"> <h5 style="color:#000000;">  کاربر : <?php echo $user->getCellphone(); ?> = <?php echo $user->getLastname(); ?></h5></div>
            </td>

        </tr>

        <tr>
            <td>
                <div align="right"> <h5 style="color:#000000;">  مبلغ :  <?php echo $subscription->getBillAmount(); ?></h5></div>
            </td>

        </tr>

        <tr>
            <td>
                <div align="right">  <h5 style="color:#000000;"> تاریخ پرداخت :  <?php echo $dateBill; ?></h5></div>
            </td>

        </tr>

        <tr>
            <td>
                <div align="right">  <h5 style="color:#000000;"> تاریخ شروع  :  <?php echo $dateStart; ?></h5></div>
            </td>

        </tr>

        <tr>
            <td>
                <div align="right">  <h5 style="color:#000000;"> تاریخ پایان :  <?php echo $dateEnd; ?></h5></div>
            </td>

        </tr>
        
        <tr>
            <td>
                <div align="right">  <h5 style="color:#000000;">  شماره تراکنش  :  <?php echo $subscription->getTransactionNo(); ?></h5></div>
            </td>

        </tr>

        <tr>
            <td>
                <div align="right"> <h5 style="color:#000000;">  نوع اشتراک  : 
                        <?php
                        if ($data['plan'] == 3001) {
                            echo 'برنزی';
                        } elseif ($data['plan'] == 3002) {
                            echo 'نقره ای';
                        } elseif ($data['plan'] == 3003) {
                            echo 'طلایی';
                        } elseif ($data['plan'] == 3004) {
                            echo 'تک آگهی';
                        } elseif ($data['plan'] == 3005) {
                            echo 'عکس';
                        } if (empty($data['plan'])) {
                            echo '-';
                        }
                        ?>
                    </h5></div>
            </td>

        </tr>

        <tr>
            <td>
                <div align="right">  <h5 style="color:#000000;"> تعداد آگهی مجاز : <?php echo $subscription->getAdsNumber(); ?></h5></div>
            </td>

        </tr>

        <tr>
            <td>
                <div align="right">  <h5 style="color:#000000;"> تعداد آگهی ثبت شده : <?php echo $subscription->getUsedAds(); ?></h5></div>
            </td>

        </tr>


        </td>
        </tr>

    </tbody>
</table>

</div>
