<div class="chart-container">
    <div>
        
        <div>
            <h2><span> نمودار میانگین تغییرات قیمت مسکن (بر اساس داده‌های ملکده)</span></h2>
        </div>
        <br>
        <div>
            <?php if ($request == 303) { ?>
            <div style="color:#274B6D;">رهن و اجاره </div> 
            <span class="circle" style="background-color: #8737D7;"></span> 
            <span>فقط نوساز</span> 
            <span class="circle" style="background-color: #0fcc89;" ></span>
            <span>کل املاک مربوط</span> 
            <?php } ?> 

            <?php if ($request == 302 || $request == 301) { ?>
            <div style="color:#274B6D;">فروش و پیش فروش</div> 
            <span class="circle" style="background-color: #DA494A;"></span> 
            <span>فقط نوساز</span> 
            <span class="circle" style="background-color: #0fcc89;" ></span>  
            <span>کل املاک مربوط</span> 
            <?php } ?>

            <?php if ($request == "") { ?>
            <div style="color:#274B6D;font-size: 15px;">فروش، پیش فروش، رهن و اجاره</div> 
            <span class="circle" style="background-color: #E9967A;"></span>  
            <span>فقط نوساز</span> 
            <span class="circle" style="background-color: #0fcc89;" ></span>  
            <span>کل املاک مربوط</span> 
            <?php } ?>
        </div>
    </div>

    <div style="margin-top:10px;">
        <form action="/charts" method="post" role="form">
            <select name="metrage">
                <option value="">متراژ</option>
                <option value="">همه متراژها</option>
                <option value="100">کمتر از ۱۰۰</option>
            </select>

            <select name="request">
                <option value="">درخواست</option>
                <option value="301,302">فروش و پیش فروش</option>
                <option value="303">رهن و اجاره</option>
            </select>

            <select style="height:300px" name="neighbor">
                <option value="">منطقه</option>
                <option value="">همه مناطق</option>
                <option value="6006001">منطقه یک</option>
                <option value="6006002">منطقه دو</option>
                <option value="6006003">منطقه سه</option>
                <option value="6006004">منطقه چهار</option>
                <option value="6006005">منطقه پنج</option>
                <option value="6006006">منطقه شش</option>
                <option value="6006007">منطقه هفت</option>
                <option value="6006008">منطقه هشت</option>
                <option value="6006009">منطقه نه</option>
                <option value="6006010">منطقه ده</option>
                <option value="6006011">منطقه یازده</option>
                <option value="6006012">منطقه دوازده</option>
                <option value="6006013">منطقه سیزده</option>
                <option value="6006014">منطقه چهارده</option>
                <option value="6006015">منطقه پانزده</option>
                <option value="6006016">منطقه شانزده</option>
                <option value="6006017">منطقه هفده</option>
                <option value="6006018">منطقه هجده</option>
                <option value="6006019">منطقه نوزده</option>
                <option value="6006020">منطقه بیست</option>
                <option value="6006021">منطقه بیست و یک</option>
                <option value="6006022">منطقه بیست و دو</option>
                <option value="6007001">حومه تهران</option>
            </select>

            <button class="btn btn-success btn-mini" type="submit">ثبت</button>

        </form>
    </div>

    <div>
        <div class="chart-img" style="background-image:url(<?= $result ?>)"></div>
    </div>
    <div class="left-chart">قیمت (میلیون تومان)</div>
    <div class="bottom-chart">تاریخ (یک ماه گذشته)</div>
</div>


