<html>
    <head>
        <meta charset="utf-8">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
        <script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.6/underscore-min.js"></script>
        <script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>



        <script src="js/NewsModel.js"></script>

        <script type="text/javascript">

            $(function () {
                $('#container').highcharts({
                    title: {
                        text: 'منطقه ۲۲ گانه',
                        x: -20 //center
                    },
                    subtitle: {
                        text: '',
                        x: -20
                    },
                    xAxis: {
                        categories: ['1','2','3','4','5','6','7','8','9','10']
                    },
                    yAxis: {
                        title: {
                            text: 'میانگین'
                        },
                        plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                    },
                    tooltip: {
                        valueSuffix: 'منطقه'
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [{
                            name: 'منطقه',
                            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
           
                        }]
                });
            });
    
        
            
            $(function () {
                
                /*   var data = [];
                    
                    _.each(resp[i].indiceInfo.history , function(item){
                        var arr = [];                        
                        arr[0]  = new Date(item.indicedate).getTime();
                        arr[1]  = parseFloat(item.indiceamount);
                        data.push(arr);
                    });    
                 */
                
                $('#container1').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'منطقه ۲۲ گانه'
                    },
                    subtitle: {
                        text: ' <a href="http://en.wikipedia.org/wiki/List_of_cities_proper_by_population"></a>'
                    },
                    xAxis: {
                        type: 'category',
                        labels: {
                            rotation: -45,
                            align: 'light',
                            style: {
                                fontSize: '13px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'زمان'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    tooltip: {
                        pointFormat: 'میانگین: <b>{point.y:.1f} میانگین</b>',
                    },
                    series: [{
                            name: 'Population', 
                            data: [
                                ['منطقه۱', 23.7],
                                ['منطقه۲', 16,1],
                                ['منطقه ۳', 14.2],
                                ['منطقه ۴', 14.0],
                                ['منطقه ۵', 12.5],
                                ['منطقه ۶', 12.1],
                                ['منطقه ۷', 11.8],
                                ['منطقه ۸', 11.7],
                                ['منطقه ۹', 11.1],
                                ['منطقه ۱۰', 11.1],
                                ['منطقه ۱۱', 10.5],
                                ['منطقه ۱۲', 10.4],
                                ['منطقه ۱۳', 10.0],
                                ['منطقه ۱۴', 9.3],
                                ['منطقه ۱۵', 9.3],
                                ['منطقه ۱۶', 9.0],
                                ['منطقه ۱۷', 8.9],
                                ['منطقه ۱۸', 8.9],
                                ['منطقه ۱۹', 8.9],
                                ['منطقه ۲۰', 8.9],
                                ['منطقه ۲۱', 8.9],   
                                ['منطقه ۲۲', 8.9]
                            ],
                            
                            dataLabels: {
                                enabled: true,
                                rotation: -90,
                                color: '#FFFFFF',
                                align: 'right',
                                x: 4,
                                y: 10,
                                style: {
                                    fontSize: '13px',
                                    fontFamily: 'Verdana, sans-serif',
                                    textShadow: '0 0 3px black'
                                }
                            }
                        }]
                });
            });
    
    
        </script>
    </head>
    <body>
       <div id="container" style="min-width: 100px; height: 350px; margin: 0 auto"></div>
       <br>
        <div id="container1" style="min-width: 100px; height: 350px; margin: 0 auto"></div>

    </body>
</html>