


<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default navbar-static mk-docs-nav-static" role="navigation">

            <legend style="  color: #0fcc89; font-size: 20px; padding-bottom: 20px;">منطقه: میانگین قیمت کل</legend>

            <div class="collapse navbar-collapse mk-navbar" id="mk-navbar" role="navigation">

                <form action="/chart-view" method="post" role="form">

                   <select name="metrage">
                        <option value="">متراژ</option>
                        <option value="">همه متراژها</option>
                        <option value="100">کمتر از 100</option>
                    </select>

                    <select name="request">
                        <option value="">درخواست</option>
                        <option value="">همه</option>
                        <option value="301,303">فروش</option>
                        <option value="302">رهن و اجاره</option>
                    </select>

                    <select name="neighbor">
                        <option value="">منطقه</option>
                        <option value="">همه مناطق</option>
                        <option value="6006001">منطقه یک</option>
                        <option value="6006002">منطقه دو</option>
                        <option value="6006003">منطقه سه</option>
                        <option value="6006004">منطقه چهار</option>
                        <option value="6006005">منطقه پنج</option>
                        <option value="6006006">منطقه شش</option>
                        <option value="6006007">منطقه هفت</option>
                        <option value="6006008">منطقه هشت</option>
                        <option value="6006009">منطقه نه</option>
                        <option value="6006010">منطقه ده</option>
                        <option value="6006011">منطقه یازده</option>
                        <option value="6006012">منطقه دوازده</option>
                        <option value="6006013">منطقه سیزده</option>
                        <option value="6006014">منطقه چهارده</option>
                        <option value="6006015">منطقه پانزده</option>
                        <option value="6006016">منطقه شانزده</option>
                        <option value="6006017">منطقه هفده</option>
                        <option value="6006018">منطقه هجده</option>
                        <option value="6006019">منطقه نوزده</option>
                        <option value="6006020">منطقه بیست</option>
                        <option value="6006021">منطقه بیست و یک</option>
                        <option value="6006022">منطقه بیست و دو</option>
                        <option value="6007001">حومه تهران</option>
                    </select>
                    <button type="submit">برو</button>

                </form>
            </div>

        </nav>
    </div>
</div>

<span style=" float: left;">قیمت بر حسب میلیون</span>


<img src="<?= $result ?>">

<span> سال</span>
<span ><?= $year ?></span>
