<h1>ملکده: متفاوت بیابید- جستجوی املاک مناطق 22 تهران بر روی نقشه</h1>
<div class="estate-list-view-container" >
    <div class="">
        <div class="content" tabindex="0">
            <ul class="estate-list">
                <?php foreach ($result['items'] as $estate) { ?>

                    <?php
                    $request = '';
                    switch ($estate['request']) {
                        case 301:
                            $request .= 'فروش ';
                            break;
                        case 303:
                            $request .= ' رهن و اجاره';
                            break;
                        case 302:
                            $request .= 'پیش فروش ';
                    }

                    $pagTitle = '';
                    switch ($estate['type']) {
                        case 201:
                            $pagTitle .= 'آپارتمان ';
                            break;
                        case 202 :
                            $pagTitle .= 'ویلایی ';
                            break;
                        case 203:
                            $pagTitle .= 'زمین ';
                            break;
                        case 204:
                            $pagTitle .= 'اداری ';
                            break;
                        case 205:
                            $pagTitle .= 'مغازه ';
                            break;
                        case 206:
                            $pagTitle .= 'مستغلات ';
                            break;
                    }
                    ?>

                    <?php
                    $neighbor = '';
                    if (isset($estate['neighbor']['title'])) {
                        $neighbor = $estate['neighbor']['title'];
                    }
                    ?>
                    <?php $pageTitle = ' ' . $request . ' ' . $pagTitle . ' ' . (int) $estate['metrage'] . ' متری  ' . ' ' . $neighbor . ' ' . $estate['street']; ?> 

                    <?php $name = ' ' . $request . ' ' . $pagTitle . ' ' . (int) $estate['metrage'] . ' متری' ?> 

                    <?php $pageTitlee = str_replace(' ', '-', $pageTitle); ?>

                    <li class="single-estate" itemscope itemtype="http://schema.org/Place">
                        <div class="gird-item-estate">
                            <div class="gird-item-estate-type estate-type-<?= $estate['request'] ?>" >
                                <span><?= $pagTitle . " - " . $request ?>
                                </span>
                            </div>
                            <div class="gird-item-estate-right">
                                <div>
                                    <div>
                                        <span class="number-inp comma"><?= (int) $estate['metrage'] ?></span>
                                        <span> متر</span>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <span class="number-inp comma">
                                            <?= (int) $estate['price'] ?> </span>
                                        <span>تومان</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <h2>
                                    <span class="number-inp comma" itemprop="name">
                                        <?= $name ?>
                                    </span>
                                </h2>
                                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    <span itemprop="addressRegion">تهران</span>،
                                    <span itemprop="addressLocality"><?= $neighbor ?></span>،
                                    <span itemprop="streetAddress"><?= $estate['street'] . ' ' . $estate['bystreet'] ?></span>
                                </div>
                            </div>

                            <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                <meta itemprop="latitude" content="<?= $estate['latitude'] ?>" />
                                <meta itemprop="longitude" content="<?= $estate['longitude'] ?>" />
                            </div>

                        </div>
                        <div class="pull-right">
                            <span class="number-inp comma">
                                <?php
                                if (!empty($estate['operatorName'])) {
                                    echo$estate['operatorName'];
                                }
                                ?>
                            </span>
                        </div>
                        <div class="pull-right">
                            <span class="number-inp comma"> 
                                <?php
                                if (!empty($estate['creationDate'])) {
                                    echo$estate['creationDate'];
                                    echo '  =  ';
                                }
                                ?>
                            </span>
                        </div>
                        <div class="info-more">
                            <div class="pull-left">
                                <a itemprop="url" target="_blank" href="/estates/<?= $estate['id'] ?>/view">
                                    <span>اطلاعات بیشتر</span>
                                </a>
                            </div>
                        </div>

                    </li>

                <?php } ?>

            </ul>
        </div>
    </div>

    <?php
    if ($start != 0) {
        $beforStart = $start - $limit;
        $params = array('start' => $beforStart, 'page' => $beforStart / 100 + 1);
        ?>
        <a rel="prev" href="<?= $this->serverUrl($this->url('estate-index', array(), array('query' => $params))); ?>">
            قبلی
        </a>
        <link rel="prev" href="<?= $this->serverUrl($this->url('estate-index', array(), array('query' => $params))); ?>">
    <?php } ?>

    <?php
    if (($start + $limit) < $count) {
        $nextStart = $start + $limit;
        $params = array('start' => $nextStart, 'page' => $nextStart / 100 + 1);
        ?>
        <a rel="next" href="<?= $this->serverUrl($this->url('estate-index', array(), array('query' => $params))); ?>">
            بعدی
        </a>
        <link rel="next" href="<?= $this->serverUrl($this->url('estate-index', array(), array('query' => $params))); ?>">

    <?php } ?>

