<script type="text/javascript">
    var _CURRENT_ESTATE = <?= json_encode($estate); ?>;
</script>

<?php
if ($user && $user->getType() == 2503) {
    echo '<div> <a class="btn btn-primary" href=/estate/edit/' . $estate['id'] . '>ویرایش</a></div>';

    echo $estate['operatorName'];
    echo '=';
    echo$estate['creationDate'];
}
$original_pageTitle = $pageTitle;
?>

<div class="apartment-form views">
    <div class="mk-docs-container">
        <div class="row">
            <div class="col-md-12">
                <div class="file-info">
                    <div class="col-md-8">

                        <div class="file-form-apartment" itemscope itemtype="http://schema.org/LocalBusiness">
                            <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                <meta itemprop="latitude" content="<?= $estate['latitude'] ?>" />
                                <meta itemprop="longitude" content="<?= $estate['longitude'] ?>" />
                            </div>
                            <div class="agahi-form">
                                <div>
                                    <span itemprop="name"><h1><?= $pageTitle ?></h1></span>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td colspan="4">
                                            <div class="cnt-table-content address"  itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                                <div class="rf-content">آدرس: </div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content">
                                                    <span class="show-field text-inp" >
                                                        <?php if (!empty($estate['city'])) { ?>
                                                            <span class="file-view-item"> 
                                                                <span itemprop="addressRegion"> 
                                                                    <?php
                                                                    if ($estate['city'] == 87) {
                                                                        echo 'تهران';
                                                                    }
                                                                    ?> 
                                                                </span>
                                                            </span>
                                                        <?php } ?>

                                                        <?php if (!empty($estate['neighborId'])) { ?>
                                                            <span class="file-view-item">
                                                                ،<span  itemprop="addressLocality"> <?= $estate['neighbor']['title'] ?> </span>
                                                                <span class="file-view-item-highlight neighborText"></span>
                                                            </span>
                                                        <?php } ?>

                                                        <?php if (!empty($estate['street'])) { ?>
                                                            <span class="file-view-item" >
                                                                <span>،</span>
                                                                <span class="file-view-item-highlight" itemprop="streetAddress">
                                                                    <?= $estate['street'] ?> 
                                                                </span>
                                                            </span>
                                                        <?php } ?>

                                                        <?php if (!empty($estate['bystreet'])) { ?>
                                                            <span class="file-view-item">
                                                                <span> ،   خیابان </span>
                                                                <span class="file-view-item-highlight">
                                                                    <?= $estate['bystreet'] ?> 
                                                                </span>
                                                            </span>
                                                        <?php } ?>

                                                        <?php if (!empty($estate['lane'])) { ?>
                                                            <span class="file-view-item">
                                                                <span> ، </span>
                                                                <span class="file-view-item-highlight"> 
                                                                    <?= $estate['lane'] ?>
                                                                </span>
                                                            </span>
                                                        <?php } ?>

                                                        <?php if (!empty($estate['number']) && $estate['number'] > 0) { ?>
                                                            <span class="file-view-item">
                                                                <span>، پلاک/واحد</span>
                                                                <span class="file-view-item-highlight"> 
                                                                    <?= $estate['number'] ?>
                                                                </span>
                                                            </span>
                                                        <?php } ?>

                                                        <?php if (!empty($estate['postalCode']) && $estate['postalCode'] > 0) { ?>
                                                            <span class="file-view-item">
                                                                <span>، کد پستی </span>
                                                                <span class="file-view-item-highlight"> 
                                                                    <?= $estate['postalCode'] ?>
                                                                </span>
                                                            </span>
                                                        <?php } ?>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">
                                                    <?php
                                                    if ($estate['request'] == 303) {
                                                        echo 'رهن';
                                                    } else {
                                                        echo 'قیمت';
                                                    }
                                                    ?>
                                                </div>
                                                <div class="lf-content">تومان</div>
                                                <div class="cf-content"><span id="price"  class="show-field number-inp comma" >
                                                        <?php
                                                        if (!empty($estate['price'])) {
                                                            echo (int) $estate['price'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?>
                                                    </span> 

                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">
                                                    <?php
                                                    if ($estate['request'] == 303) {
                                                        echo 'اجاره:';
                                                    } else {
                                                        echo'متری:';
                                                    }
                                                    ?>
                                                </div>
                                                <div class="lf-content">تومان</div>
                                                <div class="cf-content"><span id="exPrice" class="show-field number-inp comma" > 
                                                        <?php
                                                        if (!empty($estate['exPrice'])) {
                                                            echo (int) $estate['exPrice'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?>
                                                    </span></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">وام:</div>
                                                <div class="lf-content">تومان</div>
                                                <div class="cf-content"><span id="loan"  class="show-field number-inp comma" >
                                                        <?php
                                                        if (!empty($estate['loan'])) {
                                                            echo (int) $estate['loan'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?>
                                                    </span></div>
                                            </div>
                                        </td>
                                    </tr>    

                                    <tr>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">تاریخ انتشار:</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content">
                                                    <span tabindex="52" id="requestDate"  class="show-field text-inp " >
                                                        <?php
                                                        if (!empty($estate['requestDate'])) {
                                                            echo $estate['requestDate'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="information-section">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">خواب:</div>
                                                <span data-numbermap="true" class="show-field number-inp" id="beds" >
                                                    <?php
                                                    if (!empty($estate['beds'])) {
                                                        echo $estate['beds'];
                                                    } else {
                                                        echo '-';
                                                    }
                                                    ?>                                                       
                                                </span>                                             
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">زیربنا:</div>
                                                <div class="lf-content">متر</div>
                                                <div class="cf-content">
                                                    <span id="metrage" class="show-field number-inp" >
                                                        <?php
                                                        if (!empty($estate['metrage'])) {
                                                            echo (int) $estate['metrage'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">انباری:</div>
                                                <div class="lf-content">متر</div>
                                                <div class="cf-content">
                                                    <span id="storage" class="show-field number-inp" >
                                                        <?php
                                                        if (!empty($estate['storage'])) {
                                                            echo (int) $estate['storage'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">پارکینگ:</div>
                                                <span data-numbermap="true" class="show-field number-inp" id="parking">  
                                                    <?php
                                                    if (!empty($estate['parking'])) {
                                                        echo $estate['parking'];
                                                    } else {
                                                        echo '-';
                                                    }
                                                    ?> 
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">تلفن:</div>
                                                <span data-numbermap="true" class="show-field number-inp" id="phones">
                                                    <?php
                                                    if (!empty($estate['phones'])) {
                                                        echo $estate['phones'];
                                                    } else {
                                                        echo '-';
                                                    }
                                                    ?> 
                                                </span>
                                            </div>
                                        </td>


                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">سرویس ایرانی:</div>
                                                <span id="irToilets" data-numbermap="true" class="show-field number-inp">  
                                                    <?php
                                                    if (!empty($estate['irToilets'])) {
                                                        echo $estate['irToilets'];
                                                    } else {
                                                        echo '-';
                                                    }
                                                    ?>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">سرویس فرنگی:</div>
                                                <span id="toilets" data-numbermap="true" class="show-field number-inp">
                                                    <?php
                                                    if (!empty($estate['toilets'])) {
                                                        echo $estate['toilets'];
                                                    } else {
                                                        echo '-';
                                                    }
                                                    ?>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">کف:</div>
                                                <span data-multiselect="true" class="show-field number-inp"  id="floor">
                                                    <?php
                                                    foreach ($estate['floor'] as $floor) {
                                                        if ($floor == 1201) {
                                                            echo ' سنگ';
                                                        } elseif ($floor == 1202) {
                                                            echo 'سرامیک';
                                                        } elseif ($floor == 1203) {
                                                            echo 'پارکت';
                                                        } elseif ($floor == 1204) {
                                                            echo 'موکت';
                                                        } elseif ($floor == 1205) {
                                                            echo 'لمینت';
                                                        } elseif ($floor == 1206) {
                                                            echo 'موزاییک';
                                                        } elseif ($floor == 1207) {
                                                            echo 'سیمان';
                                                        }
                                                        echo " , ";
                                                    } if (empty($estate['floor'])) {
                                                        echo '-';
                                                    }
                                                    ?>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">آشپرخانه مبله:</div>
                                                <span class="show-field number-inp"  id="kitchenFurnishment" >
                                                    <?php
                                                    if ($estate['kitchenFurnishment'] == 1101) {
                                                        echo'خیر';
                                                    } elseif ($estate['kitchenFurnishment'] == 1102) {
                                                        echo 'نیمه مبله';
                                                    } elseif ($estate['kitchenFurnishment'] == 1103) {
                                                        echo 'فول';
                                                    } else {
                                                        echo '-';
                                                    }
                                                    ?>
                                                </span> 
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="information-section">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">وضعیت سند:</div>
                                                <span class="show-field number-inp"  id="document" >
                                                    <?php
                                                    if ($estate['document'] == 2201) {
                                                        echo'شخصی';
                                                    } elseif ($estate['document'] == 2202) {
                                                        echo 'قولنامه ای';
                                                    } elseif ($estate['document'] == 2203) {
                                                        echo 'وکالتی';
                                                    } elseif ($estate['document'] == 2204) {
                                                        echo ' مبایعه نامه ای';
                                                    } elseif ($estate['document'] == 2205) {
                                                        echo 'قراردادی';
                                                    } elseif ($estate['document'] == 2206) {
                                                        echo 'بنچاق';
                                                    } elseif ($estate['document'] == 2207) {
                                                        echo 'صلح نامه';
                                                    } elseif ($estate['document'] == 2208) {
                                                        echo 'زمین شهری';
                                                    } elseif ($estate['document'] == 2209) {
                                                        echo 'برگه حاکم شرع';
                                                    } elseif ($estate['document'] == 2210) {
                                                        echo 'اوقاف';
                                                    } elseif ($estate['document'] == 2211) {
                                                        echo 'سازمانی';
                                                    } elseif ($estate['document'] == 2212) {
                                                        echo 'تعاونی';
                                                    } elseif ($estate['document'] == 2213) {
                                                        echo 'بنیاد شهید';
                                                    } elseif ($estate['document'] == 2214) {
                                                        echo 'شهرداری';
                                                    } elseif ($estate['document'] == 2215) {
                                                        echo 'صنایع دفاع';
                                                    } elseif ($estate['document'] == 2216) {
                                                        echo 'نامشخص';
                                                    } else {
                                                        echo '-';
                                                    }
                                                    ?>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">کل طبقات:</div>
                                                <div class="lf-content">طبقه</div>
                                                <div class="cf-content">
                                                    <span id="stories" class="show-field number-inp digi" >
                                                        <?php
                                                        if (!empty($estate['stories'])) {
                                                            echo $estate['stories'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">تعداد واحدها:</div>
                                                <div class="lf-content">واحد</div>
                                                <div class="cf-content">
                                                    <span id="units" class="show-field number-inp digi" >
                                                        <?php
                                                        if (!empty($estate['units'])) {
                                                            echo $estate['units'];
                                                        } else {
                                                            echo '-';
                                                        };
                                                        ?>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">طبقه:</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content">
                                                    <span id="storey" class="show-field number-inp digi-" >
                                                        <?php
                                                        if (!empty($estate['storey'])) {
                                                            echo $estate['storey'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?> 
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">واحد:</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content">
                                                    <span id="unit" class="show-field  number-inp digi" >
                                                        <?php
                                                        if (!empty($estate['unit'])) {
                                                            echo $estate['unit'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?> 
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">سال ساخت:</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content">
                                                    <span id="yearBuilt"  class="show-field  number-inp digi" >
                                                        <?php
                                                        if (!empty($estate['yearBuilt'])) {
                                                            echo $estate['yearBuilt'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">بازسازی شده:</div>
                                                <span id="quality"  class="show-field  number-inp digi" >
                                                    <?php
                                                    foreach ($estate['quality'] as $quality) {
                                                        if ($quality == 701) {
                                                            echo 'بازسازی شده';
                                                        } elseif ($quality == 702) {
                                                            echo 'قابل سکونت';
                                                        }
                                                    } if (empty($estate['quality'])) {
                                                        echo '-';
                                                    }
                                                    ?>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">نما:</div>
                                                <span id="frontage"  class="show-field  number-inp digi" >
                                                    <?php
                                                    foreach ($estate['frontage'] as $frontage) {
                                                        if ($frontage == 1301) {
                                                            echo 'سنگ';
                                                        } elseif ($frontage == 1302) {
                                                            echo 'آجر';
                                                        } elseif ($frontage == 1303) {
                                                            echo 'سیمان';
                                                        } elseif ($frontage == 1304) {
                                                            echo 'شیشه';
                                                        } elseif ($frontage == 1305) {
                                                            echo 'چوب';
                                                        } elseif ($frontage == 1306) {
                                                            echo 'آلومینیم';
                                                        } elseif ($frontage == 1307) {
                                                            echo 'رومی';
                                                        } elseif ($frontage == 1308) {
                                                            echo 'تراورتن';
                                                        }
                                                        echo " , ";
                                                    } if (empty($estate['frontage'])) {
                                                        echo '-';
                                                    }
                                                    ?>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">سامانه تهویه:</div>
                                                <span data-multiselect="true" id="airconditioner"  class="show-field  number-inp digi" >
                                                    <?php
                                                    foreach ($estate['airconditioner'] as $airconditioner) {
                                                        if ($airconditioner == 1401) {
                                                            echo 'کولر آبی';
                                                        } elseif ($airconditioner == 1402) {
                                                            echo 'کولر گازی/اسپلیت';
                                                        } elseif ($airconditioner == 1403) {
                                                            echo 'بخاری';
                                                        } elseif ($airconditioner == 1404) {
                                                            echo 'پکیج و رادیاتور';
                                                        } elseif ($airconditioner == 1405) {
                                                            echo 'دیگ و رادیاتور';
                                                        } elseif ($airconditioner == 1406) {
                                                            echo 'چیلر و فن کوئل';
                                                        } elseif ($airconditioner == 1407) {
                                                            echo 'هواساز';
                                                        }
                                                        echo " , ";
                                                    } if ($estate['airconditioner']) {
                                                        echo '-';
                                                    }
                                                    ?>
                                                </span>                                                
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">جهت:</div>
                                                <span data-multiselect="true" id="direction"  class="show-field  number-inp digi" >
                                                    <?php
                                                    foreach ($estate['direction'] as $direction) {
                                                        if ($direction == 801) {
                                                            echo 'شمالی';
                                                        } elseif ($direction == 802) {
                                                            echo 'جنوبی';
                                                        } elseif ($direction == 803) {
                                                            echo 'غربی';
                                                        } elseif ($direction == 804) {
                                                            echo 'شرقی';
                                                        }
                                                        echo " , ";
                                                    } if (empty($estate['direction'])) {
                                                        echo '-';
                                                    }
                                                    ?>
                                                </span>                                                                                               
                                            </div>
                                        </td>                                            
                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">زمین:</div>
                                                <div class="lf-content">متر</div>
                                                <div class="cf-content">
                                                    <span class="show-field comma number-inp" id="area" >
                                                        <?php
                                                        if (!empty($estate['area'])) {
                                                            echo (int) $estate['area'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">عرض گذر:</div>
                                                <div class="lf-content">متر</div>
                                                <div class="cf-content">
                                                    <span class="show-field comma number-inp digi"  id="width">
                                                        <?php
                                                        if (!empty($estate['width'])) {
                                                            echo (int) $estate['width'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?> 
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">ساختمان</div>
                                                <span data-multiselect="true" class="show-field comma number-inp digi"  id="deal">
                                                    <?php
                                                    foreach ($estate['deal'] as $deal) {
                                                        if ($deal == 2003) {
                                                            echo 'مسکونی با موقعیت اداری';
                                                        } elseif ($deal == 2004) {
                                                            echo 'اداری با سند اداری';
                                                        }
                                                        echo " , ";
                                                    } if (empty($estate['floor'])) {
                                                        echo '-';
                                                    }
                                                    ?>
                                                </span> 

                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">زمان تحویل:</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content">
                                                    <span id="dueMonths" class="show-field" >
                                                        <?php
                                                        if (!empty($estate['dueDate'])) {
                                                            echo $estate['dueDate']->format('Y-m-d');
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="information-section">
                                <table class="table">
                                    <tr  class="one-line">
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">امکانات رفاهی:</div>
                                                <span data-multiselect="true" class="show-field comma number-inp digi"  id="equipments">
                                                    <?php
                                                    foreach ($estate['equipments'] as $equipments) {
                                                        if ($equipments == 1701) {
                                                            echo 'آسانسور ,';
                                                        } elseif ($equipments == 1703) {
                                                            echo 'اینترنت پر سرعت ,';
                                                        } elseif ($equipments == 1705) {
                                                            echo 'شبکه داخلی ,';
                                                        }
                                                        echo " , ";
                                                    } if (empty($estate['equipments'])) {
                                                        echo '-';
                                                    }
                                                    ?>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr  class="one-line">
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">امکانات امنیتی:</div>
                                                <span data-multiselect="true" class="show-field comma number-inp digi"  id="securities">
                                                    <?php
                                                    foreach ($estate['securities'] as $securities) {
                                                        if ($securities == 1801) {
                                                            echo 'دزدگبر ,';
                                                        } elseif ($securities == 1802) {
                                                            echo 'دوربین مدار بسته ,';
                                                        } elseif ($securities == 1803) {
                                                            echo 'آیفون تصویری ,';
                                                        } elseif ($securities == 1804) {
                                                            echo ' درب ضد سرقت ,';
                                                        } elseif ($securities == 1805) {
                                                            echo 'سیستم اعلام آتش ,';
                                                        } elseif ($securities == 1806) {
                                                            echo 'سیستم اطفاء حریق ,';
                                                        }
                                                        echo " , ";
                                                    } if (empty($estate['securities'])) {
                                                        echo '-';
                                                    }
                                                    ?>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="tozihat">
                                <div>
                                    <span>اطلاعات تماس</span>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td colspan="5" class="agency-td">
                                            <div class="cnt-table-content">
                                                <div class="rf-content">آژانس:</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content">
                                                    <!--    injaro tu Abstarctrestful neveshtim ke agent agecny user hamun owner behesh ezafe beshe-->
                                                    <!--    va neshun bede mitnim unaro begirim chon ba extarctAndfill uan mian  -->

                                                    <span class="show-field number-inp">
                                                        <?php if (!empty($estate['agentUser']['cellphone'])) { ?>
                                                            <?= $estate['agentUser']['cellphone'] ?>
                                                        <?php } ?>
                                                        مشاور: 
                                                        <?php if (!empty($estate['agency']['name'])) { ?>
                                                            <?= $estate['agency']['name'] ?>
                                                        <?php } ?>
                                                        ، 
                                                        <?php if (!empty($estate['agency']['phone']) && is_array($estate['agency']['phone'])) { ?>
                                                            <?= join(',', $estate['agency']['phone']) ?>
                                                        <?php } ?>
                                                        &nbsp;
                                                        <?php if (!empty($estate['agentUser']['lastname'])) { ?>
                                                            <?php if (isset($estate['$agentUser'])) { ?>
                                                                <?= $estate['$agentUser']['lastname'] ?>
                                                            <?php } ?>
                                                        <?php } ?>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>

                                        <td colspan="5" class="owner-td">
                                            <div class="cnt-table-content">
                                                <div class="rf-content">مالک:</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content">
                                                    <span class="show-field number-inp">

                                                        <?php if (!empty($estate['ownerUser']['lastname'])) { ?>
                                                            <?= $estate['ownerUser']['lastname'] ?>
                                                        <?php } ?>
                                                        ,
                                                        <?php if (!empty($estate['ownerUser']['cellphone'])) { ?>
                                                            <?= $estate['ownerUser']['cellphone'] ?>
                                                        <?php } ?>
                                                        &nbsp;
                                                        <?php if (!empty($estate['ownerUser']['phone'])) { ?>
                                                            <?= join(',', $estate['ownerUser']['phone']) ?>
                                                        <?php } ?>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="5">
                                            <div class="cnt-table-content">
                                                <div class="rf-content">توضیحات بازدید:</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content">
                                                    <span id="visitDescription" class="show-field" >
                                                        <?php
                                                        if (!empty($estate['description'])) {
                                                            echo $estate['description'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>                         
                        </div>

                        </hr>
                        <div>
                            <?php if ($result['items'] !== null) { ?>

                                <?php if (count($result['items'] > 0)) { ?>

                                    <b><h2> املاک مشابه</h2> </b>
                                    <div class="">

                                        <div class="content" tabindex="0"  >
                                            <ul class="estate-list">
                                                <?php foreach ($result['items'] as $similar) { ?>

                                                    <?php
                                                    $request = '';
                                                    switch ($similar['request']) {
                                                        case 301:
                                                            $request .= 'فروش ';
                                                            break;
                                                        case 303:
                                                            $request .= ' رهن و اجاره';
                                                            break;
                                                        case 302:
                                                            $request .= 'پیش فروش ';
                                                    }

                                                    $pagTitle = '';
                                                    switch ($similar['type']) {
                                                        case 201:
                                                            $pagTitle .= 'آپارتمان ';
                                                            break;
                                                        case 202 :
                                                            $pagTitle .= 'ویلایی ';
                                                            break;
                                                        case 203:
                                                            $pagTitle .= 'زمین ';
                                                            break;
                                                        case 204:
                                                            $pagTitle .= 'اداری ';
                                                            break;
                                                        case 205:
                                                            $pagTitle .= 'مغازه ';
                                                            break;
                                                        case 206:
                                                            $pagTitle .= 'مستغلات ';
                                                            break;
                                                    }
                                                    ?>
                                                   
                                                        <?php
                                                    $neighbor = '';
                                                    if (isset($similar['neighbor']['title'])) {
                                                        $neighbor = $similar['neighbor']['title'];
                                                    }
                                                    ?>

                                                    <?php $pageTitle = '-' . $request . '-' . $pagTitle . '-' . (int) $similar['metrage'] . 'متری' . '-' . $neighbor . '-' . $similar['street']; ?>

                                                    <?php $pageTitlee = str_replace(' ', '-', $pageTitle); ?>

                                                    <?php $name = ' ' . $request . ' ' . $pagTitle . ' ' . (int) $similar['metrage'] . ' متری' ?> 


                                                    <li class="single-estate" itemscope itemtype="http://schema.org/Place">
                                                        <div class="gird-item-estate">
                                                            <div class="gird-item-estate-type estate-type-<?= $similar['request'] ?>">
                                                                <span><?= $pagTitle . " - " . $request ?>
                                                                </span>
                                                            </div>
                                                            <div class="gird-item-estate-right">
                                                                <div >
                                                                    <div>
                                                                        <span class="number-inp comma"><?= (int) $similar['metrage'] ?></span>
                                                                        <span> متر</span>
                                                                    </div>
                                                                </div>
                                                                <div >
                                                                    <div>
                                                                        <span class="number-inp comma">
                                                                            <?= (int) $similar['price'] ?> </span>
                                                                        <span>تومان</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="pull-right">
                                                                <h2>
                                                                    <span class="number-inp comma" itemprop="name">
                                                                        <?= $name ?>
                                                                    </span>
                                                                </h2>
                                                                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                                                    <span itemprop="addressRegion">تهران</span>،
                                                                    <span itemprop="addressLocality"><?= $neighbor ?></span>،
                                                                    <span itemprop="streetAddress"><?= $similar['street'] . ' ' . $similar['bystreet'] ?></span>

                                                                </div>
                                                            </div>

                                                            <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                                                <meta itemprop="latitude" content="<?= $similar['latitude'] ?>" />
                                                                <meta itemprop="longitude" content="<?= $similar['longitude'] ?>" />
                                                            </div>

                                                        </div>
                                                        <div class="info-more">
                                                            <div class="pull-left">
                                                                <a itemprop="url" target="_blank" href="/estates/<?= $similar['id'] ?>/view">
                                                                    <span>اطلاعات بیشتر</span>
                                                                </a>
                                                            </div>
                                                        </div>

                                                    </li>

                                                <?php } ?>

                                            </ul>
                                        </div>


                                    <?php } ?>
                                <?php } ?>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="file-show-map">
                            <div class="file-title">
                                <i class="icon-zoom pull-left"></i>
                                <span>نمایش روی نقشه</span>
                            </div>
                            <div> 
                                <img src="http://maps.googleapis.com/maps/api/staticmap?center=<?= $estate['latitude'] ?>,<?= $estate['longitude'] ?>&zoom=15&size=600x300&maptype=roadmap
                                     &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:%7C<?= $estate['latitude'] ?>,<?= $estate['longitude'] ?>
                                     &sensor=false&key=AIzaSyB93UdGcJbblwTxeQ9it5nPDKgL1_dKncY&language=fa" alt="<?= $original_pageTitle ?>" title="<?= $original_pageTitle ?>"> 
                            </div>
                        </div>
                        <div class="file-screenshot">
                            <div class="file-title">
                                <div id="carousel-generic" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <?php if (!empty($estate['photos'])) { ?>

                                            <?php foreach ($estate['photos'] as $photo) { ?>

                                                <div class="item">
                                                    <img itemprop="image" src="<?= $photo ?>" alt="">
                                                </div>
                                            <?php } ?>

                                        <?php } else { ?>
                                            <div class="item active">
                                                <img src="/img/home-placeholder.png" alt="">
                                            </div>
                                        <?php } ?>                                       
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-generic" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div> 