<div>
    <div class="col-md-8  col-md-offset-2">
        <div class="agencies-list-title">
            <h1>ملکده: متفاوت بیابید- جستجوی املاک مناطق 22 تهران بر روی نقشه</h1>
        </div>
        <div class="agencies-search-wrapper">
            <form action="/advs" method="post" role="form">


                <select name="request">
                    <option value="">درخواست</option>
                    <option value="301">فروش</option>
                    <option value="302">پیش فروش</option>
                    <option value="303">رهن و اجاره</option>
                </select>

                <select name="neighbor">
                    <option value="">منطقه</option>
                    <option value="">همه مناطق</option>
                    <option value="6006001">منطقه یک</option>
                    <option value="6006002">منطقه دو</option>
                    <option value="6006003">منطقه سه</option>
                    <option value="6006004">منطقه چهار</option>
                    <option value="6006005">منطقه پنج</option>
                    <option value="6006006">منطقه شش</option>
                    <option value="6006007">منطقه هفت</option>
                    <option value="6006008">منطقه هشت</option>
                    <option value="6006009">منطقه نه</option>
                    <option value="6006010">منطقه ده</option>
                    <option value="6006011">منطقه یازده</option>
                    <option value="6006012">منطقه دوازده</option>
                    <option value="6006013">منطقه سیزده</option>
                    <option value="6006014">منطقه چهارده</option>
                    <option value="6006015">منطقه پانزده</option>
                    <option value="6006016">منطقه شانزده</option>
                    <option value="6006017">منطقه هفده</option>
                    <option value="6006018">منطقه هجده</option>
                    <option value="6006019">منطقه نوزده</option>
                    <option value="6006020">منطقه بیست</option>
                    <option value="6006021">منطقه بیست و یک</option>
                    <option value="6006022">منطقه بیست و دو</option>
                    <option value="6007001">حومه تهران</option>
                </select>
                <button class="btn btn-info" type="submit">برو</button>

            </form>
        </div>

        <ul class="agencies-list">
            <?php foreach ($result['items'] as $adv) { ?>


                <?php
                $request = '';
                switch ($adv['request']) {
                    case 301:
                        $request .= 'فروش ';
                        break;
                    case 303:
                        $request .= ' رهن و اجاره';
                        break;
                    case 302:
                        $request .= 'پیش فروش ';
                }

                $types = '';
                switch ($adv['type']) {
                    case 201:
                        $types .= 'آپارتمان ';
                        break;
                    case 202 :
                        $types .= 'ویلایی ';
                        break;
                    case 203:
                        $types .= 'زمین ';
                        break;
                    case 204:
                        $types .= 'اداری ';
                        break;
                    case 205:
                        $types.= 'مغازه ';
                        break;
                    case 206:
                        $types .= 'مستغلات ';
                        break;
                }
                ?>
                <!--    injaro tu Abstarctrestful neveshtim ke neighbor va agent ,,  behesh ezafe beshe-->
                <!--    va ye chizai ro neshan bede mesle inja ke title neshan midim  ba extarctAndfill   -->

                <?php
                $neighbor = '';
                if (isset($adv['neighbor']['title'])) {
                    $neighbor = $adv['neighbor']['title'];
                }
                ?>

                <li class="single-estate"  itemscope itemtype="http://schema.org/LocalBusiness">
                    <div class="agencies-first-part">

                        <div class="gird-item-estate-type estate-type-<?= $adv['request'] ?>" >
                            <span>
                                <?= $types . " - " . $request ?>
                            </span>
                        </div>

                        <div class="pull-right agencies-tell">
                            <span> زیربنا :</span>
                            <span ><?= (int) $adv['metrage'] ?></span>
                            <span> متر</span>
                        </div>

                        <div class="pull-right agencies-tell">
                            <span> زمین :</span>
                            <span ><?= (int) $adv['area'] ?></span>
                            <span> متر</span>
                        </div>

                        <div class="pull-right agencies-tell">
                            <span>
                                <span>قیمت :</span>
                                <?= (int) $adv['price'] ?> </span>
                        </div>


                        <div class="agencies-name">
                            <span> 
                                <span> تاریخ ثبت آگهی :</span>
                                <?php
                                if (!empty($adv['creationDate'])) {
                                    echo$adv['creationDate'];
                                }
                                ?></span>
                        </div>
                        <div class="pull-left agencies-tell">
                            <?php
                            $type = '';
                            switch ($adv['type']) {
                                case 201:
                                    $type .= 'apartment';
                                    break;
                                case 202 :
                                    $type .= 'villa';
                                    break;
                                case 203:
                                    $type .= 'land';
                                    break;
                                case 204:
                                    $type .= 'office';
                                    break;
                                case 205:
                                    $type.= 'shop';
                                    break;
                                case 206:
                                    $type .= 'property';
                                    break;
                            }
                            ?>
                            <!-- poste  estate-->
                            <form action="/addnew/<?= $type ?>/<?= $adv['id'] ?>" method="post">
                                <input type="hidden" name="advId" value="<?php echo $adv['id']; ?>">

                                <input type="submit" name="submit1" value="درج" class="btn btn-info"/>   

                            </form>


                        </div>

                        <br>
                        <div class="rf-content" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span>آدرس:</span>
                            <span class="show-field text-inp" >

                                <?php if (!empty($adv['city'])) { ?>
                                    <span class="file-view-item" itemprop="addressLocality">

                                        <span class="file-view-item-highlight">
                                            <?php
                                            if ($adv['city'] == 87) {
                                                echo 'تهران';
                                            }
                                            ?> 
                                        </span>
                                    </span>
                                <?php } ?>
                                <?php if (!empty($neighbor)) { ?>
                                    <span class="file-view-item" itemprop="addressLocality">
                                        <span>،</span>
                                        <span class="file-view-item-highlight">
                                            <?= $neighbor ?>
                                        </span>
                                    </span>
                                <?php } ?>
                                <span itemprop="addressLocality"></span>،

                                <?php if (!empty($adv['street'])) { ?>
                                    <span class="file-view-item" itemprop="addressLocality">

                                        <span class="file-view-item-highlight">
                                            <?= $adv['street'] ?>
                                        </span>
                                    </span>
                                <?php } ?>
                            </span>
                        </div>

                        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                            <meta itemprop="latitude" content="<?= $adv['latitude'] ?>" />
                            <meta itemprop="longitude" content="<?= $adv['longitude'] ?>" />
                        </div>

                        <div class="rf-content">
                            <div class="pull-left">
                                <a itemprop="url" target="_blank" href="/advs/<?= $adv['id'] ?>/view">
                                    <span>اطلاعات بیشتر</span>
                                </a>
                            </div>
                        </div>
                </li>

            <?php } ?>
        </ul>
   <!--un url le adv-index hast to module.config tarif shode va esme router hastesh--> 

        <?php
    if ($start != 0) {
        $beforStart = $start - $limit;
        $params = array('start' => $beforStart, 'page' => $beforStart / 30 + 1);
        ?>
        <a rel="prev" href="<?= $this->serverUrl($this->url('adv-index', array(), array('query' => $params))); ?>">
            قبلی
        </a>
        <link rel="prev" href="<?= $this->serverUrl($this->url('adv-index', array(), array('query' => $params))); ?>">
    <?php } ?>

    <?php
    if (($start + $limit) < $count) {
        $nextStart = $start + $limit;
        $params = array('start' => $nextStart, 'page' => $nextStart / 30 + 1);
        ?>
        <a rel="next" href="<?= $this->serverUrl($this->url('adv-index', array(), array('query' => $params))); ?>">
            بعدی
        </a>
        <link rel="next" href="<?= $this->serverUrl($this->url('adv-index', array(), array('query' => $params))); ?>">

    <?php } ?>

