<script type="text/javascript">
    var _CURRENT_ESTATE = <?= json_encode($adv); ?>;
</script>

<div class="apartment-form views">
    <div class="mk-docs-container">
        <div class="row">
            <div class="col-md-12">
                <div class="file-info">
                    <div class="col-md-8">

                        <div class="file-form-apartment" itemscope itemtype="http://schema.org/LocalBusiness">
                            <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                <meta itemprop="latitude" content="<?= $adv['latitude'] ?>" />
                                <meta itemprop="longitude" content="<?= $adv['longitude'] ?>" />
                            </div>
                            <div class="agahi-form">
                                <div>
                                    <span itemprop="name"><h1><?= $pageTitle ?></h1></span>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td colspan="4">
                                            <div class="cnt-table-content address"  itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                                <div class="rf-content">آدرس: </div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content">
                                                    <span class="show-field text-inp" >
                                                        <?php if (!empty($adv['city'])) { ?>
                                                            <span class="file-view-item"> 
                                                                <span itemprop="addressRegion"> 
                                                                    <?php
                                                                    if ($adv['city'] == 87) {
                                                                        echo 'تهران';
                                                                    }
                                                                    ?> 
                                                                </span>
                                                            </span>
                                                        <?php } ?>

                                                        <?php if (!empty($adv['neighborId'])) { ?>
                                                            <span class="file-view-item">
                                                                ،<span  itemprop="addressLocality"> <?= $adv['neighbor']['title'] ?> </span>
                                                                <span class="file-view-item-highlight neighborText"></span>
                                                            </span>
                                                        <?php } ?>

                                                        <?php if (!empty($adv['street'])) { ?>
                                                            <span class="file-view-item" >
                                                                <span>،</span>
                                                                <span class="file-view-item-highlight" itemprop="streetAddress">
                                                                    <?= $adv['street'] ?> 
                                                                </span>
                                                            </span>
                                                        <?php } ?>

                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">
                                                    <?php
                                                    if ($adv['request'] == 303) {
                                                        echo 'رهن';
                                                    } else {
                                                        echo 'قیمت';
                                                    }
                                                    ?>
                                                </div>
                                                <div class="lf-content">تومان</div>
                                                <div class="cf-content"><span id="price"  class="show-field number-inp comma" >
                                                        <?php
                                                        if (!empty($adv['price'])) {
                                                            echo (int) $adv['price'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?> 
                                                    </span> 

                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">
                                                    <?php
                                                    if ($adv['request'] == 303) {
                                                        echo 'اجاره:';
                                                    } else {
                                                        echo'متری:';
                                                    }
                                                    ?>
                                                </div>
                                                <div class="lf-content">تومان</div>
                                                <div class="cf-content">
                                                    <span id="exPrice" class="show-field number-inp comma" > 
                                                        <?php
                                                        if (!empty($adv['exPrice'])) {
                                                            echo (int) $adv['exPrice'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?>
                                                    </span></div>
                                            </div>
                                        </td>

                                    </tr>  
                                    
                                    <tr>
                                    <td>
                                        <div class="cnt-table-content">
                                            <div class="rf-content">تاریخ ثبت آگهی:</div>
                                            <div class="lf-content"></div>
                                            <div class="cf-content">
                                                <span tabindex="52" id="requestDate"  class="show-field text-inp " >
                                                    <?php
                                                    if (!empty($adv['creationDate'])) {
                                                        echo $adv['creationDate'];
                                                    } else {
                                                        echo '-';
                                                    }
                                                    ?>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                    

                                </table>
                            </div>

                            <!--   Tab index till here: 17; start from 18 -->

                            <div class="information-section">
                                <table class="table">
                                    <tr>

                                        </td>                                    
                                    </tr>
                                    <tr>

                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">زمین:</div>
                                                <div class="lf-content">متر</div>
                                                <div class="cf-content">
                                                    <span class="show-field comma number-inp" id="area" >
                                                        <?php
                                                        if (!empty($adv['area'])) {
                                                            echo (int) $adv['area'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>


                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">زیربنا:</div>
                                                <div class="lf-content">متر</div>
                                                <div class="cf-content">
                                                    <span id="metrage" class="show-field number-inp" >
                                                        <?php
                                                        if (!empty($adv['metrage'])) {
                                                            echo (int) $adv['metrage'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?>
                                                    </span> 
                                                </div>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td>
                                            <div class="cnt-table-content cnt-select">
                                                <div class="rf-content-select">خواب:</div>
                                                <span data-numbermap="true" class="show-field number-inp" id="beds" >
                                                    <?php
                                                    if (!empty($adv['beds'])) {
                                                        echo $adv['beds'];
                                                    } else {
                                                        echo '-';
                                                    }
                                                    ?> 
                                                </span>                                             
                                            </div>
                                        </td>

                                        <td>
                                            <div class="cnt-table-content">
                                                <div class="rf-content">سال ساخت:</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content">
                                                    <span id="yearBuilt"  class="show-field  number-inp digi" >
                                                        <?php
                                                        if (!empty($adv['yearBuilt'])) {
                                                            echo $adv['yearBuilt'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>

                                </table>
                            </div>
                            <div class="tozihat">
                                <div>
                                    <span>اطلاعات تماس</span>
                                </div>
                                <table class="table">
                                    <tr>
                                        
                                        <td colspan="5" class="agency-td">
                                            <div class="cnt-table-content">
                                                <div class="rf-content">کاربر:</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content">
                                                    <span class="show-field number-inp">
  
                                                       <?php
                                                        if (!empty($adv['phones'])) {
                                                            echo $adv['phones'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        ?>
                                                        ,
                                                         <?php
                                                        if (!empty($adv['cellphone'])) {
                                                            echo $adv['cellphone'];
                                                        } else {
                                                            echo '-';
                                                        }
                                                        
                                                        ?>
                                                        
                                                        ,
                                                         <?php
                                                        if (!empty($adv['isAgent']) && $adv['isAgent'] != false) {
                                                            echo 'مشاوره';
                                                        } else {
                                                            echo 'عادی';
                                                        }
                                                        ?>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>

                                        <td colspan="5" class="owner-td">
                                            <div class="cnt-table-content">
                                                <div class="rf-content">مالک:</div>
                                                <div class="lf-content"></div>
                                                <div class="cf-content">
                                                    <span class="show-field number-inp">

                                                        <?php if (!empty($adv['user']['firstname'])) { ?>
                                                            <?= $adv['user']['firstname'] ?>
                                                        <?php } ?>
                                                        , 
                                                        <?php if (!empty($adv['user']['lastname'])) { ?>
                                                            <?= $adv['user']['lastname'] ?>
                                                        <?php } ?>
                                                        ,
                                                        <?php if (!empty($adv['user']['cellphone'])) { ?>
                                                            <?= $adv['user']['cellphone'] ?>
                                                        <?php } ?>

                                                        
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </table>
                            </div>                         
                        </div>

                        </hr>

                    </div>


                    <div class="col-md-4">
                        <div class="file-show-map">
                            <div class="file-title">
                                <i class="icon-zoom pull-left"></i>
                                <span>نمایش روی نقشه</span>
                            </div>
                            <div> 
                                <img src="http://maps.googleapis.com/maps/api/staticmap?center=<?= $adv['latitude'] ?>,<?= $adv['longitude'] ?>&zoom=15&size=600x300&maptype=roadmap
                                     &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:%7C<?= $adv['latitude'] ?>,<?= $adv['longitude'] ?>
                                     &sensor=false&key=AIzaSyB93UdGcJbblwTxeQ9it5nPDKgL1_dKncY&language=fa" alt="<?= $pageTitle ?>" title="<?= $pageTitle ?>"> 
                            </div>
                        </div>
                        <div class="file-screenshot">
                            <div class="file-title">
                                <div id="carousel-generic" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <?php if (!empty($adv['photos'])) { ?>

                                            <?php foreach ($adv['photos'] as $photo) { ?>

                                                <div class="item">
                                                    <img itemprop="image" src="<?= $photo ?>" alt="">
                                                </div>
                                            <?php } ?>

                                        <?php } else { ?>
                                            <div class="item active">
                                                <img itemprop="image" src="/img/home-placeholder.png" alt="">
                                            </div>
                                        <?php } ?>                                     
                                    </div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-generic" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>
</div>