<?php
require_once dirname(dirname(dirname(dirname(__Dir__))))
. "/vendor/Mobile_Detect.php";
$detect = new \Mobile_Detect();
$uri    = $_SERVER['REQUEST_URI'];

if ($detect->isMobile() && $uri == '/') {
    ?>
    <html lang="fa" dir="rtl" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Organization">
    <head>

        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

        <title>ملکده: متفاوت بیابید</title>
        
    </head>

    <body class="mob-dl">

        <h1>
            به ملکده خوش آمدید
        </h1>

        <p style="margin-bottom: 50px;">
            برای دریافت نسخه موبایل ملکده به لینکهای زیر مراجعه کنید: 
        </p>
        <div class="mob-give clearfix">
            <a href="http://cafebazaar.ir/app/ir.teasa.melkade.client.android.app/?l=fa">
                <!--                        <input type="image" src="/img/android.png">-->
                <div>دریافت از کافه بازار</div>
            </a>
        </div>
        <div class="mob-give clearfix" style="margin-bottom:50px;">
            <a href="https://itunes.apple.com/us/app/melkade/id861754597">
                <!--                        <input type="image" src="/img/apple.png">-->
                <div>دریافت از App Store</div>
            </a>
        </div>
        <p>
            تلفنهای تماس:
        </p>
        <p>
            ۸۸۵۲۵۸۱۱
        </p>
        <p>
            ۸۸۵۲۸۴۳۹
        </p>
    </body>
    </html>
    <?php
}
else {
    ?>
    <?php
    echo $this->doctype();

    $sm = $this->getHelperPluginManager()->getServiceLocator();
    $em = $sm->get('Doctrine\ORM\EntityManager');

    $hydrator = $sm->get('Hydrator');
    $user = $this->identity();
    if ($user) {

        $agentId = $em->getRepository('\RealEstate\Entity\Agent')
        ->getUserAgent($user->getId());

        $array = $hydrator->extract($user);

        if ($agentId) {
            $array['agentId'] = $agentId->getId();
        } else {
            $array['agentId'] = null;
        }

        unset($array['password']);
    } else {
        $array = null;
    }
    $children = $this->viewModel()->getCurrent()->getChildren();
    $view = null;
    if (isset($children[0])) {
        $view = $children[0];
    }

    $title = ' جستجوی املاک مناطق 22 تهران بر روی نقشه';
    $desc = "ملکده با ثبت روزانه املاک مناطق 22 گانه تهران بر روی نقشه، فروش، پیش فروش و رهن و اجاره املاک را تسهیل می کند. برای ثبت ملک با ما تماس بگیرید: 88525811, 88528439";

    if ($view && $view->pageTitle) {
        $title = $view->pageTitle;
    }

    if ($view->pageDescription) {
        $descc = $view->pageDescription;
        $desc = "ملکده با ثبت روزانه املاک مناطق 22 گانه تهران بر روی نقشه، فروش، پیش فروش و رهن و اجاره املاک را تسهیل می کند. برای ثبت ملک با ما تماس بگیرید: 88525811, 88528439... $descc";
    }
    ?> 

    <html lang="fa" dir="rtl" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Organization">

    <head>

        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

        <title>ملکده: متفاوت بیابید-<?=$title?></title>
        <meta name="description" content="<?=$desc?>"> 
        <meta name="keywords" content="ملکده،آپارتمان،خانه،منزل،تهران،نقشه،خرید،رهن،فروش،اجاره،دفتر،زمین،اداری،ویلا،املاک،ملک،مسکن"> 

        <!-- Add the following three tags inside head. -->
        <meta itemprop="name" content="Melkade | ملکده">
        <meta itemprop="description" content="ملکده با ثبت روزانه املاک مناطق 22 گانه تهران بر روی نقشه، فروش، پیش فروش و رهن و اجاره املاک را تسهیل می کند. برای ثبت ملک با ما تماس بگیرید: 88525811, 88528439">
        <meta itemprop="image" content="../img/MelkadeLogo.png">

        <meta name="msvalidate.01" content="2B501600FD6F2F87FF5322150F7D76EE" />
        <meta name="robots" content="all" />
        <meta name="googlebot" content="all" />
        <meta name="alexaVerifyID" content="RFYCbi8LZIqXxBZWgByLlUw5V_I" />

        <meta property="og:title" content="ملکده: متفاوت بیابید-<?=$title?>" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<?= $this->serverUrl(true)?>" />
        <meta property="og:image" content="../img/melkade_fb.png" />
        <meta property="og:description" content="<?=$desc?>" />
        <meta property="og:site_name" content="Melkade ملکده" />

        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="<?= $this->serverUrl(true)?>">
        <meta name="twitter:title" content="ملکده: متفاوت بیابید-<?=$title?>">
        <meta name="twitter:description" content="<?=$desc?>">
        <meta name="twitter:image" content="../img/melkade_fb.png">
        <meta name="twitter:site" content="@melkade">
        <meta name="twitter:creator" content="@melkade">
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen">    

        <script>
            var CURRENT_USER = <?php echo json_encode($array); ?>;
        </script>
  
        <script data-main="/release/js/main.0.5.3.js" src="/js/vendor/requirejs/require.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-36394462-2', 'melkade.com');
          ga('require', 'displayfeatures');
          ga('send', 'pageview');

      </script>

      <?php
      if ($view && isset($view->start) && isset($view->count) && isset($view->limit)) {
        if ($view->start != 0) {
            $beforStart = $view->start - $view->limit;
            $params = array('start' => $beforStart, 'page' => $beforStart / 10 + 1);
            ?>
            <link rel="prev" href="<?= $this->serverUrl($this->url('home', array(), array('query' => $params))); ?>">
            <?php } ?>
            <?php
            if (($view->start + $view->limit) < $view->count) {
                $nextStart = $view->start + $view->limit;
                $params = array('start' => $nextStart, 'page' => $nextStart / 10 + 1);
                ?>
                <link rel="next" href="<?= $this->serverUrl($this->url('home', array(), array('query' => $params))) ?>">
                <?php }
            } ?>
        </head>

        <body>
            <div class="wrapper-all">
                <header class="navbar navbar-inverse navbar-fixed-top mk-docs-nav" role="navigation">
                    <div class="overwrite-container-nav">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">
                                <div class="header-icon">
                                </div>
                                <a target="_blank" href="http://cafebazaar.ir/app/ir.teasa.melkade.client.android.app/?l=fa" class="bazaar-wrapper">
                                    <span></span>
                                    <span>دریافت از کافه بازار</span>
                                </a>
                                <a target="_blank" href="https://itunes.apple.com/us/app/melkade/id861754597" class="apple-wrapper">
                                    <span></span>
                                    <span>دریافت از App Store</span>
                                </a>
                            </a>
                        </div>

                        <nav class="collapse navbar-collapse" id="mk-navbar-collapse" role="navigation">
                            <ul class="nav navbar-nav mk-navbar-nav">

                                <?php
                                if (!$user) {
                                    echo '<li class="login">
                                    <a href="/user/login" class="btn-head">
                                        <span>ورود</span>
                                    </a>                                
                                </li>
                                <li class="dropdown login">
                                    <a href="/signup" class="btn-head">
                                        <span>ثبت نام</span>
                                    </a>                                
                                </li>
                                <li class="dropdown login">
                                    <a href="/" class="btn-head">
                                        <span>آگهی ها</span>
                                    </a>                                
                                </li>
                                ';
                            } else {
                                if ($user->getType() == 2503) {
                                    echo '<li class="give">
                                    <a href="#" class="btn-head" data-toggle="modal" data-target="#modal-give">
                                        <span>بسپارید</span>
                                    </a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modal-give" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <ul>
                                                        <li>
                                                            <a href="/addnew/apartment"><span>آپارتمان</span></a>
                                                            <a href="/addnew/villa"><span>ویلایی</span></a>
                                                            <a href="/addnew/land"><span>زمین</span></a>
                                                        </li>
                                                        <li>
                                                            <a href="/addnew/office"><span>اداری</span></a>
                                                            <a href="/addnew/shop"><span>مغازه</span></a>
                                                            <a href="/addnew/property"><span>مستغلات</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                </li>';

                                echo '<li class="login">
                                <a href="/operators" class="btn-head">
                                    <span>آمار</span>
                                </a>                                
                            </li>';

                            echo '<li class="login"><a href="/admin/plans/form" class="btn-head"><span>ثبت پلن</span></a></li>';

                            echo '<li class="login"><a href="/advs" class="btn-head"><span>آگهی کاربران</span></a></li>';
                            echo '<li class="login"><a href="/admin/plan/form" class="btn-head"><span>پلن کاربران</span></a></li>';
                        } else {
                            echo '<li class="give"><a href="/melk" class="btn-head"><span>ثبت آگهی</span></a></li>';    
                        }



                        echo '<li class="dropdown drp-nav login">
                        <a class="dropdown-toggle btn-head" data-toggle="dropdown" href="#">
                            <span>' . $user->getFirstname() . ' ' . $user->getLastname() . '</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown login"><a href="/profile" class="btn-head"><span>صفحه کاربری</span></a></li>
                            <li class="dropdown login"><a href="/password" class="btn-head"><span>تغییر کلمه عبور</span></a></li>
                            <li class="dropdown login"><a href="/personals" class="btn-head"><span>آگهی های من</span></a></li>                                                
                            <li class="dropdown login"><a href="/bookmarks" class="btn-head"><span>علاقمندی ها</span></a></li>
                            <li class="dropdown login"><a href="/plan" class="btn-head"><span>پلن ها </span></a></li>
                            <li class="dropdown login"><a href="/user/logout" class="btn-head"><span>خروج</span></a></li>
                        </ul>
                    </li>';

                    echo '<li class="login"><a href="/" class="btn-head"><span>آگهی ها</span></a></li>';
                }

                echo '<li class="login"><a href="/agencies" class="btn-head"><span>آژانس ها</span></a></li>';
                echo '<li class="login"><a href="/agents" class="btn-head"><span>مشاورها</span></a></li>';
                 // echo '<li class="login"><a href="/charts" class="btn-head"><span>نمودار قیمت</span></a></li>';
                echo '<li class="dropdown login"><a href="/about" class="btn-head"><span>درباره</span></a></li>';
                ?>
            </ul>
        </nav>
    </div>
</header>
</div>

<div class="overwrite-container" >
    <?php echo $this->content; ?>

    <!-- /container -->
</div> 
<?php echo $this->inlineScript() ?>
<a class="hidden" href="https://plus.google.com/108035192712929752837" rel="publisher">Google+</a>

</body>
<script>
    var CURRENT_USER = <?php echo json_encode($array); ?>;
    var elemDiv = document.createElement('div');
    elemDiv.className="loading";
    document.body.appendChild(elemDiv);
</script>


</html>
<?php } ?>
