
<div class="plan-buy">
    <div>
        <form action="/admin/pla/save" method="post">
            <fieldset>
                <legend>کلیک</legend>
                <ul>
                    <li>
                        <input type="hidden" name="type" value="2802" />
                    </li>
                    <li>
                        <label>
                            <span>تعداد کاربر</span>
                        </label>
                        <input type="text" name="usersCount" value="" class="form-control" placeholder="تعداد"/>
                    </li>
                    <li>
                        <label>
                            <span>کاربر اول</span>
                        </label>
                        <input type="text" class="form-control" name="users[]" value=""  placeholder="آی دی" />
                    </li>
                    <li>
                        <label>
                            <span>کاربر دوم</span>
                        </label>
                        <input type="text" class="form-control" name="users[]" value="" placeholder="آی دی" />
                    </li>
                    <li>
                        <label>
                            <span>کاربر سوم</span>
                        </label>
                        <input type="text" class="form-control" name="users[]" value="" placeholder="آی دی" />
                    </li>
                    <li>
                        <label>
                            <span>مبلغ</span>
                        </label>
                        <input type="text"  name="amount" value="" class="form-control" placeholder="تومان"/>
                    </li>
                    <li>
                        <label>
                            <span> شماره آژانس </span>
                        </label>
                        <input type="text" name="agencyId" value="" class="form-control" placeholder="شماره تلفن"/>
                    </li>
                    <li>
                        <label>
                            <span> ماه</span>
                        </label>
                        <select name="months" class="">
                            <option value="1mahe">۱ ماه</option>
                            <option value="2mahe">۲ ماه</option>
                            <option value="3mahe">۳ ماه</option>
                            <option value="1mahe">۴ ماه</option>
                            <option value="2mahe">۵ ماه</option>
                            <option value="3mahe">۶ ماه</option>
                        </select>
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>Bill</legend>
                <ul>
                    <li>
                        <label>
                            <span> کاربر</span>
                        </label>
                        <input type="text" name="payerId" value="" class="form-control" placeholder="کاربر"/>
                    </li>
                    <li>
                        <label>
                            <span> شماره تراکنش</span>
                        </label>
                        <input type="text"  name="transactionNo" value="" class="form-control" placeholder="شماره"/>
                    </li>
                    <li>
                        <label>
                            <span> تاریخ پرداخت</span>
                        </label>
                        <input type="text"  name="billDate" value="" class="form-control" placeholder="تاریخ"/>
                    </li>
                    <li>
                        <label>
                            <span> مبلغ</span>
                        </label>
                        <input type="text"  name="amount" value="" class="form-control" placeholder="تومان"/>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-info">Bills</button>
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>
    <div>
        <form action="/admin/pla/save" method="post">
            <fieldset>
                <legend>نامحدود</legend>
                <ul>
                    <li>
                        <input type="hidden" name="type" value="2801" />
                    </li>
                    <li>
                        <label>
                            <span>تعداد کاربر</span>
                        </label>
                        <input type="text" name="usersCount" value="" class="form-control" placeholder="تعداد"/>
                    </li>
                    <li>
                        <label>
                            <span>کاربر اول</span>
                        </label>
                        <input type="text" class="form-control" name="users[]" value="" placeholder="آی دی" />
                    </li>
                    <li>
                        <label>
                            <span>کاربر دوم</span>
                        </label>
                        <input type="text" class="form-control" name="users[]" value="" placeholder="آی دی" />
                    </li>
                    <li>
                        <label>
                            <span>کاربر سوم</span>
                        </label>
                        <input type="text" class="form-control" name="users[]" value="" placeholder="آی دی" />
                    </li>
                    <li>
                        <label>
                            <span> مبلغ</span>
                        </label>
                        <input type="text"  name="amount" value="" class="form-control" placeholder="تومان"/>
                    </li>
                    <li>
                        <label>
                            <span> شماره آژانس </span>
                        </label>
                        <input type="text" name="agencyId" value="" class="form-control" placeholder="شماره تلفن"/>
                    </li>
                    <li>
                        <label>
                            <span> منطقه</span>
                        </label>
                        <select name="regions[]" multiple title="...انتخاب کنید">
                            <?php foreach ($neighbors as $neighbor) { ?>
                                <option value="<?php echo $neighbor->getId(); ?>"><?php echo $neighbor->getTitle(); ?></option>
                            <?php } ?>
                        </select>
                    </li>
                    <li>
                        <label>
                            <span> ماه</span>
                        </label>
                        <select name="months" class="">
                            <option value="1mahe">۱ ماه</option>
                            <option value="2mahe">۲ ماه</option>
                            <option value="3mahe">۳ ماه</option>
                            <option value="1mahe">۴ ماه</option>
                            <option value="2mahe">۵ ماه</option>
                            <option value="3mahe">۶ ماه</option>
                        </select>
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>Bill</legend>
                <ul>
                    <li>
                        <label>
                            <span> کاربر</span>
                        </label>
                        <input type="text" name="payerId" value="" class="form-control" placeholder="کاربر"/>
                    </li>
                    <li>
                        <label>
                            <span> شماره تراکنش</span>
                        </label>
                        <input type="text"  name="transactionNo" value=""  class="form-control" placeholder="شماره"/>
                    </li>
                    <li>
                        <label>
                            <span> تاریخ پرداخت</span>
                        </label>
                        <input type="text"  name="billDate" value="" class="form-control" placeholder="تاریخ"/>
                    </li>
                    <li>
                        <label>
                            <span> مبلغ</span>
                        </label>
                        <input type="text"  name="amount" value="" class="form-control" placeholder="تومان"/>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-info">Bills</button>
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>
</div>