
<table class="plan-buy">
    <tbody>
        <tr>
            <td>
        <tr>
            <td>
                <div align="right"> <h5 style="color:#000000;">ماه: <?php echo $plan->getMonths(); ?> </h5></div>
            </td>

        </tr>

        <tr>
            <td>
                <div align="right" >  <h5 style="color:#000000;"> کاربر: <?php echo $plan->getUsers(); ?></h5></div>
            </td>

        </tr>

        <tr>
            <td>
                <div align="right" ><h5 style="color:#000000;"> قیمت: <?php echo $plan->getAmount(); ?></h5></div>
            </td>

        </tr>

        <tr>
            <td>
                <div align="right" > <h5 style="color:#000000;"> شماره پرداخت : <?php echo $plan->getBillId(); ?></h5></div>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                <div align="right" > <h5 style="color:#000000;"> شماره آژانس : <?php echo $plan->getAgencyId(); ?></h5></div>
            </td>
            <td>

            </td>
        </tr>


        <tr>
            <td>

                <div align="right"> <h5 style="color:#000000;">  منطقه:
                        <?php
                        foreach ($regions as $region) {
                            echo "<b>" . $region->getTitle() . "</b>";
                            echo '-';
                        }
                        ?></h5>
                </div>

            </td>
        </tr>

        </td>
        </tr>

    </tbody>
</table>
<br>
<table class="plan-buy" >
    <tbody>
        <tr>
            <td>
        <tr>
            <td> 
                <h4 align="center" style="color: #0fcc89; font-size: 20px; padding-bottom: 10px;"> مشخصات پرداخت</h4>
            </td>
        </tr>
        <tr>
            <td>
                <div align="right"> <h5 style="color:#000000;">  کاربر: <?php echo $bill->getPayerId(); ?></h5></div>
            </td>

            <td>

            </td>
        </tr>
        <tr>
            <td>
                <div align="right"> <h5 style="color:#000000;">  شماره تراکنش: <?php echo $bill->getTransactionNo(); ?></h5></div>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                <div align="right">  <h5 style="color:#000000;"> تاریخ پرداخت: <?php echo $bill->getBillDate()->format('Y-m-d'); ?></h5></div>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                <div align="right"> <h5 style="color:#000000;">  مبلغ: <?php echo $bill->getAmount(); ?></h5></div>
            </td>
            <td>

            </td>
        </tr>

        </td>                          
        </tr>
    </tbody>
</table>

