
<table class="plan-buy" >
    <tbody>
        <tr>
            <td>
        <tr>
            <td> 
                <h4 align="center" style="color: #0fcc89; font-size: 20px; padding-bottom: 10px;"> مشخصات پرداخت</h4>
            </td>
        </tr>
        <tr>
            <td>
                <div align="right"> <h5 style="color:#000000;">  کاربر: <?php echo $bill->getPayerId(); ?></h5></div>
            </td>

            <td>

            </td>
        </tr>

        <tr>
            <td>
                <div align="right"> <h5 style="color:#000000;">  مبلغ: <?php echo $bill->getAmount(); ?></h5></div>
            </td>
            <td>

            </td>
        </tr>

        <tr>
            <td>
                <div align="right"> <h5 style="color:#000000;">  شماره تراکنش: <?php echo $bill->getTransactionNo(); ?></h5></div>
            </td>
            <td>

            </td>
        </tr>

        <tr>
            <td>
                <div align="right">  <h5 style="color:#000000;"> تاریخ پرداخت: <?php echo $bill->getBillDate()->format('Y-m-d'); ?></h5></div>
            </td>
            <td>

            </td>
        </tr>

        </td>                          
        </tr>
    </tbody>
</table>
