

<table class="plan-buy">
    <tbody>
        <tr>
            <td>
                <div align="right"> <h5 style="color:#000000;">  ماه: <?php echo $plan->getMonths(); ?></h5></div>
            </td>
            <td>

            </td>
        </tr>

        <tr>
            <td>
                <div align="right" >   <h5 style="color:#000000;"> کاربر: <?php echo $plan->getUsers(); ?></h5></div>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                <div align="right" > <h5 style="color:#000000;"> قیمت: <?php echo $plan->getAmount(); ?></h5></div>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                <div align="right" > <h5 style="color:#000000;"> شماره آژانس : <?php echo $plan->getAgencyId(); ?></h5></div>
            </td>
            <td>

            </td>
        </tr>

        <tr>
            <td>

                <div align="right"> <h5 style="color:#000000;">   منطقه:
                        <?php
                        foreach ($regions as $region) {
                            echo "<b>" . $region->getTitle() . "</b>";
                            echo '-';
                        }
                        ?></h5>
                </div>

            </td>
            <td>

            </td>
        </tr>
        </td>
        </tr>

    </tbody>
</table>

<table class="plan-buy">
    <tbody>
        <tr>
            <td>
                <form action="/plans/payment" method="post">
                    <input type="hidden" name="plan_id" value="<?php echo $plan->getId(); ?>">
                    <tr>
                        <td>
                            <label>
                                <span style="color:#000000;">بانک</span>
                            </label>
                            <select name="bank"  style="width:200px;" align="right" class="form-control">
                                <option value="enbank">اقتصاد نوین</option>
                                <option value="mellat"> ملت</option>
                                <option value="parsian">پارسیان</option>
                            </select>
                        </td>
                    </tr>

                    <tr align="center">
                        <td>
                            <br>
                            <input type="submit" name="submit1" value="تایید" class="btn btn-info" style="margin: 10px 0 ;width: 120px;"/>
                            <br>
                            
                        </td>
                </form>
                <form action="/plans/buy" method="post">
                    <td>
                        <br>
                        <input type="submit" name="submit2" value="بازگشت"  class="btn btn-info" style="margin: 10px 0 ;width: 120px;float: right;"/>
                        <br>
                    </td>
                </form>
        </tr>
        </td>
        </tr>
    </tbody>
</table>

