<table align="center" width="800pxl" style=" background-color:#FFFFFF;  border: 1px solid #EDEDED; box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2); height:100px;">
    <tbody>
        <tr align="center">
            <td>
                <form action="https://modern.enbank.net/CardServices/controller" method="post">
                    <input type="hidden" name="Amount" value="<?php echo $plan->getAmount(); ?>">
                    <input type="hidden" name="ResNum" value="<?php echo $plan->getId(); ?>">
                    <input type="hidden" name="MID" value="123456">
                    <input type="submit" name="susersubmit1" value="پرداخت" class="btn btn-info" style="margin: 10px 0 ;width: 120px;float: none;"/>
                </form>
               
        </tr>
    </tbody>
</table>
