<table align="center" width="800pxl" style="background-color:#A4D4B0; height:100px;">
    <tbody>
        <tr align="center">
            <td>
                <h1> pardakht ba movafaghiat anjam shode </h1>
        </tr>
    </tbody>
</table>
  