

<?php
$form = $this->loginForm;
$form->prepare();
$form->setAttribute('action', $this->url('zfcuser/login'));
$form->setAttribute('method', 'post');
?>
<div class="user-login">
    <form id="login-form" action="/user/login" method="post" role="form">
        <div>
            <ul>
                <li>
                    <div><span>تلفن همراه</span></div>
                    <input class="number-inp" type="text" name="identity" placeholder="09121234567"></input>
                </li>
                <li>
                    <div><span>کلمه عبور</span></div>
                    <input class="number-inp" name="credential" type="password" placeholder=""></input>
                </li>
                <li>
                    <input type="hidden" name="remember_me" value="0">                   
                    <input type="checkbox" class="error" value="1" checked="true" tabindex="9" name="remember_me" id="tos_agree" style="display:inline;float:right;height:0;margin-bottom:0;margin-left:5px;">
                    <div>به خاطر بسپار</div>

                </li>
                <li>                   
                    <span class="msg-container login-msg-container alert alert-danger"  <?php if ($this->formElementErrors($form->get('identity')) != '') { ?>style="visibility:visible"<?php } ?>>
                        <?php if($this->formElementErrors($form->get('identity')) != '') { ?>  
              تلفن همراه یا کلمه عبور اشتباه میباشد
                        <?php } ?>                        
                    </span>
                    <button onclick="return checkValidation(this)" style="width:100%;" class="btn login-melkade btn-primary btn-green" type="submit">ورود</button>
                </li>
            </ul>
        </div>
    </form>
</div>

<script>    
    validation = function() {

        var valid = true;
        if ($('[name=identity]').val() == '') {
            $('.msg-container').css('visibility', 'visible');
            $('.msg-container').html('لطفا تلفن همراه خود را وارد کنید.');
            return false;
        }

        if ($('[name=credential]').val() == '') {
            $('.msg-container').css('visibility', 'visible');
            $('.msg-container').html('لطفا رمز خود را وارد کنید.');
            return false;
        }
        return true;
    };
    
    var checkValidation = function(e){
        $(".loading").fadeOut();
        if (validation()) {
            $('form', this.$el).submit();
        }       
        return false;
    }
</script>
