
<div class="plan-buy">
<h4 align="center" style="color: #0fcc89; font-size: 20px; padding-bottom: 10px;"> مشخصات پرداخت</h4>
<?php foreach ($subscription['items'] as $_subscription) { ?>
<table>
    <tbody>
        <tr>
            <td>
                <tr>
                    <td> 
                        
                        <h4 align="center" style="color: #0fcc89; font-size: 20px; padding-bottom: 10px;"></h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div align="right"> <h5 style="color:#000000;">  کاربر :  <?php echo $user->getLastname(); ?></h5></div>
                    </td>

                </tr>

                <tr>
                    <td>
                        <div align="right"> <h5 style="color:#000000;">  مبلغ :  <?php echo $_subscription->getBillAmount(); ?></h5></div>
                    </td>

                </tr>

                <tr>
                    <td>
                        <div align="right">  <h5 style="color:#000000;"> تاریخ پرداخت :  <?php echo $billDate[$_subscription->getId()]; ?></h5></div>
                    </td>

                </tr>

                <tr>
                    <td>
                        <div align="right">  <h5 style="color:#000000;"> تاریخ شروع  :  <?php echo $startDate[$_subscription->getId()]; ?></h5></div>
                    </td>

                </tr>

                <tr>
                    <td>
                        <div align="right">  <h5 style="color:#000000;"> تاریخ پایان :  <?php echo $endDate[$_subscription->getId()]; ?></h5></div>
                    </td>

                </tr>

                <tr>
                    <td>
                        <div align="right">  <h5 style="color:#000000;">  شماره تراکنش  :  <?php echo $_subscription->getTransactionNo(); ?></h5></div>
                    </td>

                </tr>

                <tr>
                    <td>
                        <div align="right"> <h5 style="color:#000000;">  نوع اشتراک  : 
                            <?php
                            if ($_subscription->getPlan() == 3001) {
                                echo 'برنزی';
                            } elseif ($_subscription->getPlan() == 3002) {
                                echo 'نقره ای';
                            } elseif ($_subscription->getPlan() == 3003) {
                                echo 'طلایی';
                            } elseif ($_subscription->getPlan() == 3004) {
                                echo 'الماس';
                            }
                            ?>
                        </h5></div>
                    </td>

                </tr>

                <tr>
                    <td>
                        <div align="right">  <h5 style="color:#000000;"> تعداد آگهی مجاز : <?php echo $_subscription->getAdsNumber(); ?></h5></div>
                    </td>

                </tr>

                <tr>
                    <td>
                        <div align="right">  <h5 style="color:#000000;"> تعداد آگهی ثبت شده : <?php echo $_subscription->getUsedAds(); ?></h5></div>
                    </td>

                </tr>


            </td>
        </tr>
    </tbody>
</table>

<?php } ?>
</div>


