
<div class="col-md-8  col-md-offset-2">
    <div class="agents-list-title"><h1>مشاورین املاک:</h1></div>
    <div class="agents-search-wrapper">
        <form action="/agents" method="post" role="form">
            <div class="cnt-search">
                <input type="text" placeholder="جستجوی مشاور ..." class="home-input-search agent-input" name="search_query">
                <button class="btn btn-primary btn-red neighbor-search-btn agents-search-btn" type="submit">بیابید</button>
            </div>
        </form>
    </div>
    <ul class="agents-list">  
        <?php foreach ($result['items'] as $agent) { ?>


        <li itemscope itemtype="http://schema.org/Person">
            <div class="agents-first-part">
                <div class="pull-left agencies-view">
                    <a itemprop="url" target="_blank" class="btn-head" href= "/agents/<?=$agent['id']?>/estates">
                        <span>آگهی ها</span>
                    </a>
                </div>
                <div class="pull-left agents-tell">
                    <span>شماره تماس:</span>
                    <span itemprop="telephone"><?= $agent['cellphone'] ?></span>
                </div>
                <div class="pull-right agents-name">
                    <span itemprop="jobTitle">مشاور املاک</span>:
                    <span itemprop="name"><?= $agent['firstname'] ?> <?= $agent['lastname'] ?></span>
                </div>
                
                <div class="pull-right agents-name">
                    <span>آژانس:</span>
                    <!--agency hamun id ke tu index select user ba agent va agency join shode--> 
                    <a target="_blank" href= "/agency/<?=$agent['agency']?>/estates">
                        <span><?= $agent['name'] ?></span></a>
                </div>
                 
                <div class="pull-right agents-count">
                    <span>تعداد آگهی‌ها:</span>
                    <span> <?= $agent['count'] ?></span>
                </div>
                
            </div>
        </li>


        <?php } ?>
    </ul>

    <div class="agency-pagination">
        <?php 

        if ($start != 0) {
            $beforStart = $start - $limit;
            $params = array('start' => $beforStart, 'page' => $beforStart/10+1);  
            ?>
            <a rel="prev" href="<?= $this->serverUrl($this->url('agent-index', array(), array('query' => $params))); ?>">
                قبلی
            </a>
            <link rel="prev" href="<?= $this->serverUrl($this->url('agent-index', array(), array('query' => $params))); ?>">
            <?php } ?>

            <?php
            if (($start + $limit) < $count) {
                $nextStart = $start + $limit;
                $params = array('start' => $nextStart, 'page' => $nextStart/10+1);
                ?>
                <a rel="next" href="<?= $this->serverUrl($this->url('agent-index', array(), array('query' => $params))); ?>">
                    بعدی
                </a>
                <link rel="next" href="<?= $this->serverUrl($this->url('agent-index', array(), array('query' => $params))); ?>">

                <?php } ?>
            </div>
        </div>
