<div class="about-wrapper">
    <div class="about">
        <h1>ملکده: متفاوت بیابید</h1>
        <div>
            نرم افزار ملکده، نصب شده بر روی چند ده هزار موبایل، با قابلیت جستجو بر روی نقشه تهران، در حال تبدیل به رسانه جدیدی برای ارتباط فعالان حوزه املاک و مشتریان آنها می باشد. ملکده با ثبت روزانه املاک تهران بر روی نقشه به همراه امکان عکسبرداری، فروش، پیش فروش و رهن و اجاره املاک را تسهیل می کند. با وجود ثبت چند ده هزار آگهی در وب‌سایت، به دلیل محدودیت‌های موبایل، تنها آگهی‌های ۲ هفته قبل را بر روی موبایل نمایش میدهد. کاربران ملکده امکان ثبت ماهیانه یک آگهی رایگان را دارند. 
            <br>
            ملکده راهیست آسان برای ارتباط فعالان حوزه املاک و متقاضیان املاک. نرم افزار موبایل ملکده، تاکنون بر روی چند ده هزار موبایل نصب شده است و روزانه به تعداد کاربران آن افزوده می‌شود، از مزایای ملکده میتوان به موارد زیر اشاره کرد:
            <ul>
            <li>- به راحتی با گوشی تلفن همراه خود آگهی ثبت می کنید.</li>
            <li>- هرماه یک آگهی را بصورت رایگان ثبت می کنید.</li>
            <li>- به کمک نسخه موبایل، املاک شما  سریعتر از املاک دیگر پیدا می می‌شوند.</li>
            <li>- بیشتر دیده می‌شوید و بهتر رقابت می‌کنید، روزانه چندین هزار نفر از املاک ثبت شده در ملکده بازدید می‌کنند.</li>
              <li>- با عکسبرداری موبایل از ملک و پیوست آن به آگهی، امکان رقابت بهتری دارید.</li>
              <li>- از طریق پیامک از رویدادها مطلع خواهید شد.</li>

            <li>- از اوضاع بازار مسکن بر روی گوشی همراه خود با خبر می‌شوید.</li>
            </ul>
          <ul>
            <li><h1>تعرفه‌ها</h1></li>
            <li>لطفا پلن مورد نظر خود را انتخاب و مبلغ را به شماره کارت ۶۱۰۴۳۳۷۰۹۰۹۵۴۸۸۲ - بانک ملت به نام مجید قاسمی - واریز نمایید و سپس با شماره تلفن‌های ۸۸۵۲۵۸۱۱ یا ۸۸۵۲۸۴۳۹ تماس بگیرید. </li>
            <li>
                <table class="table">
                    <tr>
                        <th>پلن برنزی</th>
                        <th>پلن نقره‌ای</th>
                        <th>پلن طلایی</th>
                        <th>پلن الماس</th>
                    </tr>
                    <tr>
                        <td>۵۰ آگهی در ماه</td>
                        <td>۱۰۰ آگهی در ماه</td>
                        <td>۱۵۰ آگهی در ماه</td>
                        <td>۲۰۰ آگهی در ماه</td>
                    </tr>
                    <tr>
                        <td>۸۰ هزار تومان</td>
                        <td>۱۴۰ هزار تومان</td>
                        <td>۱۹۰ هزار تومان</td>
                        <td>۲۳۰ هزار تومان</td>
                    </tr>
                    <tr>
                        <td style="font-size:12px" colspan="4"><span>* ۳ ماه ۱۰٪ تخفیف، ۶ ماه ۱۵٪ تخفیف، معرفی همکاران ۲۰٪ از قرارداد</span></td>
                    </tr>
                </table>
            </li>
        </ul>
    </div>

    <div class="social-wrapper">
        <div class="social-f">
            <div class="fb-like" data-href="https://facebook.com/MelkadeApp" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
        </div>

        <div class="social-t">
            <a href="https://twitter.com/Melkade" class="twitter-follow-button" data-show-count="false">Follow @Melkade</a>
        </div>

        <div class="social-t">
            <a href="/rss.xml" class="twitter-follow-button"><img title="RSS" alt="RSS" style="width:24px; height:24px;margin-top:-15px;"  src="../img/rss_circle_color-48.png"></a>
        </div>

        <div style="Roboto, sans-serif;font-size:12px;float:left;margin-top:-5px;">
            <a target="_blank" href="http://teasa.ir/">Teasa © </a> 2014 Founded with love in Tehran -<a href="mailto:melkade@teasa.ir?Subject=From Melkade.com" target="_top">
            email </a>
        </div>
    </div>
</div>

<div id="fb-root"></div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>