<?php echo '<?xml version="1.0" encoding="UTF-8"?>' ?>
<rss version="2.0"> 

    <channel>
        <title>Melkade | ملکده</title>
        <link>http://melkade.com</link>
        <description>متفاوت بیابید، جستجوی املاک مناطق 22 تهران بر روی نقشه</description>
        <language>Fa | فارسی</language>

        <?php foreach ($result['items'] as $estate) { ?>

            <?php
            $request = '';
            switch ($estate['request']) {
                case 301:
                    $request .= 'خرید ';
                    break;
                case 303:
                    $request .= ' رهن و اجاره';
                    break;
                case 302:
                    $request .= 'پیش فروش ';
            }

            $pagTitle = '';
            switch ($estate['type']) {
                case 201:
                    $pagTitle .= 'آپارتمان ';
                    break;
                case 202 :
                    $pagTitle .= 'ویلایی ';
                    break;
                case 203:
                    $pagTitle .= 'زمین ';
                    break;
                case 204:
                    $pagTitle .= 'اداری ';
                    break;
                case 205:
                    $pagTitle .= 'مغازه ';
                    break;
                case 206:
                    $pagTitle .= 'مستغلات ';
                    break;
            }
            ?>
            <?php
            $neighbor = '';
            if (isset($estate['neighbor']['title'])) {
                $neighbor = $estate['neighbor']['title'];
            }
            ?>

            <?php $pageTitle = ' ' . $request . ' ' . $pagTitle . ' ' . (int) $estate['metrage'] . ' متری  ' . ',' . $neighbor . ' ' . ' ,' . $estate['street']; ?> 

            <item>
                <title><?=$pageTitle ?></title>
                <link>http://melkade.com/estates/<?=$estate['id']?>/view</link>
                <description>قیمت کل/رهن: <?=$estate['price']?> تومان، قیمت متری/اجاره: <?= $estate['exPrice'] ?> تومان</description>
                <pubDate><?=$estate['creationDate']?></pubDate>
                <author>info@melkade.com</author>
            </item>

<?php } ?>
    </channel>
</rss>