
<div class="compare-container">
    <div class="compare-apartment">
        <div class="row">
            <div class="col-md-12">

                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <td class="title-compare" colspan="3">
                                <div class="title-form">
                                    <span>آگهی زمین</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>آگهی</span>
                            </td>
                            <%
                            for (var i in models) {
                                print('<td> <span>' + labels['request'][models[i].get('request')] + '</span></td>');
                            }
                            %>
                        </tr>
                        <tr>
                            <td>
                                <span>قیمت</span>
                            </td>
                            <%
                            for (var i in models) {
                                print('<td> <span>' + (models[i].get('price') ? models[i].get('price') : models[i].get('exPrice')) + '</span></td>');
                            }
                            %>
                        </tr>
                        <tr>
                            <td>
                                <span>متری</span>
                            </td>
                            <%
                            for (var i in models) {
                                print('<td> <span>' + (models[i].get('exPrice') ? models[i].get('exPrice') : '') + '</span></td>');
                            }
                            %>
                        </tr>
                        <tr>
                            <td>
                                <span>وام</span>
                            </td>
                            <%
                            for (var i in models) {
                                print('<td> <span>' + models[i].get('loan') + '</span></td>');
                            }
                            %>
                        </tr>
                        <tr>
                            <td>
                                <span>آگهی دهنده</span>
                            </td>
                            <%
                            for (var i in models) {
                                print('<td> <span>' + labels['advertisedBy'][models[i].get('advertisedBy')] + '</span></td>');
                            }
                            %>
                        </tr>
                        <tr>
                            <td>
                                <span>مشخصات آگهی دهنده</span>
                            </td>
                            <%
                            for (var i in models) {
                                if (models[i].get('advertisedBy') == 101) { // owner
                                    print('<td> <span>' + models[i].get('ownerUser')['lastname'] + '-' +  models[i].get('ownerUser')['cellphone'] + '</span></td>');
                                }
                            else {
                                print('<td> <span>' + models[i].get('agency')['name']+ '-' + models[i].get('agency')['phone'] + '-' + models[i].get('agentUser')['lastname'] + '-' + models[i].get('agentUser')['cellphone'] + '</span></td>');
                            }
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>خیابان</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + models[i].get('street')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td class="title-compare" colspan="3">
                            <div class="title-form">
                                <span>مشخصات</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>زمین</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + models[i].get('area')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>اصلاحی</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + ( models[i].get('refinement') ? models[i].get('refinement') : '' ) + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>وضعیت سند</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + labels['document'][models[i].get('document')]  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>دستور نقشه</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + labels['plan'][models[i].get('plan')]  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>جوازساخت</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + (labels['permission'][models[i].get('permission')] ? labels['permission'][models[i].get('permission')] : '')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>جهت</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td>');
                            for (var j in models[i].get('direction')) {
                                print('<span>' + labels['direction'][models[i].get('direction')[j]] + '</span>,');
                            }
                            print('</td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>بَر</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + labels['sides'][models[i].get('sides')]  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td class="title-compare" colspan="3">
                            <div class="title-form">
                                <span>توضیحات</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>تاریخ انتشار</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + (models[i].get('requestDate') ? new Date(models[i].get('requestDate')['date']).toLocaleDateString() : '' ) + '</span></td>');
                        }
                        %>
                    </tr>
                    

                    <tr>
                        <td>
                            <span>توضیحات بازدید</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + (models[i].get('visitDescription') ? models[i].get('visitDescription') : '' ) + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>توضیحات بیشتر</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + (models[i].get('description') ? models[i].get('description') : '' ) + '</span></td>');
                        }
                        %>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>-->











