
<div class="compare-container">
    <div class="compare-apartment">
        <div class="row">
            <div class="col-md-12">

                <table class="table table-striped table-hover">
                    <tbody>
                        <tr>
                            <td class="title-compare" colspan="3">
                                <div class="title-form">
                                    <span>آگهی اداری</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>آگهی</span>
                            </td>
                            <%
                            for (var i in models) {
                                print('<td> <span>' + labels['request'][models[i].get('request')] + '</span></td>');
                            }
                            %>
                        </tr>
                        <tr>
                            <td>
                                <span>قیمت</span>
                            </td>
                            <%
                            for (var i in models) {
                                print('<td> <span>' + (models[i].get('price') ? models[i].get('price') : models[i].get('exPrice')) + '</span></td>');
                            }
                            %>
                        </tr>
                        <tr>
                            <td>
                                <span>متری</span>
                            </td>
                            <%
                            for (var i in models) {
                                print('<td> <span>' + (models[i].get('exPrice') ? models[i].get('exPrice') : '') + '</span></td>');
                            }
                            %>
                        </tr>
                        <tr>
                            <td>
                                <span>وام</span>
                            </td>
                            <%
                            for (var i in models) {
                                print('<td> <span>' + models[i].get('loan') + '</span></td>');
                            }
                            %>
                        </tr>
                        <tr>
                            <td>
                                <span>آگهی دهنده</span>
                            </td>
                            <%
                            for (var i in models) {
                                print('<td> <span>' + labels['advertisedBy'][models[i].get('advertisedBy')] + '</span></td>');
                            }
                            %>
                        </tr>
                        <tr>
                            <td>
                                <span>مشخصات آگهی دهنده</span>
                            </td>
                            <%
                            for (var i in models) {
                                if (models[i].get('advertisedBy') == 101) { // owner
                                    print('<td> <span>' + models[i].get('ownerUser')['lastname'] + '-' +  models[i].get('ownerUser')['cellphone'] + '</span></td>');
                                }
                            else {
                                print('<td> <span>' + models[i].get('agency')['name']+ '-' + models[i].get('agency')['phone'] + '-' + models[i].get('agentUser')['lastname'] + '-' + models[i].get('agentUser')['cellphone'] + '</span></td>');
                            }
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>خیابان اصلی</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + models[i].get('street')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td class="title-compare" colspan="3">
                            <div class="title-form">
                                <span>واحد</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>خواب</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + models[i].get('beds')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>زیربنا</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + models[i].get('metrage')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>پارکینگ</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + models[i].get('parking')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>تلفن</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + models[i].get('phones')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>سرویس ایرانی</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + models[i].get('irToilets')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>سرویس فرنگی</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + models[i].get('toilets')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>کف</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td>');
                            for (var j in models[i].get('floor')) {
                                print('<span>' + labels['floor'][models[i].get('floor')[j]] + '</span>,');
                            }
                            print('</td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>آشپرخانه مبله</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + labels['kitchenFurnishment'][models[i].get('kitchenFurnishment')]  + '</span></td>');
                        }
                        %>
                    </tr>

                    <tr>
                        <td class="title-compare" colspan="3">
                            <div class="title-form">
                                <span>ساختمان</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>وضعیت سند</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + labels['document'][models[i].get('document')]  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>کل طبقات</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + models[i].get('stories')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>تعداد واحدها</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + models[i].get('units')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>طبقه</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + models[i].get('storey')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>واحد</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + models[i].get('unit')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>سال ساخت</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + models[i].get('yearBuilt')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>بازسازی شده</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + (models[i].get('quality') ? labels['quality'][models[i].get('quality')] : '' ) + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>نما</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td>');
                            for (var j in models[i].get('frontage')) {
                                print('<span>' + labels['frontage'][models[i].get('frontage')[j]] + '</span>,');
                            }
                            print('</td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>تهویه</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td>');
                            for (var j in models[i].get('airconditioner')) {
                                print('<span>' + labels['airconditioner'][models[i].get('airconditioner')[j]] + '</span>,');
                            }
                            print('</td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>جهت</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td>');
                            for (var j in models[i].get('direction')) {
                                print('<span>' + labels['direction'][models[i].get('direction')[j]] + '</span>,');
                            }
                            print('</td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>زمین</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + models[i].get('area')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>عرض گذر</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + models[i].get('width')  + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>ساختمان</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td>');
                            for (var j in models[i].get('deal')) {
                                print('<span>' + labels['deal'][models[i].get('deal')[j]] + '</span>,');
                            }
                            print('</td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>زمان تحویل</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + (models[i].get('dueDate') ? models[i].get('dueDate') : '' ) + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td class="title-compare" colspan="3">
                            <div class="title-form">
                                <span>امکانات</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>امکانات رفاهی</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td>');
                            for (var j in models[i].get('equipments')) {
                                print('<span>' + labels['equipments'][models[i].get('equipments')[j]] + '</span>,');
                            }
                            print('</td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>امکانات امنیتی</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td>');
                            for (var j in models[i].get('securities')) {
                                print('<span>' + labels['securities'][models[i].get('securities')[j]] + '</span>,');
                            }
                            print('</td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td class="title-compare" colspan="3">
                            <div class="title-form">
                                <span>توضیحات</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>تاریخ انتشار</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + (models[i].get('requestDate') ? new Date(models[i].get('requestDate')['date']).toLocaleDateString() : '' ) + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>توضیحات بازدید</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + (models[i].get('visitDescription') ? models[i].get('visitDescription') : '' ) + '</span></td>');
                        }
                        %>
                    </tr>
                    <tr>
                        <td>
                            <span>توضیحات بیشتر</span>
                        </td>
                        <%
                        for (var i in models) {
                            print('<td> <span>' + (models[i].get('description') ? models[i].get('description') : '' ) + '</span></td>');
                        }
                        %>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>